<div class="wrapper"
     (click)="prepareAudioElement()">
  <div class="gaming">
    <div class="menu-container" [class.mobile-hidden]="isMenuVisible$ | async">
      <game-main-menu class="gaming-menu"></game-main-menu>
    </div>
    <div class="gaming__wrapper">
      <div class="gaming__spot" *ngIf="(gameReady$ | async)"></div>
      <div class="gaming__body">
        <div class="gaming__right-content">
          <div class="gaming__right-content-wrapper">
            <div class="board-block">
              <div class="board-block__wrapper"
                  wcHideScrollbar
                  [class.board-block__wrapper--result-shown]="showResult$ | async"
                  [class.board-block__wrapper--flipped]="boardIsFlipped$ | async"
              >
                <div class="board-block__head">
                  <game-user-badge [player]="opponent$ | async"
                                   [playerName]="opponentName$ | async"
                                   [timer]="opponentTimer$ | async"
                                   [materialAdvantage]="opponentMaterialAdvantage$ | async"
                                   [capturedFigures]="capturedByOpponent$ | async"
                                   [capturedFigureColor]="playerColor$ | async"
                                   [messageDisplayed]="topBadgeNotify | async"
                                   [isMyMove]="isOpponentMove$ | async"
                                   [isPromotionPopupVisible]="promotionPopupVisible$ | async"
                                   [gameReviewMode]="gameReviewMode$ | async"
                                   [timeLimitNotification]="opponentTimeLimitNotification$ | async"
                                   [playerRank]="opponentRank$ | async"
                                   [playerScore]="opponentScore$ | async"
                                   [showPlayerTournamentScore]="(tournamentCurrentTourNumber$ | async) > 1"
                                   *ngIf="!(boardIsFlipped$ | async)"
                  >
                    <div class="player__result" *ngIf="(_gameInProgress$ | async) || (isLastTour$ | async)">
                      <ng-container *ngIf="topBadgeNotify | async as notify">
                        <ng-container [ngSwitch]="notify.notificationType">
                          <ng-container *ngSwitchCase="GameBadgeNotificationType.Message">
                            <div class="player__result--message">
                              {{ notify.notification }}
                            </div>
                          </ng-container>
                          <ng-container *ngSwitchCase="GameBadgeNotificationType.Info">
                            <div class="player__result--info">
                              {{ notify.notification }}
                            </div>
                          </ng-container>
                          <ng-container *ngSwitchCase="GameBadgeNotificationType.ReadyToOfferDraw">
                            <div class="player__notification">
                              <div class="player__notification-title">
                                {{ notify.notification }}
                              </div>
                              <div class="player__notification-text">{{ 'TEXT.MAKE_MOVE_OFFER' | translate }}</div>
                            </div>
                          </ng-container>
                          <ng-container *ngSwitchCase="GameBadgeNotificationType.OfferedDraw">
                            <div class="player__notification">
                              <div class="player__notification-title">
                                {{ notify.notification }}
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div *ngIf="!(_gameInProgress$ | async) && (isResultShown$ | async) && !(isLastTour$ | async)">
                      <wc-tournament-next-opponent></wc-tournament-next-opponent>
                    </div>
                  </game-user-badge>
                </div>
                <div class="board-block__aside">
                  <div [class.game-menu-board-flipped]="boardIsFlipped$ | async" *ngIf="!(getShowChat$ | async)">
                    <game-menu (offerDraw)="offerDraw()"
                               (resign)="resign()"
                               (cancelDraw)="cancelDrawOffer()"
                               [isTournamentMenu]="true"
                               (toggleChat)="showChat()"
                    ></game-menu>
                  </div>
                  <game-chat *ngIf="(getShowChat$ | async)"
                             (hideChat)="showChat()"
                             [chatID]="(_getChatID$ | async)"
                  >
                  </game-chat>
                  <a href="javascript:void(0)"
                     class="menu-game-buttons__btn menu-game-buttons__btn--scale flip-back-control"
                     [class.flip-back-control-visible]="boardIsFlipped$ | async"
                     (click)="flipBack()"
                  >
                    <div class="menu-game-buttons__icon">
                      <svg-flip-board class="icon"></svg-flip-board>
                    </div>
                    <div class="menu-game-buttons__signature">
                      <span>
                        {{ 'MESSAGES.FLIP_BACK' | translate }}
                      </span>
                    </div>
                  </a>
                </div>
                <div class="board-block__board">
                  <game-chess-board [isTournamentBoard]="true" [countdownTimer]="countdownTimer$ | async">
                  </game-chess-board>
                  <svg-preloader *ngIf="waitingOpponent$ | async" class="board-block__preloader"></svg-preloader>
                </div>

                <div class="board-block__aside board-block__aside--right"
                     [class.board-block__aside--right-mobile]="isResultShown$ | async">
                  <tournament-countdown *ngIf="!(_gameReady$ | async) && !(isResultShown$ | async) && !(boardSubscribed$ | async)"
                                        [timer]="this.countdownTimer$ | async"
                                        class="board-timer-aside">
                  </tournament-countdown>
                  <game-notifications *ngIf="(_gameReady$ | async) || (isResultShown$ | async)"
                                      (offerDraw)="offerDraw()"
                                      (cancelDraw)="cancelDrawOffer()"
                                      (resign)="resign()"
                                      [isTournamentBoard]="true"
                  ></game-notifications>
                </div>

                <div class="board-block__aside board-block__aside--right"
                     *ngIf="isResultShown$ | async"
                     [class.board-block__aside--right-menu-opened]="openedMenu">
                  <!-- menu -->
                  <div _ngcontent-serverapp-c12="" (click)="openMenu()" class="menu menu-mobile" style="margin-right: 5px;"
                  >
                    <div _ngcontent-serverapp-c12="" class="menu__btn" [class.menu__btn--close]="openedMenu">
                      <game-main-menu class="board-block__mobile-menu" [class.board-block__mobile-menu--open]="openedMenu"></game-main-menu>
                    </div>
                  </div>
                  <div class="notifications-result">
                    <div class="notifications-result__body" wcHideScrollbar #notificationsBodyResult>
                      <game-notifications *ngIf="!(showResult$ | async)"></game-notifications>
                      <tournament-game-result *ngIf="(showResult$ | async)" [standing]="standing$ | async">
                      </tournament-game-result>
                    </div>
                    <div class="notifications__footer notifications__footer--gray"
                         *ngIf="!(gameInProgress$ | async) && (pgnUrl$ | async) && !(showResult$ | async)">
                      <div colspan="3"  class="notifications__button">
                        <div class="notifications__footer-wrapper">
                          <a href="javascript:void(0)"
                             class="notifications__footer-btn" (click)="downloadPGN()">
                            {{ 'BUTTONS.DOWNLOAD' | translate }} PGN
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="notifications-result__buttons" *ngIf="(resultButtonsVisible$ | async)">
                      <a href="javascript:void(0)"
                         class="notifications-result__btn"
                         [class.notifications-result__btn--active]="showResult$ | async"
                         [class.notifications-result__btn--red]="isLastTour$ | async"
                         (click)="showResult()">{{ 'BUTTONS.RESULT' | translate }}</a>
                      <a href="javascript:void(0)" class="notifications-result__btn"
                         [class.notifications-result__btn--active-gray]="!(showResult$ | async)"
                         (click)="showNotifications()">{{ 'MESSAGES.NOTATION' | translate }}</a>
                    </div>
                  </div>
                </div>

                <div class="board-block__footer">
                  <div class="board-block__footer-wrapper" [class.board-is-flipped]="boardIsFlipped$ | async">
                    <game-user-badge
                      [player]="player$ | async"
                      [playerName]="playerName$ | async"
                      [timer]="playerTimer$ | async"
                      [materialAdvantage]="playerMaterialAdvantage$ | async"
                      [capturedFigures]="capturedByPlayer$ | async"
                      [capturedFigureColor]="(playerColor$ | async) === ChessColors.Black ? ChessColors.White : ChessColors.Black"
                      [messageDisplayed]="bottomBadgeNotify | async"
                      [isMyMove]="isPlayerMove$ | async"
                      [gameReviewMode]="gameReviewMode$ | async"
                      [timeLimitNotification]="playerTimeLimitNotification$ | async"
                      [boardIsFlipped]="boardIsFlipped$ | async"
                      [playerRank]="playerRank$ | async"
                      [playerScore]="playerScore$ | async"
                      [showPlayerTournamentScore]="(tournamentCurrentTourNumber$ | async) > 1"
                    >
                      <game-review-slider *ngIf="selectedMove$ | async"></game-review-slider>
                      <div class="player__result" *ngIf="!(selectedMove$ | async) && !(boardIsFlipped$ | async)">
                        <ng-container *ngIf="bottomBadgeNotify | async as notify">
                          <ng-container [ngSwitch]="notify.notificationType">
                            <ng-container *ngSwitchCase="GameBadgeNotificationType.Message">
                              <div class="player__result--message">
                                {{ notify.notification }}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="GameBadgeNotificationType.Info">
                              <div class="player__result--info">
                                {{ notify.notification }}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="GameBadgeNotificationType.Action">
                              <div class="player__result--action">
                                {{ notify.notification }}
                              </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="GameBadgeNotificationType.AcceptDraw">
                              <div class="player__notification">
                                <div class="player__notification-title player__notification-title--button"
                                     (click)="offerDraw()">
                                  {{ notify.notification }}
                                </div>
                                <div class="player__notification-text">
                                  {{ 'TEXT.MAKE_MOVE_CONTINUE' | translate }}
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </div>
                    </game-user-badge>
                  </div>
                  <a href="javascript:void(0)"
                     class="menu-game-buttons__btn flip-back-control"
                     [class.flip-back-control-visible]="boardIsFlipped$ | async"
                     (click)="flipBack()"
                  >
                    <div class="menu-game-buttons__icon">
                      <svg-flip-board class="icon"></svg-flip-board>
                    </div>
                    <div class="menu-game-buttons__signature">
                      <span>
                        {{ 'MESSAGES.FLIP_BACK' | translate }}
                      </span>
                    </div>
                  </a>
                </div>
                <div class="mobile-game-result">
                  <tournament-game-result *ngIf="(showResult$ | async)" [standing]="standing$ | async"></tournament-game-result>
                </div>
                <div class="board-block__glow" [class.board-block__glow--go-top]="true"></div>
                <div class="game-menu-tournament-info" *ngIf="true">
                  <game-menu-tournament-info></game-menu-tournament-info>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="anti-cheat-container" [class.anti-cheat-container--active]="isAntiCheatPopupVisible$ | async">
    <anti-cheating (closePopup)="closeAntiCheatPopup()" (reportRequest)="sendReport()" [isReportSubmitted]="!(canCallAnArbiter$ | async)"></anti-cheating>
  </div>
  <div class="camera-container" *ngIf="isCameraVisible$ | async" (mouseover)="openAntiCheatPopup()">
    <svg-anti-cheat *ngIf="!(isAntiCheatCameraRecording$ | async)"></svg-anti-cheat>
    <svg-anti-cheat-rec *ngIf="isAntiCheatCameraRecording$ | async"></svg-anti-cheat-rec>
  </div>
  <div class="camera-container" *ngIf="isCameraShadedVisible$ | async" (mouseover)="openAntiCheatPopup()">
    <svg-anti-cheat-shaded *ngIf="!(isAntiCheatCameraRecording$ | async)"></svg-anti-cheat-shaded>
    <svg-anti-cheat-rec-shaded *ngIf="isAntiCheatCameraRecording$ | async"></svg-anti-cheat-rec-shaded>
  </div>
</div>
