.kst0 {
  filter: url(#kAdobe_OpacityMaskFilter)
}

.kst1 {
  fill: #fff
}

.kst2 {
  //mask: url(#kmask-2_1_);
  fill: #5f41ff
}

.kst3 {
  filter: url(#kAdobe_OpacityMaskFilter_1_)
}

.kst4 {
  mask: url(#kmask-4_1_);
  fill: #fff
}

.kst5 {
  fill: #fff
}

.kst6 {
  display: inline
}

.kst7 {
  fill: #5f41ff
}

:host-context(.livestream) svg {
  height: 20px;
  width: 20px;
}

