@import "settings";
@import "mixins";
@import "../../../../html/css/variables";
@import "../../../../html/css/media";

.rating-player__info {
  display: flex;
}

:host {
  display: flex !important;
  align-items: center;
  height: 35px;
}

:host(wc-country) {
  .country {
    display: flex;
    align-items: center;
    bottom: 10px;
    left: 10px;
  }
}

.country__name {
  font: 400 11px/11px $gerbera-font;
  line-height: 1;
  letter-spacing: 1.5px;
  color: #656565;
}

.country__flag {
  display: flex;
  position: relative;
  width: 24px;
  height: 17px;
  margin-right: 10px;
  border: 1px solid $border-color;
}
