<div
  class="livestream-camera-list"
  (click)="toggleList()"
  [class.opened]="isOpened"
  [class.livestream-main]="main"
>
  <div class="selected">
    {{ prefix }} {{ getItemLabel(selectedItem) }}
    <svg-arrow-down class="icon arrow-down__icon livestream"></svg-arrow-down>
  </div>
  <ul>
    <li
      *ngFor="let item of list"
      (click)="onItemClick($event, item)"
      [class.active]="isActive(item)"
    >
      <span class="livestream-camera-list__item">{{ prefix }} {{ getItemLabel(item) }}</span>
      <ng-container *ngIf="!item.link_display">
        <svg-lock class="icon icon-lock"></svg-lock>
      </ng-container>
    </li>
  </ul>
</div>
