<div #board class="board default coords-inner merida"
  [class.shaded]="sortedPromotionMoves.length"
  ></div>
<div
  *ngIf="sortedPromotionMoves.length"
  class="promotion"
  [class.white]="promotionMoves[0].color === 'w'"
  [class.black]="promotionMoves[0].color === 'b'"
  [class.promotion-leftside]="isVisiblePromotionPopupLeft"
  [class.promotion-rightside]="isVisiblePromotionPopupRight"
>
  <div
    *ngFor="let move of sortedPromotionMoves"
    class="promotion__figure"
    [class.white]="move.color === 'w'"
    [class.black]="move.color === 'b'"
    [ngClass]="move.promotion"
    (click)="addNewPosition(move.san)"
  ></div>
</div>
