<div class="board-main">
  <div class="board-main__info">
      <div class="player">
          <div class="player__avatar">
              <img src="../../../../../assets/images/beautiful-online-chess/photo-player-1.png" alt="photo">
          </div>
          <div class="player__time">2:59</div>
          <div class="player__info">
              <div class="player__name">
                  Liren Ding <span>GM</span>
              </div>
              <div class="player__count">2812&nbsp;&nbsp;∙&nbsp;&nbsp;<span style="letter-spacing: 0.1em;">CHN</span></div>
          </div>
      </div>
      <div class="chess-figure">
          <img src="../../../../../assets/images/chess/birman-chesspieces-notation/wP.svg" alt="">
      </div>
  </div>
  <div class="board-main__main">
      <div class="board-main__main-aside">
          <svg-anti-cheat class="board-main__anti-cheat"></svg-anti-cheat>
          <svg-logo class="board-main__logo"></svg-logo>
      </div>
      <div class="board-main__main-center">
          <img class="board-main__game-board" src="../../../../../assets/images/beautiful-online-chess/game-board.svg" alt="game-board">
      </div>
      <div class="board-main__main-aside">
          <img class="board-main__table" src="../../../../../assets/images/beautiful-online-chess/game-board-table.svg" alt="game-board-table">
      </div>
  </div>
  <div class="board-main__info">
      <div class="player">
          <div class="player__avatar">
              <img src="../../../../../assets/images/beautiful-online-chess/photo-player-2.png" alt="photo">
          </div>
          <div class="player__time">2:41</div>
          <div class="player__info">
              <div class="player__name">
                  Konstantin Mozgovoy
              </div>
              <div class="player__count">2489&nbsp;&nbsp;∙&nbsp;&nbsp;<span style="letter-spacing: 0.1em;">RUS</span></div>
          </div>
      </div>
      <div class="chess-figure">
          <img src="../../../../../assets/images/chess/birman-chesspieces-notation/bP.svg" alt="">
      </div>
  </div>
</div>