@import 'settings';
@import 'mixins';
@import '../../../../html/css/variables';
@import '../../../../html/css/media';

:host {
  position: relative;

  .wrapper {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 260px;

    .popup {
      position: relative;
      display: flex;
      width: 240px;
      flex-direction: column;
      align-items: stretch;
      border-radius: 6px;
      border-top-right-radius: 0;
      margin-right: 20px;
      margin-top: 55px;
      background-color: #fff;
      background-image: url('../../../../assets/images/auth-popup/background.svg');
      padding: 12px 20px;

      &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: -23px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 23px 23px;
          border-color: transparent transparent #fff transparent;
      }
    }
  }
}
