@import "../../../../html/css/variables";
@import "../../../../html/css/media";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 14px;
  height: 7px;
  fill: $light-gray;

  @include tablets-big() {
    width: 11px;
    height: 6px;
  }
}

:host-context(wc-header) svg path {
  stroke: #656565;
}
