@import '../../../../../html/css/variables';
@import '../../../../../html/css/media';

:host {
  display: block;
  width: 100%;

  @include height-650() {
    height: 100%;
  }
}

.board {
  display: flex;
  width: 392px;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;

  &__info {
    min-height: 28px;

    &--bottom {
      margin-bottom: 25px;
    }
  }
  @include tablets-big() {
    width: 340px;
  }
  @include height-650() {
    width: calc(40vh + 20px);
  }
  @include phones() {
    width: 248px;
  }

}

.board-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  height: 100%;
  @include tablets-big() {
    padding-bottom: 30px;
  }
  @include phones() {
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
  }

  @include height-650() {
    padding-bottom: 0;
  }

  &__aside {
    flex: 1;
    padding: 41px 20px 110px;

    &--left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      @include phones() {
        justify-content: center;
        align-items: center;
      }
    }
    @include phones() {
      padding: 20px;
    }
  }
}

.board__center {
  position: relative;
  margin-top: 15px;
  @include phones() {
    margin-top: 0px;
  }
}

.board-buttons {
  position: absolute;
  left: calc(100% + 20px);
  bottom: 0;
  min-width: 33.5px;
  @include phones() {
    left: calc(100% + 5px);
  }

  &__elem {
    margin-top: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $black-light;
    fill: $black-light;
    transition: .3s;
    @include phones() {
      flex-direction: column;
      justify-content: center;
    }

    &--active,
    &:hover {
      color: $gray;
      fill: $gray;

      & .board-buttons__icon .icon {
        fill: $gray;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 11px;
    flex: 0 0 auto;
    display: none; // временно
    @include phones() {
      margin-right: 0;
    }
  }

  &__text {
    font: 400 12px/17px $gerbera-font;
    @include phones() {
      text-align: center;
    }
  }

  &__list {
    @include phones() {
      display: flex;
      flex-direction: column;
    }
  }
}

.chess-board {
  display: flex;
  width: 100%;

  &__aside {
    flex: 1 0 auto;
    display: flex;
    width: 18px;
  }

  &__gauge {
    display: flex;
    width: 100%;
  }
}

.field {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;

  &__header {
    padding: 16px 25px;
    min-height: 130px;
    flex: 0 0 auto;
  }

  &__title {
    display: block;

    .wc-title__img {
      display: inline-block;
    }
  }

  &__body {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__footer {
    display: block;
    z-index: z-index(base);
    @include phones() {
      min-height: 0;
    }
  }

  &__aside {
    max-width: 210px;
    flex: 0 0 auto;
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    height: 100%;
  }
}

.multiboard-control {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: z-index(base, 20);
  @include ipad() {
    right: 25px;
  }
  @include phones() {
    position: static;
    display: flex;
    justify-content: flex-end;
  }
}

.buttons-share {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
  box-shadow: 0 0 10px rgba(197, 89, 255, 0.7);
  z-index: z-index(sticky);

  @include height-650() {
    bottom: 20px;
    left: 20px;
    width: 48px;
    border-radius: 50%;
    box-shadow: none;
  }

  @include phones() {
    position: fixed;
    bottom: 19px;
    left: 60px;
    width: 34px;
    border-radius: 50%;
    box-shadow: none;
  }

  .buttons-group {
    display: none;
    position: absolute;
    left: 0;
    bottom: 32px;
    width: 100%;
    box-shadow: 0 0 10px rgba(197, 89, 255, 0.7);
    border-bottom: 1px solid $black-light;


    &.expanded {
      display: block;
    }

    .button-share:not(:last-child) {
      border-bottom: 1px solid $black-light;
    }

    .button-share {
      justify-content: flex-start;
      padding: 5px;
      @include height-650() {
        align-items: center;
        justify-content: center;
      }
      @include phones() {
        justify-content: center;
      }
    }

    @include height-650() {
      box-shadow: none;
      border-bottom: none;
      bottom: 52px;
    }

    @include phones() {
      box-shadow: none;
      border-bottom: none;
      bottom: 38px;
    }
  }
}

.button-share {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 92px;
  height: 32px;
  background-color: $black-bg;
  border-radius: 3px;
  z-index: z-index(base);
  cursor: pointer;

  @include height-650() {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(197, 89, 255, 0.7);
    margin-top: 5px;
  }

  @include phones() {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(197, 89, 255, 0.7);
    margin-top: 5px;
  }

  .icon {
    width: 19px;
    height: 12px;
    fill: #fff;
    margin-right: 6px;

    @include height-650() {
      margin-right: 0;
      width: 19px;
      //height: 19px;
      height: 12px;
    }

    @include phones() {
      margin-right: 0;
      width: 19px;
      height: 12px;
    }
  }

  .text {
    font: 400 11px/23px $gerbera-font;
    color: #fff;

    @include height-650() {
      display: none;
    }

    @include phones() {
      display: none;
    }
  }
}



:host-context(.chess-layout--switched) {
  .board-wrapper__aside {
    padding: 11px;
  }

  .board {
    width: 285px;
    @include height-650() {
      width: 225px;
    }
  }

  .shared {
    display: none;
  }


  .board-wrapper {
    height: 100%;
    padding-bottom: 0px;
  }

  .multiboard-control {
    right: 20px;
    bottom: 10px;
  }

  .board__center {
    margin-top: 20px;
    margin-bottom: 20px;
    @include height-650() {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .buttons-share {
    display: none;
  }

  ::ng-deep .chess-navigation {
    display: none;
  }
}

