<div class="field__body">
  <div class="field__center">
    <div class="board-wrapper">
      <div class="board-wrapper__aside">
        <div class="buttons-share">
          <div class="button-share share" #shareBtn (click)="share()">
            <svg-shared class="icon"></svg-shared>
            <div class="text">Share</div>
          </div>
          <div class="buttons-group" [class.expanded]="isShownSocialBtns">
            <div class="button-share" (click)="shareToFacebook()">
              <svg-icon-facebook class="icon share"></svg-icon-facebook>
              <div class="text">facebook</div>
            </div>
            <div class="button-share" (click)="shareToTwitter()">
              <svg-icon-twitter class="icon share"></svg-icon-twitter>
              <div class="text">twitter</div>
            </div>
            <div class="button-share" (click)="showWidgetWindow()">
              <svg-embed class="icon share"></svg-embed>
              <div class="text">embed</div>
            </div>
          </div>
        </div>
      </div>
      <div class="board">
        <div class="board__center">
          <wc-broadcast-single-chess-board-controller
            [boardId]="gameState?.board?.id"
            [bottomPlayerColor]="orientation"
            [tournament]="tournament">
          </wc-broadcast-single-chess-board-controller>
          <div class="board-buttons">
            <ul #boardMenu class="board-buttons__list">
              <li *ngIf="isShowBoardMenu" class="board-buttons__elem">
                <a class="board-buttons__link" (click)="onFlipBoard()">
                  <div class="board-buttons__icon">
                    <svg-icon-flip class="icon"></svg-icon-flip>
                  </div>
                  <div class="board-buttons__text">Flip board</div>
                </a>
              </li>
              <li *ngIf="isShowBoardMenu" class="board-buttons__elem">
                <a class="board-buttons__link" (click)="onLoadPGN()">
                  <div class="board-buttons__icon">
                    <svg-icon-pgn class="icon"></svg-icon-pgn>
                  </div>
                  <div class="board-buttons__text">PGN</div>
                </a>
              </li>
              <li class="board-buttons__elem">
                <a class="board-buttons__link" (click)="toggleBoardMenu()">
                  <div class="board-buttons__icon">
                    <svg-icon-more class="icon"></svg-icon-more>
                  </div>
                  <div class="board-buttons__text"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <wc-chess-navigation [myGameIsActive]="gameState?.myGameIsActive" [boardId]="gameState?.board?.id">
        </wc-chess-navigation>
      </div>
      <div *ngIf="canOpenMultiboard()" class="multiboard-control">
        <wc-multiboard-link [tournament]="tournament" [tourId]="tour?.id"></wc-multiboard-link>
      </div>
      <div class="board-wrapper__aside board-wrapper__aside--left"></div>
    </div>
  </div>
</div>
<div class="field__footer"></div>
