
$icon-color: #FF947B;

:host {
  display: block;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  stroke: $icon-color;
}

:host(.fill) path {
  fill: #272727;
}

:host(.checked) path {
  fill: $icon-color;
}

:host(.disabled) {
  filter: grayscale(40%);
  cursor: default;
}
