<div *ngIf="name" class="name">{{name}}</div>
<div (click)="canChange && onSelectClick()" [class.select-option--can-change]="canChange" class="select-option">
  <ng-container *ngIf="isAutocomplete && isOpen && !isMobile; else selectHeader">
    <img src="/assets/icons/search-icon.svg" class="search-icon">
    <input #autocomplete class="search-input" type="text" [placeholder]="autocompletePlaceholder" [formControl]="autocompleteFormControl" />
  </ng-container>
  <ng-template #selectHeader>
    <ng-container *ngIf="selectedOption; else dafaultSelected">
      <ng-container *ngTemplateOutlet="titleSelectedTemplate; context: {$implicit: selectedOption}"></ng-container>
    </ng-container>
    <ng-template #dafaultSelected>
      <ng-container *ngTemplateOutlet="titleNonSelectedTemplate"></ng-container>
    </ng-template>
  </ng-template>
</div>
<ng-container *ngIf="canChange">
  <svg-arrow-down class="icon arrow" (click)="toggleDropdown()"></svg-arrow-down>
  <div #dropdown class="dropdown"
       [class.dropdown--left]="alignLeft"
       #mustBeFixed>
    <div class="dropdown-content">
      <ng-container *ngIf="isMobile">
        <div *ngIf="showPreloader" class="preloader"><wc-preloader></wc-preloader></div>
        <div class="dropdown-link dropdown-link--mobile-header">
          <div class="select-option select-option--back" (click)="simpleClose()">
            <svg-arrow-down class="icon back-main-page"></svg-arrow-down>
            <span>Main page</span>
          </div>
        </div>
        <div *ngIf="isAutocomplete && isOpen" class="dropdown-link dropdown-link--mobile-header">
          <div class="select-option">
            <img src="/assets/icons/search-icon.svg" class="search-icon">
            <input #autocomplete class="search-input" type="text" [placeholder]="autocompletePlaceholder" [formControl]="autocompleteFormControl" />
          </div>
        </div>
      </ng-container>
      <div *ngFor="let option of isAutocomplete ? filteredOptions : optionsExcludeSelected" class="dropdown-link">
        <div class="select-option" (click)="changeOption(option)">
          <ng-container *ngTemplateOutlet="optionTemplate; context: {$implicit: option}"></ng-container>
        </div>
      </div>
    </div>
    <ng-container *ngIf="afterDropdownContentTemplate">
      <ng-container *ngTemplateOutlet="afterDropdownContentTemplate"></ng-container>
    </ng-container>
  </div>
</ng-container>
