@import '../../../html/css/variables.scss';

input::placeholder {
    color: $black;
}

.mat-form-field { // TODO was deep, remove by upgrade to Angular 8
    div.mat-form-field-wrapper {
        div.mat-form-field-underline {
            background-color: $black !important;
        }
    }
}

mat-hint.mat-hint {
    color: $orange;
    margin-top: 10px;
}
