<div class="container">
  <div class="d-flex block block-offset">
    <div class="header">
      <h1>
        <span class="header-number">1</span>
        <span>Log in or&nbsp;register</span>
      </h1>
    </div>
    <div class="form form-paygate-auth">

      <div *ngIf="isSingIn">
        <app-email-input [email]="signInEmail" [responseError]="(signInFormErrors$ | async)?.email"></app-email-input>
        <app-password-input [password]="signInPassword" [responseError]="(signInFormErrors$ | async)?.password"></app-password-input>
        <a class="forgot" routerLink="/restore">forgot?</a>
        <div class="toggle">
          new to World Chess?
          <span class="toggle-link" (click)="switchToSignUpForm()">register</span>
        </div>
      </div>

      <div *ngIf="!isSingIn">
        <wc-full-name-input [fullName]="signUpFullName" [responseError]="(signUpFormErrors$ | async)?.full_name"></wc-full-name-input>
        <app-email-input [email]="signUpEmail" [responseError]="(signUpFormErrors$ | async)?.email"></app-email-input>
        <app-password-input [password]="signUpPassword" [responseError]="(signUpFormErrors$ | async)?.password"></app-password-input>
        <div class="toggle">
          already have an account?
          <span class="toggle-link" (click)="switchToSignInForm()">sign in</span>
        </div>
      </div>

      <p *ngIf="signInIsPasswordBeenReset$ | async" class="form-error-text">
        For security reasons, the password was reset. <br>
        Password recovery email has been sent to your email.
      </p>

      <p *ngIf="(signInFormErrors$ | async)?.non_field_errors as errorMessage" class="form-error-text">
        {{ errorMessage }}
      </p>

    </div>
  </div>
</div>
