@import 'variables';
@import 'media';

.register__footer {
    height: 160px;
    display: flex;
    margin: 0 -5px;
    padding-top: 10px;

    @include tablets() {
        align-items: center;
        flex-direction: column;
        height: auto;
        flex: 1;
    }

    @include phones-small() {
        margin: 0;
    }
}

.register__footer-coll {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding: 0 5px;
    flex-direction: column;
    width: 100%;

    @include tablets() {
        padding: 0 0 5px;
    }

    @include phones() {
        width: calc(100% / 3);
        padding: 0 50px 25px;
        width: 100%;
    }

    @include phones-small() {
        padding: 0 0 25px;
    }

    &:last-child {
        @include tablets() {
            justify-content: center;
            padding: 0;
        }

        @include phones() {
            padding: 0;
        }
    }
}

.register-checkbox__content {
    display: flex;
}

.register-checkbox__input {
    position: absolute;
    opacity: 0;
}

.register-checkbox__btn {
    position: relative;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid #979797;
    padding: 3px;
    fill: #fff;
    margin-right: 15px;

    .icon {
        opacity: 0;
    }
}

.register-checkbox__text {
    font: 400 15px/23px $gerbera-font;
    color: #fff;

    span {
        color: #979797;
    }
}

.register-checkbox__input:checked+.register-checkbox__content {
    .register-checkbox__btn {
        .icon {
            opacity: 1;
        }
    }
}

.register__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 14px 25px;
    background-color: #9bcfff;
    border-radius: 3px;
    border: 0;
    font: 300 22px/22px $gerbera-font;
    cursor: pointer;

    &--pro {
        background-color: $pink;
    }

    &--premium {
        background-color: $purple-new;
    }

    @include tablets() {
        width: 246px;
        align-self: center;
    }

    @include phones-small() {
        width: 100%;
        font: 300 18px/18px $gerbera-font;
    }
}

.register__text {
    font: 300 15px/23px $gerbera-font;
    color: #999;

    a,
    span {
        color: #fff;
    }
}

.register__steps {
    font: 300 15px/20px $gerbera-font;
    text-align: center;
    color: #999;
    margin-bottom: 10px;

    span {
        color: #fff;
    }

    @include tablets() {
        align-self: center;
    }
}

.input-text-small {
    font: 400 12px/12px $gerbera-font;
    color: #fff;
    opacity: .33;

    @include phones-small() {
        overflow-y: auto;
        height: 75px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 10px 17px;
    height: 100%;

    @include tablets() {
        height: auto;
    }

    @include phones-small() {
        padding: 10px;
    }
}

.card__row {
    display: flex;
    margin: 0 -10px 10px;

    @include phones-small() {
        margin: 0 -10px;
    }
}

.card__col {
    padding: 0 10px;
    flex: 1;

    &--flex-2 {
        flex: 2;

        @include phones() {
            flex: 0;
            padding: 0;
        }
    }

    &--flex-3 {
        flex: 3;
    }

    mat-select {

        .mat-form-field,
        .mat-form-field-label,
        .mat-select-placeholder {
            background-color: transparent !important;
            color: #fff !important;
            font: 300 22px/27px $gerbera-font !important;
        }
    }
}

.price {
    display: flex;
    justify-content: flex-end;
    margin-bottom: auto;

    @include phones-small() {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.cost__sum {
    font: 300 33px/41px $gerbera-font;
    color: #fff;
    margin-right: 10px;
}

.cost__text {
    font: 300 15px/20px $gerbera-font;
    color: rgba(#fff, 0.4);
}

.input-text__wrapper {
    padding: 15px 0 5px;
}
