@import 'variables-new';
@import 'media-new';


.fide__body {
  display: flex;
  padding-right: 39px;
  flex: 0 0 auto;

  &--width-565 {
    max-width: 565px;
  }

  @include phones() {
    flex-direction: column;
    padding-right: 0;
  }
}

.fide__body-form-col {
  flex: 1;
  @include phones() {
    flex: 0 0 auto;
  }
}

.input-text__wrapper {
  padding: 15px 0 5px;

  &--error {
    border-bottom: 1px solid #ff7070;
  }
}

.fide__photo-col {
  flex: 0 0 auto;
  width: 260px;
  padding: 6px 0 0;
  padding-left: 33px;

  @include phones() {
    padding: 0;
  }
}

.create-fide--error {
  margin: 0 0 10px 15px;
  color: #ff7070;
  width: 300px;
}

.fide__form-row {
  display: flex;
  margin: 0 -15px;
  margin-bottom: 10px;

  @include phones() {
    flex-direction: column;
    margin-bottom: 0;
  }

  &--margin-bottom {
    margin-bottom: 25px;

    @include phones() {
      margin-bottom: 14px;
    }
  }
}

.fide__footer-text {
  font: 400 15px/20px $gerbera-font;
  color: #fff;
  margin-left: auto;

  @include phones() {
    margin-left: 0;
    margin-bottom: 10px;
  }

  a {
    display: flex;
    align-items: center;
    color: #fff;

    &:hover {
      color: #000;
      .icon {
        fill: #000;
      }
      &:visited {
        color: #000;
      }
    }

    .icon {
      width: 5px;
      height: 20px;
      fill: #fff;
      margin-left: 5px;
    }

    &:visited {
      color: #fff;
    }
  }
}

.fide__form-col {
  padding: 0 15px;
  flex: 1;

  @include phones() {
    margin-bottom: 11px;
  }

  &--width-155 {
    width: 155px;
    flex: 0 0 auto;
  }
}

.fide__footer {
  display: flex;
  margin: 0 -5px;
  padding-top: 10px;
  margin-top: auto;
  @include phones() {
    flex: 0 0 auto;
    flex-direction: column-reverse;
  }
}

.fide__footer-coll {
  display: flex;
  align-items: flex-end;
  flex: 1 1 auto;
  padding: 0 5px;
  @include phones() {
    width: 100%;
  }
}


/*-----------------*/

.register__head {
  margin-bottom: 5px;
}

.toggle-buttons {
  margin-bottom: 23px;

  @include phones() {
    margin-top: 16px;
    margin-bottom: 14px;
  }
}


.register-input__placeholder {
  top: 62%;
  font: 300 22px/22px $gerbera-font;
}
