<wc-base-popup needResetTumblers="true">
  <ng-container *ngIf="mode !== FideFormMode.SEARCH_PROFILE">
    <div class="register__head">
      <div class="register__title">Fill in the FIDE Chess Profile information to&nbsp;link your accounts</div>
      <div class="register__step" *ngIf="maxSteps$ | async as maxSteps">
        <svg-arrow-left class="icon" (click)="history.back()"></svg-arrow-left>
        <svg-arrow-left-bold class="icon icon--mobile" (click)="history.back()"></svg-arrow-left-bold>5<span style="font-size:0.5em">&nbsp;</span>/<span
        style="font-size:0.5em">&nbsp;</span>{{ maxSteps }}
      </div>
    </div>
    <div class="toggle-buttons">
      <div class="toggle-buttons__elem" [class.active]="mode === FideFormMode.CREATE_FIDE"
        (click)="mode = FideFormMode.CREATE_FIDE">
        <div class="toggle-buttons__btn"></div>
        Create a FIDE Profile
      </div>
      <div class="toggle-buttons__elem" [class.active]="mode === FideFormMode.ADD_FIDE"
        (click)="mode = FideFormMode.ADD_FIDE">
        <div class="toggle-buttons__btn"></div>
        I already have one
      </div>
    </div>

    <ng-container *ngIf="mode === FideFormMode.CREATE_FIDE">
      <form [formGroup]="form" (ngSubmit)="form.submit()" class="register">
        <div class="fide__body">
          <div class="fide__body-form-col">
            <div class="fide__form-row">
              <div class="fide__form-col">
                <label class="register-input__input" [shake]="form.controls['name'].shake$">
                  <div class="register-input__wrapper"
                       [class.register-input__wrapper--error]="(form.controls['name'].errors$ | async)">
                    <input class="register-input__elem"
                           [class.register-input__elem--active]="!(form.controls['name'].empty$ | async)" type="text"
                           paygateFormControl
                           formControlName="name">
                    <div class="register-input__placeholder">
                      Name
                    </div>
                  </div>
                </label>
              </div>

              <div class="fide__form-col">
                <label class="register-input__input" [shake]="form.controls['surname'].shake$">
                  <div class="register-input__wrapper"
                       [class.register-input__wrapper--error]="(form.controls['surname'].errors$ | async)">
                    <input class="register-input__elem"
                           [class.register-input__elem--active]="!(form.controls['surname'].empty$ | async)"
                           type="text"
                           paygateFormControl
                           formControlName="surname">
                    <div class="register-input__placeholder">
                      Surname
                    </div>
                  </div>
                </label>
              </div>
            </div>

            <div class="fide__form-row">
              <div class="fide__form-col fide__form-col--width-155">
                <div class="select-new"
                     [shake]="form.controls['year_of_birth'].shake$"
                     [class.select-new--red]="(form.controls['year_of_birth'].errors$ | async)">
                  <select paygateFormControl formControlName="year_of_birth">
                    <option selected></option>
                    <option *ngFor="let year of years" [value]="year.value">{{ year.label }}</option>
                  </select>
                  <div class="select-new__placeholder">
                    Birth year
                  </div>
                </div>
              </div>

              <div class="fide__form-col">
                <label class="register-input__input">
                  <div class="register-input__wrapper"
                       [shake]="form.controls['place_of_birth'].shake$"
                       [class.register-input__wrapper--error]="(form.controls['place_of_birth'].errors$ | async)">
                    <input class="register-input__elem"
                           [class.register-input__elem--active]="!(form.controls['place_of_birth'].empty$ | async)" type="text"
                           paygateFormControl formControlName="place_of_birth" />
                    <div class="register-input__placeholder">Birth place</div>
                  </div>
                </label>
              </div>
            </div>

            <div class="fide__form-row fide__form-row--margin-bottom">
              <div class="fide__form-col">
                <ng-container *ngIf="countries$ | async as countries">
                  <div class="select-new"
                       [shake]="form.controls['nationality'].shake$"
                       [class.select-new--red]="(form.controls['nationality'].errors$ | async)">
                    <select paygateFormControl formControlName="nationality">
                      <option *ngFor="let country of countries" [value]="country.value">{{ country.label }}</option>
                    </select>
                    <div class="select-new__placeholder">
                      Citizenship
                    </div>

                  </div>
                </ng-container>
              </div>
              <div class="fide__form-col">
                <ng-container *ngIf="countries$ | async as countries">
                  <div class="select-new"
                       [shake]="form.controls['federation'].shake$"
                       [class.select-new--red]="(form.controls['federation'].errors$ | async)">
                    <select formControlName="federation" paygateFormControl>
                      <option *ngFor="let country of countries" [value]="country.value">{{ country.label }}</option>
                    </select>
                    <div class="select-new__placeholder">
                      Federation (if any)
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="fide__form-row">
              <div class="fide__form-col">
                <div class="radio-buttons"
                     [shake]="form.controls['is_male'].shake$">
                  <label class="radio-buttons__label">
                    <input class="radio-buttons__input" type="radio" formControlName="is_male" [value]="false">
                    <div class="radio-buttons__content">
                      <div class="radio-buttons__btn"></div>
                      <div class="radio-buttons__text">Male</div>
                    </div>
                  </label>
                  <label class="radio-buttons__label">
                    <input class="radio-buttons__input" type="radio" formControlName="is_male" [value]="true">
                    <div class="radio-buttons__content">
                      <div class="radio-buttons__btn"></div>
                      <div class="radio-buttons__text">Female</div>
                    </div>
                  </label>
                </div>
              </div>
            </div>

          </div>
          <div class="fide__photo-col"
               [shake]="form.controls['photo'].shake$"
               shakePadding="true">
            <wc-paygate-image-upload formControlName="photo"></wc-paygate-image-upload>
          </div>
        </div>
        <div class="fide__footer">
          <div class="fide__footer-coll">
            <wc-btn-with-loading [disabled]="form.invalid$ | async">
              Confirm
            </wc-btn-with-loading>
            <div *ngIf="fideError$ | async" class="create-fide--error">
              You have send this request earlier or you have no premium/FIDE&nbsp;ID subscribtion
            </div>
          </div>
          <div class="fide__footer-coll">
            <div class="fide__footer-text">
              <a (click)="closePopup()">Skip <svg-arrow-right class="icon"></svg-arrow-right> </a>
              You will be able to create<br>
              your FIDE<br> Profile later
            </div>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-container *ngIf="mode === FideFormMode.ADD_FIDE">
      <form [formGroup]="searchForm" (ngSubmit)="searchForm.submit()" class="register">
        <div class="fide__body fide__body--width-565">
          <div class="fide__body-form-col">
            <div class="fide__form-row">
              <div class="fide__form-col">
                <label class="register-input__input">
                  <div class="register-input__wrapper"
                       [shake]="searchForm.controls['full_name'].shake$"
                       [class.register-input__wrapper--error]="(searchForm.controls['full_name'].errors$ | async)">
                    <input class="register-input__elem"
                           type="text"
                           paygateFormControl
                           formControlName="full_name"
                           [class.register-input__elem--active]="!(searchForm.controls['full_name'].empty$ | async)"/>
                    <div class="register-input__placeholder">
                      Name or IDcode from your FIDE Profile
                    </div>
                  </div>
                </label>
              </div>
            </div>
            <div class="fide__form-row">
              <div class="fide__form-col fide__form-col--width-155">
                <div class="select-new"
                     [shake]="searchForm.controls['birth_year'].shake$"
                     [class.select-new--red]="(searchForm.controls['birth_year'].errors$ | async)">
                  <select formControlName="birth_year" paygateFormControl [disableControl]="isBirthYearDisabled">
                    <option selected></option>
                    <option *ngFor="let year of years" [value]="year.value">{{ year.label }}</option>
                  </select>
                  <div class="select-new__placeholder">
                    Birth year
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fide__footer">
          <div class="fide__footer-coll">
            <wc-btn-with-loading [loading]="isSearchLoading$ | async"
                                 [disabled]="searchForm.invalid$ | async">
              Confirm
            </wc-btn-with-loading>
          </div>
          <div class="fide__footer-coll">
            <div class="fide__footer-text">
              <a (click)="closePopup()">Skip <svg-arrow-right class="icon"></svg-arrow-right> </a>
              You will be able to create<br>
              your FIDE<br> Profile later
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="mode === FideFormMode.SEARCH_PROFILE">
    <wc-fide-search-profile (goBack)="setCreateMode()" [searchResults]="searchResults$ | async">
    </wc-fide-search-profile>
  </ng-container>
</wc-base-popup>
