<wc-subscription-menu active="premium"></wc-subscription-menu>

<div class="lazy-load-content">
  <div class="lazy-load-content__img">
    <img src="../../../../../../assets/images/main-page/other-chess-events.png" alt="" />
  </div>

  <div class="lazy-load-content__text">
    <div class="lazy-load-content__text-coll">
      <p>All free and Pro features plus...</p>
      <p>Official World Chess rating and soon ...</p>
    </div>
    <div class="lazy-load-content__text-coll">
      <p>BETA FIDE&nbsp;ID</p>
      <p>Official Online Tournaments</p>
      <p>Official Online titles</p>
      <div class="price"><span class="price__price">&euro;50.00</span> <span>/ per year</span></div>
    </div>
  </div>
  <div class="lazy-load-content__buttoms">
    <button class="lazy-load-content__btn" (click)="mobileShowForm.emit(true)">become a member</button>
  </div>
</div>
