@import "../../../../html/css/variables";
@import "../../../../html/css/media";

:host {
    display: block;
    min-width: 58px;
    text-align: right;
    font-feature-settings: "tnum" 1;

    @include phones() {
        min-width: 47px;
    }
}

:host-context(.move-time) {
    text-align: center;
}
:host-context(.chess-layout) {
    @include height-650() {
        width: 40px;
    } 
}
