@import "settings";
@import "mixins";
@import "../../../../html/css/variables";
@import "../../../../html/css/media";

.rating-player {
  display: flex;
  justify-content: center;
  background-color: $gray;
  padding: 10px;

  ::-webkit-scrollbar {
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    height: 0px;
  }
}

.rating-player__title {
  display: flex;

  svg {
    height: 47px;
    width: 365px;

    @include phones() {
      display: none;
    }
  }
}

.rating-player__head {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 12px;

  @include phones() {
    // border-bottom: 1px solid #ccc;
    // border-top: 1px solid #ccc;
    padding: 9px 0;
    margin-bottom: 10px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% + 20px);
      height: 1px;
      position: absolute;
      top: 0;
      left: -10px;
      background-color: #ccc;
    }

    &:before {
      top: auto;
      bottom: 0;
    }
  }
}

.rating-player__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1330px;
}

.rating-player__title {
  margin-bottom: 23px;
  padding: 0 2px;
  font: 300 33px/48px $gerbera-font;
  @include tablets() {
    padding: 0 10px;
  }
  @include phones() {
    line-height: 33px;
    margin-bottom: 20px;
  }
}

.rating-player__position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border: 1px solid currentColor;
  border-radius: 50%;
  flex: 0 0 auto;
  margin-right: 20px;
  font: 300 33px/33px $gerbera-font;

  @include phones() {
    width: 40px;
    height: 40px;
    font-size: 22px;
  }
}

.rating-player__name {
  font: 300 33px/33px $gerbera-font;

  @include phones() {
    font-size: 22px;
  }
}

.rating-player__arrow {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 2px solid #A0A0A0;
    border-bottom: 2px solid #A0A0A0;
  }

  &--prew {
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &--next {
    margin-left: auto;
    &:after {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }
}

.rating-player__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  position: relative;
  width: 427px;
  min-height: 330px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 0 10px 0 #e5e5e5;
  flex: 0 0 auto;
  justify-content: space-between;

  @include phones() {
    width: 100%;
  }
}

.block-statistics {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  position: relative;
  width: 32%;
  min-width: 395px;
  height: 436px;
  flex: 0 0 auto;
  margin: 0 10px;
  box-shadow: 0 0 10px 0 #e5e5e5;
  margin-bottom: 16px;

  @include phones() {
    min-width: 280px;
    height: 321px;
    margin: 0 5px;
  }
}

.rating-player__photo {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 20px;

  img {
    max-height: 100%;
    max-width: 250px;
    width: 100%;
  }
}

.rating-player__photo-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.rating-player__blocks {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: -17px;

  @include tablets() {
    justify-content: flex-start;
  }

  &--mobile {
    @include phones() {
      flex-direction: column;
      padding: 0 0 10px;

      .rating-player__block {
        margin: 10px 5px 30px;
      }
    }
  }

  &--width {
    @include phones() {
      margin-right: 0;
      margin-left: 0;
      overflow-x: hidden;
    }
    .block-statistics {
      width: calc(100% - 20px);

      @include phones() {
        width: 100%;
      }
    }
  }
}

.marker {
  position: absolute;
  text-align: center;
  letter-spacing: 1.3px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  width: 175px;
  z-index: z-index(base);
  font: 400 15px/22px $gerbera-font;

  &--first {
    background-color: #B4966E;
    transform: rotate(10deg);
    top: 0;
    right: -42px;
  }

  &--second {
    background-color: #7701FF;
    transform: rotate(-10deg);
    bottom: 38px;
    left: -35px;
    width: 165px;
  }
}

.statistics__list {
  flex: 1;
  margin-bottom: 27px;
  &:last-child {
    margin-bottom: 0;
  }
}

.statistics__row {
  display: flex;
  padding: 0 60px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @include phones() {
    padding: 0;
    margin-bottom: 20px;
  }
}

.statistics__col {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.statistics__name {
  letter-spacing: 1.8px;
  color: #5e5e5e;
  text-transform: uppercase;
  min-width: 190px;
  font: 400 15px/22px $gerbera-font;
}

.statistics__count {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  line-height: 1;
  font: 300 33px/33px $gerbera-font;

  @include phones() {
    font-size: 22px;
    line-height: 22px;
  }
}

.statistics__hr {
  height: 2px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

.block-schedule {
  display: flex;
  flex: 1;
  height: calc(100% - 83px);
}

wc-rating-line-chart {
  height: 100%;
}

.rating-player__blocks-wrap {
  overflow: hidden;
  margin-bottom: 12px;
}
