<app-nav></app-nav>
<div class="rating-player">
  <div class="rating-player__container">
    <div *ngIf="player">
      <div class="rating-player__head">
        <span [style.color]="playerLight" class="rating-player__arrow rating-player__arrow--prew" routerLink="/ratings"></span>
        <div [style.color]="playerLight"
             [style.border-color]="playerBorder"
             class="rating-player__position">{{player?.rank}}</div>
        <div [style.color]="playerLight" class="rating-player__name">{{player?.full_name}}</div>
        <!--@todo: uncomment after resolve nav-->
        <!--<span class="rating-player__arrow rating-player__arrow&#45;&#45;next"></span>-->
      </div>
      <!--First row-->
      <div class="rating-player__blocks-wrap">
        <div class="rating-player__blocks rating-player__blocks--mobile">
          <!--Portrait-->
          <div *ngIf="player.portrait"
               [style.box-shadow]="'0 0 15px 0 ' + playerBorder"
               class="rating-player__block rating-player__block--best">
            <div class="rating-player__photo">
              <div class="rating-player__photo-wrapper">
                <img [src]="player.portrait" alt="">
                <wc-player-labels [labels]="player.labels"></wc-player-labels>
              </div>
            </div>
            <wc-player-portrait-footer [player]="player"></wc-player-portrait-footer>
          </div>
          <!--Statistic-->
          <div class="rating-player__block rating-player__block--statistics">
            <div class="statistics">
              <ul class="statistics__list">
                <li class="statistics__row">
                  <div class="statistics__col">
                    <div class="statistics__name">classic</div>
                  </div>
                  <div class="statistics__col">
                    <div class="statistics__count">{{player.rating}}</div>
                  </div>
                </li>
                <li class="statistics__row">
                  <div class="statistics__col">
                    <div class="statistics__name">blitz</div>
                  </div>
                  <div class="statistics__col">
                    <div class="statistics__count">{{player.blitz_rating}}</div>
                  </div>
                </li>
                <li class="statistics__row">
                  <div class="statistics__col">
                    <div class="statistics__name">rapid</div>
                  </div>
                  <div class="statistics__col">
                    <div class="statistics__count">{{player.rapid_rating}}</div>
                  </div>
                </li>
              </ul>
              <div class="statistics__hr"></div>
              <ul *ngIf="player.ranks" class="statistics__list">
                <li class="statistics__row">
                  <div class="statistics__col">
                    <div class="statistics__name">national rank</div>
                  </div>
                  <div class="statistics__col">
                    <div class="statistics__count">{{player.ranks.national}}</div>
                  </div>
                </li>
                <li class="statistics__row">
                  <div class="statistics__col">
                    <div class="statistics__name">world rank</div>
                  </div>
                  <div class="statistics__col">
                    <div class="statistics__count">{{player.ranks.world}}</div>
                  </div>
                </li>
                <li class="statistics__row">
                  <div class="statistics__col">
                    <div class="statistics__name">continent rank</div>
                  </div>
                  <div class="statistics__col">
                    <div class="statistics__count">{{player.ranks.continent}}</div>
                  </div>
                </li>
              </ul>
            </div>
            <wc-player-portrait-footer *ngIf="!player.portrait" [player]="player"></wc-player-portrait-footer>
          </div>
        </div>
      </div>

      <div *ngIf="classicPie">
        <h2 class="rating-player__title">Game statistics</h2>
        <div class="rating-player__blocks-wrap">
          <div class="rating-player__blocks">
            <div class="block-statistics" *ngIf="classicPie['classic']">
              <wc-game-statistic-pie-chart [title]="'Classic'" [data]="classicPie['classic']"></wc-game-statistic-pie-chart>
            </div>
            <div class="block-statistics" *ngIf="classicPie['blitz']">
              <wc-game-statistic-pie-chart [title]="'Blitz'" [data]="classicPie['blitz']"></wc-game-statistic-pie-chart>
            </div>
            <div class="block-statistics" *ngIf="classicPie['rapid']">
              <wc-game-statistic-pie-chart [title]="'Rapid'" [data]="classicPie['rapid']"></wc-game-statistic-pie-chart>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="ratingChartData">
        <h2 class="rating-player__title">Rating chart</h2>
        <div class="rating-player__blocks-wrap">
          <div class="rating-player__blocks rating-player__blocks--width">
            <div class="block-statistics">
              <wc-rating-line-chart [data]="ratingChartData"></wc-rating-line-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
