@import "settings";
@import "mixins";
@import "../../../../../html/css/variables";
.buy {
  .title {
    color: $gray-550;
    font: 300 20px/29px $gerbera-font;

    @include media-breakpoint-up(lg) {
      font-size: 33px;
      line-height: 43px;
      display: flex;
      margin-right: auto;
    }

    &-number {
      color: $black;
      margin-right: 11px;

      @include media-breakpoint-up(lg) {
        margin-right: 26px;
      }
    }
  }

  .buy-start {
    padding: 8px 19px 8px 19px;

    @include media-breakpoint-up(lg) {
      display: flex;
      padding: 27px 33px 42px 20px;
    }

    .forms {
      margin-top: 11px;
      margin-left: 2px;
      margin-right: 1px;

      @include media-breakpoint-up(lg) {
        width: 100%;
        max-width: 483px;
        margin-top: 8px;
      }
    }

    .form {
      width: 100%;

      &-wrapper {
        //max-width: 457px;
      }

      &.form-promocode > .form-wrapper {
        padding: 0 15px;

        @include media-breakpoint-up(lg) {
          padding-left: 19px;
          padding-right: 21px;
        }
      }

      input {
        height: 30px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $gray-800;
        color: $white;
        margin-bottom: 15px;
        padding: 10px 0;
        font: 400 151px/22px $gerbera-font;

        &::placeholder {
          color: $white;
        }
      }

      .card {
        display: flex;
        flex-direction: column;
        border: 1px solid $gray-280;
        border-radius: 4px;
        padding: 11px 14px 12px 15px;

        @include media-breakpoint-up(lg) {
          padding: 10px 20px 26px 19px;
        }

        .row {
          display: flex;

          .date {
            width: 100%;
          }

          app-card-date-input {
            flex-grow: 1;
          }

          app-card-cvc-input {
            min-width: 96px;
            max-width: 96px;
            margin-left: 22px;

            @include media-breakpoint-up(lg) {
              min-width: 126px;
              max-width: 126px;
              margin-left: 27px;
            }
          }
        }

        .number {
          &::placeholder {
            color: white !important;
          }
        }

        .secured {
          color: $gray-800;
          margin-top: 8px;
          letter-spacing: 0.4px;
          font: 300 15px/20px $gerbera-font;

          @include media-breakpoint-up(lg) {
            margin-top: 13px;
            letter-spacing: 1px;
          }
        }
      }

      .promo-code {
        color: $gray-800;
        margin: 25px 20px;
        font: 400 15px/22px $gerbera-font;

        span {
          color: $blue;
        }

        &-active {
          width: 100%;
          margin-top: 0;

          p {
            color: $gray-800;
            font: 400 11px/16px $gerbera-font;
          }

          .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            box-sizing: border-box;
            margin-bottom: 10px;

            .mat-form-field .mat-input-flex {
              margin-top: 0;
            }

            .btn {
              max-width: 96px;
              min-width: 96px;
              height: 35px;
              margin-bottom: 2px;
              margin-left: 23px;

              @include media-breakpoint-up(lg) {
                min-width: 126px;
                max-width: 126px;
                margin-left: 27px;
                margin-bottom: 1px;
              }
            }
          }
        }
      }
    }
  }

  .info {
    padding: 8px 19px 19px 19px;
    border-top: 1px solid $gray-250;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-breakpoint-up(lg) {
      padding: 21px 43px 24px 19px;
    }

    .title {
      width: 115px;
      display: flex;
      margin-right: 25px;

      @include media-breakpoint-up(lg) {
        width: auto;
        margin-right: 0;
      }

      &-number {
        margin-right: 16px;

        @include media-breakpoint-up(lg) {
          margin-right: 28px;
        }
      }
    }

    .price {
      width: 142px;

      @include media-breakpoint-up(lg) {
        width: 455px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 8px;
      }

      &-box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        padding-top: 3px;
        margin-bottom: 7px;

        @include media-breakpoint-up(lg) {
          padding-top: 0;
          margin-bottom: 0;
        }

        .value {
          margin-right: 7px;
          margin-left: -3px;
          color: $blue;
          font: 300 20px/26px $gerbera-font;

          @include media-breakpoint-up(lg) {
            font-size: 33px;
            line-height: 40px;
            margin-right: 23px;
            margin-left: 0;
          }
        }

        .text {
          letter-spacing: 0.3px;
          color: $color-grey;
          flex-grow: 1;
          max-width: 115px;
          font: 400 11px/19px $gerbera-font;

          @include media-breakpoint-up(lg) {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.5px;
            max-width: 155px;
          }

          .now {
            display: none;

            @include media-breakpoint-up(lg) {
              display: inline;
            }
          }

          br {
            display: none;
          }
        }
      }

      .btn {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(lg) {
          width: 142px;
        }
      }
    }

    .terms {
      color: $gray-550;
      letter-spacing: 0.25px;
      margin-top: 23px;
      margin-right: -3px;
      width: 100%;
      font: 400 11px/17px $gerbera-font;

      @include media-breakpoint-up(lg) {
        color: $color-grey;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.43px;
        width: 459px;
        margin-left: auto;
        margin-top: 31px;
      }
    }

    a {
      display: inline;
    }
  }
}

.card-error {
  border: 1px solid red !important;
}

.form-error-text, .form-status-text {
  margin-top: 10px;
  color: $blue;
  cursor: pointer;
  width: 100%;
  font: 400 15px/22px $gerbera-font;

  @include media-breakpoint-up(lg) {
    margin-top: 8px;
    letter-spacing: -0.1px;
  }
}

.form-status-text {
  margin-bottom: 10px;
}
