<wc-layout>
  <wc-chess-page-layout class="wc-container">
    <ng-container slot="title">
      <h1 class="wc-title wc-title--big wc-title--big wc-title--white wc-title--light field__title">
        <ng-container [ngSwitch]="board?.status">
          <ng-container *ngSwitchCase="BoardStatus.EXPECTED">
            The game starting in
            <wc-timer
              [date]="tour?.datetime_of_round"
              [format]="'hh:mm:ss'"
              [stopTrim]="'s'"
              [stopAfterZero]="true">
            </wc-timer>
          </ng-container>
          <ng-container *ngSwitchCase="BoardStatus.GOES">
            <ng-container *ngIf="playerTurn$ | async; else opponentsTurn">
              My turn
            </ng-container>
            <ng-template #opponentsTurn>
              Opponent's turn
            </ng-template>
          </ng-container>
          <ng-container *ngSwitchCase="BoardStatus.COMPLETED">
            <ng-container [ngSwitch]="board?.result">
              <ng-container *ngSwitchCase="BoardResult.VICTORY">
                Game over. White are won!
              </ng-container>
              <ng-container *ngSwitchCase="BoardResult.DEFEAT">
                Game over. Black are won!
              </ng-container>
              <ng-container *ngSwitchCase="BoardResult.DRAW">
                Game over. It's a draw!
              </ng-container>
              <ng-container *ngSwitchCase="BoardResult.NOTHING">
                There was no game
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </h1>
    </ng-container>

    <ng-container slot="main">
      <div class="field__body">
        <div class="field__center">
          <div class="board-wrapper">
            <div class="board-wrapper__aside"></div>
            <div class="board">
              <div class="board__center">
                <wc-gaming-game-chess-board-controller
                  [boardId]="board?.id">
                </wc-gaming-game-chess-board-controller>
              </div>
            </div>
            <div class="board-wrapper__aside board-wrapper__aside--left"></div>
          </div>
        </div>
      </div>
      <div class="field__footer"></div>
    </ng-container>

    <ng-container slot="history">
      <wc-match-time-info [board]="board"></wc-match-time-info>
      <wc-history-moves *ngIf="isNotExpected" [canChangeSelectedMove]="false" [board]="board" class="chess-page__history-moves"></wc-history-moves>
      <wc-history-moves-placeholder *ngIf="!isNotExpected && tour" [tour]="tour" [tournament]="tournament" class="chess-page__history-moves"></wc-history-moves-placeholder>
      <div *ngIf="!(playerIsReady$ | async)" class="game-actions">
        <span class="game-action" (click)="onPlayerReadyPlay()">READY</span>
      </div>
    </ng-container>

  </wc-chess-page-layout>
</wc-layout>
