<div *ngIf="showPopup" class="overlay">
  <div class="overlay-2">
    <div class="popup">
      <div class="popup-container">
        <div class="row-close" (click)="close()">
          <span class="btn--close"></span>
        </div>
        <div class="logo">
          <span class="logo-icon"></span>
          <span class="logo-text">mates</span>
        </div>
        <div class="text">
          <div class="image image-girl"></div>
          <div class="text-container">
            <span class="finally">Finally!</span>
            <span>The official Chess Dating App.</span>
            <a href="//mates.worldchess.com">Match and Play.</a>
          </div>
          <div class="image image-dog"></div>
        </div>
        <a href="//mates.worldchess.com" class="btn--get-it">get it</a>
      </div>
    </div>
  </div>
</div>
