<wc-layout>
  <div class="bg-black block partnership">
    <div class="d-flex justify-content-start partnership--head align-items-center">
      <img class="icon" src="assets/images/logo-fide-white.svg" alt="logo--fide">
      <span class="text-fide">FIDE</span>
      <img class="logo" src="assets/images/logo-white.svg" alt="logo--fide">
      <span class="text-chess">World chess</span>
      <span class="text-tour">Championship cycle official partners</span>
    </div>

    <div class="d-flex justify-content-start partnership--tabs">
      <div id="official" class="tab d-flex align-items-center">Official sponsors</div>
    </div>

    <div class="partnership--list">

      <div class="partnership--item" id="rbcc">
        <div class="row row-title">
          <div class="logo">
            <img src="assets/images/partners/rbcc.svg">
          </div>
          <div class="name">
            <a href="http://www.rbcc.com/ " target="_blank">www.rbcc.com</a>
          </div>
        </div>
        <div class="row row-text">

          <p class="text-white">
            Since its foundation in 1916, the Russo-British Chamber of Commerce has worked to promote trade and
            cooperation between the UK and Russia, helping companies in both countries to find trading partners and
            representing the interests of its member companies of all sizes.
          </p>

        </div>
      </div>

    </div>
  </div>
</wc-layout>
