<div class="lobby lang-{{accountService.getLanguage() | async }}">
    <div class="lobby__title">
      {{ 'OTHER.LOBBY' | translate}}
    </div>
    <div class="lobby__text">
      {{'TEXT.SET_TIME_CONTROL_OPPONENT_RATING' | translate }}.
    </div>
    <div class="lobby__img lobby__img--lang-en">
        <img class="desktop" src="../../../../../assets/images/beautiful-online-chess/lang-en/table.svg" alt="">
        <img class="mobile" src="../../../../../assets/images/beautiful-online-chess/lang-en/table-mobile.svg" alt="">
    </div>
    <div class="lobby__img lobby__img--lang-ru">
      <img class="desktop" src="../../../../../assets/images/beautiful-online-chess/lang-ru/table.svg" alt="">
      <img class="mobile" src="../../../../../assets/images/beautiful-online-chess/lang-ru/table-mobile.svg" alt="">
  </div>
</div>
