@import 'variables';
@import 'media';

// temporary for debug
:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 50px);
}

// temporary for debug

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 50px);
  padding-bottom: 60px;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    z-index: z-index(base-dropdown);
  }
  @include phones-big() {
    padding-top: 50px;
    padding-bottom: 115px;
  }
  @include phones-small() {
    padding-top: 0;
    padding-bottom: 113px;
  }
}

.page-footer {
  background-color: $blue-2;
  height: 53px;
  flex: 0 0 auto;
  color: #000;
  display: none;
  justify-content: center;
  align-items: center;
  font: 400 22px/22px $cofo-sans-font;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 20px;
  width: 211px;
  @include phones-big() {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    z-index: z-index(base-dropdown);
  }
}

.left-panel__arrow-down {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: -110px;
  right: 20px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  box-shadow: 0 0 9px #d0d0d0;
  background-color: #fff;
  z-index: z-index(base);

  &.reverse {
    transform: rotate(180deg);
  }

  .icon {
    width: 20px;
    height: 20px;
    fill: #000;
  }
  @include phones-big() {
    display: flex;
  }
}

.center-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
  @include phones-big() {
    position: relative;
    z-index: 10;
  }
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 300px;
  z-index: z-index(base, 2);
  @include phones-big() {
    width: 0;
  }
}

.right-panel__aside-list {
  margin-bottom: 30px;
  @include ipad() {
    margin-bottom: 20px;
  }
  @include phones-small() {
    margin-bottom: 0;
  }
}

/*-----------aside-list------------*/

.aside-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include phones-big() {
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    overflow-x: auto;
    background-color: #fff;
  }
  @include phones-small() {
    top: auto;
    bottom: 0;
  }
}

.aside-list__elem {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
  height: 50px;
  box-shadow: 0 0 25px rgba(224, 224, 224, 0.6);
  background: #fff;
  font: 400 16px/16px $cofo-sans-font;
  color: #d5d5d5;
  width: 100%;
  cursor: pointer;
  z-index: z-index(base);

  &:hover {
    .aside-list__stub {
      opacity: 1;
      top: 50%;
    }
  }

  &.active {
    color: #000;
  }

  &:nth-child(2) {
    width: calc(100% - 27px);
    z-index: 99;
    @include phones-big() {
      width: auto;
    }
  }

  &:nth-child(3) {
    width: calc(100% - 57px);
    z-index: 98;
    @include phones-big() {
      width: auto;
    }
  }

  &:nth-child(4) {
    width: calc(100% - 87px);
    z-index: 97;
  }
  @include phones-big() {
    width: auto;
    box-shadow: none;
    border-right: 1px solid #e5e5e5;
    white-space: nowrap;
    min-width: 100px;
    flex: 0 0 auto;
    max-width: 240px;
    min-width: 115px;

    &:last-child {
      border-right: 0;
    }
  }

  // @for $i from 0 through 3 {
  //   &:nth-child(#{$i}) {
  //     width: calc(100% - ((#{$i} - 1) * 20px));
  //     z-index: calc(100 - #{$i});
  //   }
  //  }
}

.aside-list__stub {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 144px;
  min-height: 39px;
  position: absolute;
  top: -1000px;
  transform: translate(0, -50%);
  right: calc(100% + 16px);
  background-color: #b96cfd;
  border-radius: 2px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: z-index(modal);
  font: 400 12px/16px $gerbera-font;
  opacity: 0;
  transition: opacity .3s ease;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 100%;
    box-sizing: content-box;
    border-left: 15px solid #b96cfd;
    border-right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    @include phones-big() {
      display: none;
    }
  }
}

.aside-list__icon {
  margin-left: auto;
  width: 25px;
  height: 25px;
  @include phones-big() {
    margin-left: 15px;
  }
  @include phones-small() {
    display: none;
  }
}

/*-----------aside-list------------*/

/*-----------events-----------*/

.events {
  margin-top: auto;
  @include phones-big() {
    position: absolute;
    bottom: -10000px;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  &--active {
    @include phones-big() {
      bottom: 0;
    }
  }
}

.events__list {
  margin-bottom: 10px;
  @include phones-big() {
    margin-bottom: 10px;
  }
}

.events__hint {
  position: absolute;
  top: 50%;
  left: -1000px;
  min-width: 144px;
  min-height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
  border-radius: 2px;
  padding: 10px 20px;
  color: #888888;
  font: 400 16px/21px $gerbera-font;
  background-color: #fff;
  z-index: z-index(base);
  opacity: 0;
  transition: opacity .3s;
  @include phones-big() {
    display: none;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 100%;
    box-sizing: content-box;
    border-right: 13px solid #fff;
    border-left: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}

.events__elem {
  position: relative;
  display: flex;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &--your-move {
    .events__img {
      box-shadow: 0 0 23px #33ca58;
    }

    .events__event-text {
      color: #20e36c;
    }

    .events__progress-cyrcle {
      stroke: #20e36c;
    }

    .hint__time span {
      color: #20e36c;
    }
  }

  &--alert {
    .events__img {
      box-shadow: 0 0 23px #ff6868;
    }

    .events__event-text {
      color: #ff8888;
    }

    .events__progress-cyrcle {
      stroke: #ff8888;
    }

    .hint__time span {
      color: #ff8888;
    }
  }

  &--purple {
    .events__img {
      box-shadow: 0 0 14px #b96cfd;
    }

    .events__event-text {
      color: #b96cfd;
    }

    .events__progress-cyrcle {
      stroke: #b96cfd;
    }

    .hint__time span {
      color: #b96cfd;
    }
  }

  &--active {
    .events__img {
      box-shadow: 0 0 23px #4fabff;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 65px;
      top: 50%;
      transform: translate(0, -50%);
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #75bdff;
    }
  }
  @include phones-big() {
    margin-bottom: 12px;
  }
}

.events__event-time {
  font: 400 12px/12px $cofo-sans-font;
}

.events__event-text {
  font: 400 16px/20px $cofo-sans-font;
}

.events__text {
  align-items: center;
  padding-left: 10px;
  font: 400 16px/20px $cofo-sans-font;
  display: none;
  @include phones-big() {
    display: flex;
  }
}

.events__event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 13px;
  @include phones-big() {
    margin-left: 0;
  }
}

.events__progress {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  width: 53px;
  height: 53px;
}

.events__img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  width: 53px;
  height: 53px;
  background-color: #d8d8d8;
  overflow: hidden;
  border-radius: 50%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
  }

  img {
    position: relative;
  }
}

.events__buttons {
  position: relative;
  padding-top: 20px;
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #979797;
    @include phones-big() {
      display: none;
    }
  }
  @include phones-big() {
    padding: 8px 15px 0;
  }
}

.events__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px #c5c5c5;
  fill: #525252;
  transition: .3s;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  .icon {
    max-width: 100%;
    max-height: 100%;

    &--desk {
      display: block;
      @include phones-big() {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @include phones-big() {
        display: block;
      }
    }
  }

  &:hover {
    background-color: #525252;
    fill: #fff;
    box-shadow: none;

    .events__hint {
      opacity: 1;
      left: 81px;
    }
  }
  @include phones-big() {
    width: 34px;
    height: 34px;
  }
}

.hint {
  position: relative;
  z-index: z-index(modal);
}

.hint__wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 15px;
  transform: translate(0, -50%);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  min-width: 290px;

  &:after {
    content: '';
    display: block;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(0, -50%);
    border-left: 0;
    border-right: 15px solid #fff;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    @include phones-big() {
      display: none;
    }
  }
  @include phones-big() {
    position: fixed;
    height: 85px;
    bottom: -85px;
    left: 0;
    right: 0;
    top: auto;
    width: 100%;
    transform: translate(0, 0);
  }

  &--active {
    bottom: 0;
  }
}

.hint__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 25px;
  font: 400 12px/12px $cofo-sans-font;

  span {
    font: 400 19px/24px $cofo-sans-font;
    color: #ff8888;
  }
}

.hint__text {
  font: 400 16px/21px $cofo-sans-font;
  color: #888888;
  margin-bottom: 10px;
}

.hint__buttons {
  display: flex;
}

.hint__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  height: 34px;
  padding: 0 15px;
  text-align: center;
  font: 400 16px/34px $cofo-sans-font;
  color: #000;
  margin-right: 17px;
  min-width: 102px;

  &:last-child {
    margin-right: 0;
  }
}

/*-----------events-----------*/

.result {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: calc(50% - 45px);
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(#fff, 0.92);
  z-index: z-index(modal);
  padding: 25px;
  width: 572px;
  height: 572px;

  &--active {
    display: flex;
  }
}

.result__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 27px;
  height: 27px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    display: block;
    width: 30px;
    height: 1px;
    background-color: #979797;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.result__title {
  font: 400 39px/42px $cofo-sans-font;
  color: #9b9a9a;

  span {
    color: #000;
  }
}

.result__dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.result__dialog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 19px #c4c4c4;
  border-radius: 3px;
  width: 138px;
  height: 55px;
  color: #000;
  font: 400 19px/21px $cofo-sans-font;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

/*popup-dalog-mobile*/

.popup-dalog-mobile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 46px;
  display: none;
  align-items: center;
  background-color: #fff;
  padding: 8px 17px;
  z-index: z-index(base, 3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  @include phones-big() {
    display: flex;
  }
}

.popup-dalog-mobile__text {
  color: #888888;
  font: 400 15px/20px $cofo-sans-font;
  margin-right: 10px;
}

.popup-dalog-mobile__buttons {
  display: flex;
}

.popup-dalog-mobile__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 83px;
  border: 1px solid #e3e3e3;
  color: #000;
  font: 400 15px/15px $cofo-sans-font;
  border-radius: 2px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.popup-dalog-mobile__close {
  display: block;
  position: relative;
  width: 19px;
  height: 19px;
  margin-left: auto;

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
    height: 1px;
    background-color: #979797;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
