<div class="plan-head" *ngIf="showPresentation">
  <div class="plan-head__header">
    <ul class="plan-head__plan">
      <!-- <div class="plan-head__progress">
        <div class="plan-head__progress-line">
          <div></div>
        </div>
      </div> -->
      <li class="plan-head__plan-elem plan-head__plan-elem--basic"
        [ngClass]="{ 'purchased': selectedPresentationPlan !== PlanType.BASIC, 'active': selectedPresentationPlan === PlanType.BASIC }"
        (click)="selectPresentationPlan($event, PlanType.BASIC)">
        <a class="plan-head__plan-link">
          <div class="plan-head__plan-cyrcle">
            <div class="plan-head__plan-text">
              FREE
            </div>
          </div>
        </a>
      </li>
      <li class="plan-head__plan-elem plan-head__plan-elem--pro"
        [ngClass]="{ 'purchased': selectedPresentationPlan !== PlanType.PRO, 'active': selectedPresentationPlan === PlanType.PRO }"
        (click)="selectPresentationPlan($event, PlanType.PRO)">
        <a class="plan-head__plan-link">
          <div class="plan-head__plan-cyrcle">
            <div class="plan-head__plan-text">
              SUBSCRIBER
            </div>
          </div>
        </a>
      </li>
      <!-- <li class="plan-head__plan-elem plan-head__plan-elem--premium">
        <a href="#" class="plan-head__plan-link">
          <div class="plan-head__plan-cyrcle">
            <div class="plan-head__plan-text">
              premium plan
            </div>
          </div>
        </a>
      </li> -->
    </ul>
  </div>

  <div class="plan-head__content">
    <div class="plan-head__center"></div>
    <div class="plan-head__aside">
      <div class="plan-head__list-elem" *ngFor="let adv of getPresentationPlanAdvantages()" [ngClass]="'plan-head__list-elem--' + presentationPlanClass">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" />
          </svg>
          <div class="plan-head__list-text">
            {{ adv }}
          </div>
      </div>
    </div>
  </div>

  <div class="plan-head__buttons" *ngIf="mainPlan$ | async as mainPlan">
    <button class="plan-head__btn plan-head__btn--basic" *ngIf="selectedPresentationPlan === PlanType.BASIC" (click)="selectPlan(null, PlanType.BASIC)">get Free</button>
    <button class="plan-head__btn plan-head__btn--pro" *ngIf="selectedPresentationPlan === PlanType.PRO" (click)="selectPlan(mainPlan, PlanType.PRO)">get Subscriber</button>
  </div>
  <div #choosePlan></div>
</div>

<div class="choose-plan">
  <h2 class="choose-plan__title">Choose your plan</h2>
  <ul class="choose-plan__plans">
    <li class="choose-plan__plan choose-plan__plan--basic" [class.active]="_selectedPlan.type === PlanType.BASIC">
      <h4 class="choose-plan__title">Free</h4>
      <ul class="choose-plan__options">
        <li class="choose-plan__elem" *ngFor="let adv of getPresentationPlanAdvantages(PlanType.BASIC)">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" />
          </svg>
          {{ adv }}</li>
      </ul>
      <div class="choose-plan__btn-wpap">
        <ng-container *ngIf="_selectedPlan.type === PlanType.BASIC">
          <svg class="choose-plan__check">
            <use xlink:href="#check-round" />
          </svg>
        </ng-container>
        <button class="choose-plan__btn" (click)="selectPlan(null, PlanType.BASIC)">get Free</button>
        <div class="choose-plan__btn-cost">free</div>
      </div>
    </li>
    <li class="choose-plan__plan choose-plan__plan--pro" *ngIf="mainPlan$ | async as mainPlan" [class.active]="_selectedPlan.type === PlanType.PRO">
      <h4 class="choose-plan__title">Subscriber</h4>
      <ul class="choose-plan__options">
        <li class="choose-plan__elem" *ngFor="let adv of getPresentationPlanAdvantages(PlanType.PRO)">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" />
          </svg>
          {{ adv }}</li>
      </ul>
      <div class="choose-plan__btn-wpap">
        <ng-container *ngIf="_selectedPlan.type === PlanType.PRO">
          <svg class="choose-plan__check" >
            <use xlink:href="#check-round" />
          </svg>
        </ng-container>
        <button class="choose-plan__btn" (click)="selectPlan(mainPlan, PlanType.PRO)">get Subscriber</button>
        <div class="choose-plan__btn-cost">{{ mainPlan.amount / 100 | currency:'USD':'symbol-narrow' }} / year</div>
      </div>
    </li>
    <!-- <li class="choose-plan__plan choose-plan__plan--premium">
      <h4 class="choose-plan__title">Premium</h4>
      <ul class="choose-plan__options">
        <li class="choose-plan__elem">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" />
          </svg>
          All basic features
        </li>
        <li class="choose-plan__elem">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" />
          </svg>
          FIDE Broadcasts with live stream and predictions
        </li>
        <li class="choose-plan__elem">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" />
          </svg>
          Non FIDE Broadcasts
        </li>
        <li class="choose-plan__elem">
          <svg class="choose-plan__elem-icon">
            <use xlink:href="#check-2" /></svg>
          Playzone with thousands of players
        </li>
      </ul>
      <div class="choose-plan__btn-wpap">
        <button class="choose-plan__btn">get basic</button>
        <div class="choose-plan__btn-cost choose-plan__btn-cost--gray">$35 / year</div>
      </div>
    </li> -->
  </ul>

<div class="advantages">
  <div class="advantages__advantage">
    <span class="advantages__advantage-circle"></span>
    <div class="advantages__content">
      <h5 class="advantages__title">Support the community</h5>
      <div class="advantages__text">Part of each subscription goes to prize funds and chess events</div>
    </div>
  </div>
  <div class="advantages__advantage">
    <span class="advantages__advantage-circle"></span>
    <div class="advantages__content">
      <h5 class="advantages__title">Cancel any time</h5>
      <div class="advantages__text">You will receive a refund for an unused part of subscription</div>
    </div>
  </div>
  <div class="advantages__advantage">
    <span class="advantages__advantage-circle"></span>
    <div class="advantages__content">
      <h5 class="advantages__title">More questions?</h5>
      <div class="advantages__text">Call us or drop message. We'll help you with any issue</div>
    </div>
  </div>
</div>

</div>
