<div class="board-dashed lang-{{accountService.getLanguage() | async }}">
    <div class="board-dashed__aside">
        <div class="board-dashed__title">
          {{ 'GAME.GAME_ANALYSIS' | translate}}
        </div>
        <div class="board-dashed__text">
            {{ 'TEXT.EXPLORE_BEST_LINES_AND_VARIATIONS' | translate}}.
        </div>
        <div class="board-dashed__button desktop">
            <div class="board-dashed__smile">
                <img src="../../../../../assets/images/beautiful-online-chess/smile.png" alt="smile">
            </div>
          {{ 'MESSAGES.GREAT_MOVE' | translate}}
        </div>
        <div class="board-dashed__block mobile">
            <img src="../../../../../assets/images/beautiful-online-chess/board-dashed-block.svg" alt="">
        </div>
    </div>
    <div class="board-dashed__center">
        <div class="board-dashed__board desktop">
            <img src="../../../../../assets/images/beautiful-online-chess/game-board-dashed.svg" alt="board-dashed">
        </div>
        <div class="board-dashed__board mobile">
            <img src="../../../../../assets/images/beautiful-online-chess/game-board-dashed-mobile.svg" alt="board-dashed">
        </div>
    </div>
    <div class="board-dashed__aside desktop">
        <div class="board-dashed__table">
            <img class="img-lang-en" src="../../../../../assets/images/beautiful-online-chess/game-board-table-2.svg" alt="board-table">
            <img class="img-lang-ru" src="../../../../../assets/images/beautiful-online-chess/game-board-table-2-ru.svg" alt="board-table">
        </div>
    </div>
</div>
