<div class="cards  lang-{{accountService.getLanguage() | async }}">
    <div class="cards__list cards__list--lang-en">
        <div class="cards__elem cards__elem--1">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/frame-1.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--2">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/frame-2.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--5">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/frame-5.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--4">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/frame-4.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--3">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/frame-3.svg" alt="card">
        </div>
    </div>

    <div class="cards__list cards__list--lang-ru">
        <div class="cards__elem cards__elem--1">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/frame-1.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--2">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/frame-2.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--5">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/frame-5.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--4">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/frame-4.svg" alt="card">
        </div>
        <div class="cards__elem cards__elem--3">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/frame-3.svg" alt="card">
        </div>
    </div>
    <div class="cards__text desktop">
      {{ 'MESSAGES.MOTIVATION_REASSURANCE' | translate}}
    </div>
    <div class="cards__text mobile">
      {{ 'MESSAGES.MOTIVATION' | translate}}
    </div>
</div>
