<app-nav></app-nav>
<div class="rating">
  <div class="rating__wrapper">
    <div class="filter"
         [class.filter--active]="showSearchBar">
      <div class="filter__block-search">
        <label class="filter__label">
          <input type="text"
                 [ngModel]="searchQuery"
                 (input)="onChangeSearchText($event)"
                 class="filter__input"
                 placeholder="search">
          <img src="/assets/icons/search-icon.svg" alt="" class="filter__icon-search">
        </label>
      </div>
      <div class="filter__block-buttons">
        <!-- Filter for search -->
        <!--<div class="filter__drop" (click)="toggleFilters()">-->
        <!--Filter-->
        <!--<span class="filter__drop-arrow" [class.filter__drop-arrow&#45;&#45;active]="isShowFilter"></span>-->
        <!--<div class="dropdown" [class.dropdown&#45;&#45;active]="isShowFilter">-->
        <!--<ul class="dropdown__list">-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Country</span>-->
        <!--</li>-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Birth</span>-->
        <!--</li>-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Rating</span>-->
        <!--</li>-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Name</span>-->
        <!--</li>-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Classic</span>-->
        <!--</li>-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Blitz</span>-->
        <!--</li>-->
        <!--<li class="dropdown__elem">-->
        <!--<span class="dropdown__link">Rapid</span>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!-- /Filter for search -->
        <div class="filter__buttons">
          <ul class="filter__buttons-list">
            <li class="filter__buttons-elem">
              <span (click)="setTableView(true)"
                    class="filter__button"
                    [class.filter__button--active]="isTableMode">
                <img src="/assets/icons/table-view-icon.svg" alt="" class="filter__icon-display">
              </span>
            </li>
            <li class="filter__buttons-elem">
              <span (click)="setTableView(false)"
                    class="filter__button"
                    [class.filter__button--active]="!isTableMode">
                <img src="/assets/icons/portrait-view-icon.svg" alt="" class="filter__icon-display">
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="(bestPlayers$ | async) as bestPlayers" class="rating-best">
      <ul class="rating-best__list">
        <li class="rating-best__elem"
            [class.rating-best__elem--best-of-the-best]="i === 0"
            *ngFor="let player of bestPlayers; index as i"
            [attr.data-index]="i"
            [routerLink]="['/ratings', player.fide_id]">
          <div class="rating-best__title">
            <div class="rating-best__position">{{player.rank}}</div>
            <div class="rating-best__name">{{player.full_name}}</div>
          </div>
          <div class="rating-best__photo">
            <div class="rating-best__photo-wrapper">
              <img *ngIf="player.portrait" [src]="player.portrait" alt="">
              <wc-player-labels [labels]="player.labels"></wc-player-labels>
            </div>
          </div>
          <div class="rating-best__info">
            <div class="country">
              <wc-country [federation]="player.federation"></wc-country>
            </div>
            <div class="rating-count">RTG&nbsp;<span>{{player.rating}}</span></div>
          </div>
        </li>
      </ul>
      <button class="rating-best__btn"
              *ngIf="showMoreBestPlayersBtn"
              (click)="showMore()">see more players</button>
    </div>
    <div #ratingTableStart></div>
    <div class="rating-table-scroll">
      <wc-player-list-table *ngIf="isTableMode" [searchQuery]="searchQuery"></wc-player-list-table>
      <wc-player-list-tail *ngIf="!isTableMode" [searchQuery]="searchQuery"></wc-player-list-tail>
    </div>
  </div>
</div>
