@import '../../../html/css/variables';
@import '../../../html/css/media';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

chess-board {
  display: block;
  margin: 0 auto;
  width: 552px;
  height: 552px;
  max-height: 55vh;
  max-width: 55vh;

  @include ipad() {
    width: 455px;
    height: 455px;
  }

  @include phones-small() {
    height: 90vw;
    width: 90vw;
  }
}

.board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
