<div class="online-tournament-widget">
    <div class="online-tournament-widget__info-player">
        <div class="player">
            <div class="player__photo">
                <img src="{{ blackPlayer?.avatar?.full }}" alt="photo" />
            </div>
            <div class="player__time">{{ widgetTimeBoard.blackTime }}</div>
            <div class="player__info">
                <div class="player__name">{{ blackPlayer?.full_name ? blackPlayer?.full_name : 'Anonymous' }}</div>
                <div class="player__count">
                    <div class="player__time-mobile">{{ widgetTimeBoard.blackTime }} ∙</div>
                    <div class="player__count-wrapper" *ngIf="blackPlayer?.rating">
                        {{ blackPlayer?.rating }} <span *ngIf="blackCountry">&nbsp;∙&nbsp;&nbsp;{{ blackCountry }}</span>
                        <span *ngIf="getPoints$ | async as points"> ∙&nbsp; {{tournamentService.getFullValue(points[1])}}
                          <div class="half-value" *ngIf="tournamentService.haveHalfValue(points[1])"><span>1</span><span>2</span></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="player__position"
              [class.player__position--active]="((account$ | async)?.player.player_id === (board$ | async)?.black_id ||
              (account$ | async)?.player.player_id === (board$ | async)?.white_id)"
            >
              {{ (board$ | async)?.desk_number }}
            </div>
        </div>
    </div>
    <div class="online-tournament-widget__board">
        <wc-chess-board [board]="board$ | async"
                        [bottomPlayerColor]="bottomPlayerColor"
                        [canCompleteMove]="false"
                        [canMove]="false"
                        [moveReaction]="moveReaction$ | async"
                        [moveScore]="moveScore$ | async"
                        [position]="position$ | async"
                        [viewMode]="viewMode"
                        class="birman-chesspieces">
        </wc-chess-board>
        <tournament-countdown
            class="online-tournament-widget__timer"
            [timer]="countdownTimer$ | async"
            *ngIf="isShowCountdown$ | async"
            [text]="'BUTTONS.GO_TO_GAME' | translate"
            (action)="goToBoard()"
            [isAction]="true"
        >
        </tournament-countdown>
    </div>
    <div class="online-tournament-widget__info-player">
        <div class="player">
            <div class="player__photo">
                <img src="{{ whitePlayer?.avatar?.full }}" alt="photo" />
            </div>
            <div class="player__time">{{ widgetTimeBoard.whiteTime }}</div>
            <div class="player__info">
                <div class="player__name">{{ whitePlayer?.full_name ? whitePlayer?.full_name : 'Anonymous' }}</div>
                <div class="player__count">
                    <div class="player__time-mobile">{{ widgetTimeBoard.whiteTime }} ∙</div>
                    <div class="player__count-wrapper" *ngIf="whitePlayer?.rating">
                        {{ whitePlayer?.rating }} <span *ngIf="whiteCountry">&nbsp;∙&nbsp;&nbsp;{{ whiteCountry }}</span>
                        <span *ngIf="getPoints$ | async as points"> ∙&nbsp;&nbsp; {{tournamentService.getFullValue(points[0])}}
                          <div class="half-value" *ngIf="tournamentService.haveHalfValue(points[0])"><span>1</span><span>2</span></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
