<wc-layout>
  <div class="bg-gray block block-100h">
    <div class="container">
      <div class="d-flex block">
        <div class="d-none d-md-block">
          <h1>Enter new password</h1>
        </div>
        <ng-template [ngIf]="!(success$ | async)" [ngIfElse]="success">
          <div class="d-flex flex-column block-100h">
            <div (keyup.enter)="restore()" class="form d-flex flex-column">
              <app-password-input [password]="password" [responseError]="(formErrors$ | async)?.new_password"></app-password-input>
              <app-password-input [password]="repeatPassword" [responseError]="(formErrors$ | async)?.new_password"></app-password-input>
              <p *ngIf="error" class="form-error-text">{{ error }}</p>
              <p *ngIf="formErrors$ | async as formErrors" class="form-error-text">
                {{ formErrors.uid }} <br>
                {{ formErrors.non_field_errors }} <br>
              </p>
            </div>
            <button (click)="restore()" class="btn btn-blue submit ml-auto mt-auto" [disabled]="loading$ | async">save changes</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</wc-layout>

<ng-template #success>
  <div>Password changed. <a routerLink='/sign-in'>Sign In</a></div>
</ng-template>
