@import "settings";
@import "mixins";
@import "../../../html/css/variables";
.bg-grey {
  @include media-breakpoint-up(sm) {
    background-color: #ffffff;
  }
}

h1 {
  font-weight: lighter;
  padding: 9px 0;
  font: 300 33px/45px $gerbera-font;
}

.block {
  > div {
    flex: 100% 1 1;
  }

  &-100h {
    min-height: calc(100vh - 50px);
  }
}

.btn {
  margin-bottom: 20px;
}

.form {
  padding-right: 0;

  @include media-breakpoint-up(sm) {
    padding-right: 100px;
    padding-left: 42px;
    padding-top: 8px;
  }
}
