@import 'settings';
@import 'media';
@import "variables";

:host {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;

  position: relative;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
}

.video-block {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.livestream-main {
    background: none;
    padding-bottom: 50px;

    .video-block__cameras {
      background-color: #58ef99;
      bottom: 0;
      top: auto;
      color: #000;
    }
  }

  .video-block__wrapper {
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 100%;
    background-image: url(/assets/img/video-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include phones() {
      padding-bottom: 0;
      height: 100%;
      max-height: 385px;
      align-self: center;
    }
    //@include height-650() {
    //  padding-bottom: 0;
    //  height: 100%;
    //  max-height: 385px;
    //  align-self: center;
    //}
  }

  :host-context(.chess-layout--switched) {
    .video-block__wrapper {
      min-height: 500px;

      @include height-650() {
        min-height: auto;
      }
    }
  }

  .video-block__video {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .video-block__cameras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black-bg;
    color: #fff;

    &.hovered {
      display: flex;
    }
  }
}

.stub-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  .stub {
    height: 200px;
    width: 400px;
  }
}

.chess-product {
  &__buy {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($violet, 0.95);
    padding: 11px 25px;
    box-shadow: 0 0 22px 0 $violet;
    z-index: z-index(sticky);
    @include height-650() {
      padding: 7px 25px;
    }
    @include phones() {
      left: initial;
      box-shadow: none;
      width: 100%;
    }
  }

  &__buy-list {
    margin-top: 10px;
    min-height: 70px;
    @include height-650() {
      margin-top: 5px;
    }
  }

  &__buy-title {
    color: #000;
    font: 300 22px/29px $gerbera-font;
    @include height-650() {
      font: 300 20px/27px $gerbera-font;
    }
  }

  &__buy-elem {
    display: flex;
    margin-bottom: 5px;
  }

  &__buy-elem-text {
    color: #FFF;
    font: 300 15px/23px $gerbera-font;
    @include height-650() {
      font: 300 15px/20px $gerbera-font;
    }
  }

  &__buy-elem-icon {
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 20px;

    @include height-650() {
      width: 17px;
      height: 17px;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 2px;
      background-color: #000;
    }

    &:before {
      height: 100%;
      width: 2px;
    }
  }

  &__buy-buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__buy-btn {
    background-color: #000000;
    color: #FFF;
    border: 0;
    padding: 5px 25px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    font: 300 18px/18px $gerbera-font;
    height: 40px;
    position: relative;
    top: -5px;

    &:hover {
      border: 1px solid white;
      transition: border .3s ease;
    }
    @include phones() {
      z-index: z-index(sticky);
    }
  }

  &__buy-icon {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 7px;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    @include phones() {
      left: 30px;
      top: 150px;
      z-index: z-index(sticky);
    }

    svg-lock {
      display: block;
    }

    svg-lock-open {
      display: none;
    }

    &:hover {
      svg-lock {
        display: none;
      }

      svg-lock-open {
        display: block;
      }

      .chess-page__buy-hint {
        display: block;
      }
    }
  }

  &__buy-hint {
    display: none;
    position: absolute;
    top: 39px;
    right: 86px;
    width: 171px;
    height: 110px;
    background-color: #fff;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 82px solid #fff;
      transform: rotate(56deg);
      top: -31px;
      right: -25px;

    }
  }

  &__buy-hint-text {
    color: #898989;
    font: 400 12px/17px $gerbera-font;

    span {
      color: #000;
    }
  }

  &__buy-hint-icon {
    position: absolute;
    right: 20px;
    bottom: -25px;
  }

  &__buy-hint-wrapprer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    padding: 17px 10px 20px 31px;
    overflow: hidden;
  }
}
