<div class="account-info-form__selected-plan" [ngClass]="'account-info-form__selected-plan--' + planClass">
  <div class="selected-plan">
    <div class="selected-plan__content">
      <div class="selected-plan__text">You’ve selected:</div>
      <div class="selected-plan__title">{{ planTitle }}</div>
      <div class="selected-plan__cost" *ngIf="!!price">
        {{ price / 100 | currency: 'EUR':'symbol-narrow' }} {{ isPlan ? '/ per year' : '' }}
      </div>
      <svg class="selected-plan__heart">
        <use xlink:href="#heart"></use>
      </svg>
      <button *ngIf="showChange" class="selected-plan__btn" (click)="onChangePlanClick()">change</button>
    </div>
    <div class="selected-plan__footer">
      <div class="selected-plan__footer-title">
        Need Help?
      </div>
      <div class="selected-plan__footer-text">
        Call us or drop a message. We’ll help you with any issue.
      </div>
    </div>
  </div>
</div>
