<div class="root">
  <div class="layout">
    <div class="main">
      <div class="icon">
        <svg-cup-thin></svg-cup-thin>
      </div>
      <div class="title">
        {{ 'TEXT.ORGANIZE_YOUR_OWN_TOURNAMENT' | translate}}
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="fide">
      <div class="footer-icon">
        <svg-logo-fide-mini></svg-logo-fide-mini>
      </div>
      {{ 'OTHER.FIDE_RATED' | translate}}
    </div>
    <div class="footer-soon">
      {{ 'PART_OF_SPEECH.SOON' | translate}}
    </div>
    <!-- <div class="footer-icon">
      <svg-dots></svg-dots>
    </div> -->
  </div>
</div>
