@font-face {
  font-family: 'GerberaLight';
  src: url('assets/fonts/Gerbera-Light.otf') format('truetype'),
  url('assets/fonts/Gerbera-Light.otf') format('truetype');
}

@font-face {
  font-family: 'GerberaMedium';
  src: url('assets/fonts/Gerbera-Medium.otf') format('truetype'),
  url('assets/fonts/Gerbera-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'GerberaRegular';
  src: url('assets/fonts/Gerbera-Regular.otf') format('truetype'),
  url('assets/fonts/Gerbera-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'GerberaBold';
  src: url('assets/fonts/Gerbera-Bold.otf') format('truetype'),
  url('assets/fonts/Gerbera-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'GerberaBlack';
  src: url('assets/fonts/Gerbera-Black.otf') format('truetype'),
  url('assets/fonts/Gerbera-Black.otf') format('truetype');
}
