@import 'settings';
@import 'mixins';

.slick-slider {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;

  .slick-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 1;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:after {
      content: '';
      width: 12px;
      height: 12px;
      display: inline-block;
      border-style: solid;
      border-color: black;
      border-width: 0 1px 1px 0;
    }

    &:active, &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .slick-prev {
    left: 0;
    font-size: 0;
    text-align: left;

    &:after {
      transform: rotate(135deg);
      margin-left: 17px;
    }
  }

  .slick-next {
    right: 0;
    font-size: 0;
    text-align: right;

    &:after {
      transform: rotate(-45deg);
      margin-right: 17px;
    }
  }

  .slick-slide {
    border-right: 1px solid #E0E0E0;
    height: auto;
    float: none;

    &:last-child {
      border-right: none;
    }
  }

  .slick-track {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

}

.slider-multifunctional-board {
  width: 304px;

  @include media-breakpoint-up(lg) {
    width: 100%;
    max-width: 250px;
    margin-top: 3px;
  }

  @include media-breakpoint-up(xl) {
    margin-left: 38px;
    max-width: 280px;
  }

  &.slick-slider {
    border-top: none;
    border-bottom: none;
  }

  .slick-slide {
    border: none;
  }

  .slide {
    color: $white;
    font-family: $gerbera-font;               
    font-weight: 100;
    font-size: 15px;
    line-height: 21.9px;
    letter-spacing: 0.37px;
    padding: 0 25px;

    &:hover {
      cursor: pointer;
    }

    &-title {
      color: $white;
      letter-spacing: 0.9px;
      margin-bottom: 20px;
      font: 300 22px/32px $gerbera-font;

      @include media-breakpoint-up(lg) {
        margin-bottom: 32px;
      }
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    padding-right: 5px;

    @include media-breakpoint-up(lg) {
      margin: 27px auto 0 auto;
    }

    li {
      width: 7px;
      height: 7px;
      background-color: $color-grey;
      border-radius: 50%;
      margin: 0 7px;

      &.slick-active {
        background-color: $blue;
      }

      button {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

    }

  }

  .slick-arrow {
    display: none;
  }
}

.slider-paygate-features-images {
  &.slick-slider {
    border-top: none;
    border-bottom: none;
  }

  .slick-slide {
    border: none;
    padding: 21px 20px;
  }

  .slick-dots {
    display: flex;
    font-size: 0;
    justify-content: center;
    padding: 2px 0;

    @include media-breakpoint-up(sm) {
      padding: 11px 0;
    }

    li {
      margin: 0;
      font-size: inherit;
      padding: 2px 7px;

      button {
        background-color: #656565;
        border: none;
        width: 7px;
        height: 7px;
        display: block;
        font-size: inherit;
        border-radius: 50%;

        &::-moz-focus-inner {
          border: none;
        }
      }

      &.slick-active {
        button {
          background-color: #7BCFFB;
        }
      }
    }
  }
}

.slider-paygate-features-descriptions {
  &.slick-slider {
    border-top: none;
    border-bottom: none;
  }

  .slick-slide {
    border: none;
  }
}

.slider-account-membership-board {
  &.slick-slider {
    border-top: none;
    border-bottom: none;
  }

  .slick-slide {
    border: none;
  }
}
