@import "../../../html/css/variables";
@import "../../../html/css/media";

.payment-info-form {
    color: #fff;
}

.payment-info-form__title {
    text-align: center;
    font: 300 34px/34px $gerbera-font;
    margin-bottom: 49px;

    @include phones() {
        font: 300 22px/30px $gerbera-font;
        margin-bottom: 21px;
    }
}


.payment-info-form__content {
    width: calc(100% - 372px);

    &.embedded {
        width: 100%;
    }

    @include phones() {
        width: 100%;
    }
}

.payment-info-form__body {
    background: #2D2D2D;
    border-radius: 10px;
    padding: 30px 18px;
    flex: 1;
    color: #fff;
    margin-bottom: 55px;

    @include phones() {
        padding: 20px;
        margin-bottom: 21px;
    }
}

.payment-info-form__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 9px 0;

    @include phones() {
        flex-direction: column;
        padding: 0;
    }
}

.payment-info-form__col {
    margin: 0 13px; 
    flex: 1;

    @include phones() {
        margin: 0;
    }
}

.payment-info-form__col--3-2 {
    flex: 2;
}

.payment-info-form__col--3-1 {
    flex: 1;
}

.payment-info-form__agreement {
    font: 300 15px/20px $gerbera-font;
    color: #8F8F8F;
    padding-right: 50px;
    margin-bottom: 55px;

    @include phones() {
       color: #575757;
       font: 300 13px/20px $gerbera-font; 
       padding-right: 0;
       margin-bottom: 19px;
    }
}

.payment-info-form__label {
    display: flex;
    align-items: center;

    @include phones() {
        margin-bottom: 10px;
    }
}

.payment-info-form__label-input {
    position: absolute;
    visibility: hidden;

    &:checked + .payment-info-form__label-btn:after {
        opacity: 1;
    }
}

.payment-info-form__label-btn {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D8D8D8;
    flex: 0 0 auto;
    margin-right: 12px;

    @include phones() {
        width: 20px;
        height: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #8C53FF;
        opacity: 0;

        @include phones() {
            width: 10px;
            height: 10px;
            background-color: #5184FF;
        }
    }
}

.payment-info-form__label-text {
    font: 300 22px/22px $gerbera-font;

    @include phones() {
        font: 300 15px/15px $gerbera-font;
    }
}

.payment-info-form__error {
    color: #D0021B;
}
