<div class="payment-info-form">
  <h2 *ngIf="!showEmbedded" class="payment-info-form__title">Enter your payment information</h2>
  <div class="payment-info-form__wrapper">
    <div class="payment-info-form__content" [class.embedded]="showEmbedded">
      <div class="payment-info-form__body" (keyup.enter)="onEnter.emit()" *ngIf="paymentInfoForm">
        <div class="payment-info-form__row">
          <div class="payment-info-form__col payment-info-form__col--3-2">
            <app-card-number-input class="payment-info-form__input" label="Card Number" [cardNumber]="paymentInfoForm.controls['card_number']"></app-card-number-input>
          </div>
          <div class="payment-info-form__col payment-info-form__col--3-1">
            <app-card-cvc-input class="payment-info-form__input" [cardCVC]="paymentInfoForm.controls['cvc']"></app-card-cvc-input>
          </div>
        </div>
        <div class="payment-info-form__row">
          <div class="payment-info-form__col payment-info-form__col--3-1">
            <app-select-input class="payment-info-form__input" 
              optionLabelField="label"
              label="Exp. Month" 
              [control]="paymentInfoForm.controls['exp_month']" 
              [options]="months"></app-select-input>
          </div>
          <div class="payment-info-form__col payment-info-form__col--3-1">
            <app-select-input class="payment-info-form__input" 
              optionLabelField="label"
              label="Exp. Year" 
              [control]="paymentInfoForm.controls['exp_year']" 
              [options]="years"></app-select-input>
          </div>
          <div class="payment-info-form__col payment-info-form__col--3-1">
            <app-card-name-input class="payment-info-form__input" label="Name on Card" [cardName]="paymentInfoForm.controls['card_name']"></app-card-name-input>
          </div>
        </div>
        <div class="payment-info-form__row" *ngIf="error && error !== ''">
          <p class="payment-info-form__error">
            {{ error }}
          </p>
        </div>
      </div>
      <div class="payment-info-form__agreement">
        Your subscription will be automatically renewed unless you tell us to stop. Before the start of each renewal,
        you will be sent a reminder notice stating the term and rate then in effect (current rates listed below). If
        you do nothing, your credit/debit card or payment account will be charged or you will be sent an invoice for
        your subscription. You may cancel at any time during your subscription by contacting customer service at the
        infor- mation below, and receive a full refund for all unserved issues.
      </div>
    </div>
  </div>
</div>
