@import 'variables';
@import 'media';

.register {
    height: 100%;
    padding: 25px;
}

.register__title {
    font: 300 33px/43px $gerbera-font;
    color: #fff;
    height: 160px;
    padding-right: 25px;

    a {
        color: #999;
    }

    @include phones() {
        font: 300 29px/29px $gerbera-font;
        height: auto;
    }
}

.register__footer {
    height: 160px;
    display: flex;
    flex-direction: column;
}

.register__footer-coll {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex: 1;
    padding: 0 5px;

    @include phones() {
        width: 100%;
        flex-direction: row;
    }

    &:last-child {
        justify-content: flex-end;
        @include tablets() {
            justify-content: center;
        }
    }
}

.register-checkbox__content {
    display: flex;
}

.register-checkbox__input {
    position: absolute;
    opacity: 0;
}

.register-checkbox__btn {
    position: relative;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid #979797;
    padding: 3px;
    fill: #fff;
    margin-right: 15px;

    .icon {
        opacity: 0;
    }
}

.register-checkbox__text {
    font: 400 15px/23px $gerbera-font;
    color: #fff;

    span {
        color: #979797;
    }
}

.register-checkbox__input:checked+.register-checkbox__content {
    .register-checkbox__btn {
        .icon {
            opacity: 1;
        }
    }
}

.register__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 436px;
    width: 100%;
    height: 60px;
    padding: 14px 25px;
    background-color: #9bcfff;
    border-radius: 3px;
    border: 0;
    font: 300 22px/22px $gerbera-font;
    cursor: pointer;

    &--pro {
        background-color: $pink;
    }

    &--premium {
        background-color: $purple-new;
    }

    @include tablets() {
        max-width: 291px;
    }

    @include ipad() {
        max-width: 100%;
    }

    @include phones() {
        max-width: 100%;
    }
}

.login__incorrect {
    font: 300 15px/23px $gerbera-font;
    color: #ff7070;
    min-height: 46px;

    a {
        color: #fff;
    }
}