
@import "variables-new";
@import "media-new";

:host {
  height: 100%;
  .bar {
    display: flex;
    font-size: 15px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    @include birman-media {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }

  .line {
    &:hover {
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
    animation: movement 135s linear infinite;
    display: flex;
  }

  @keyframes movement {
    0% { transform: translateY(0%); }
    100% { transform: translateX(-50%) }
  }
}
