<div class="popup" [class.unauthorized]="!userInfo">
  <div *ngIf="userInfo">
    <div class="title account-name">
      <span class="passive">Account name </span>
      <span>{{userInfo.full_name}}</span>
    </div>
    <div class="title account-type">
      <span class="passive">You have a </span>
      <span>{{userInfo.premium ? 'Premium account' : 'Basic account'}}</span>
    </div>
    <div class="links">
      <a class="as-text membership" routerLink='/account/membership' (click)="onClickLink.next()">Membership</a>
      <div class="d-flex justify-content-between">
        <a class="as-text" routerLink='/account/profile' (click)="onClickLink.next()">Profile</a>
        <span (click)="logout()">Log out</span>
      </div>
    </div>
  </div>
  <app-unauthorized *ngIf="!userInfo"
                    (onClickLink)="onClickLink.next()"
                    class="d-flex unauthorized"></app-unauthorized>
</div>
