@import 'variables-new';
@import 'media-new';


/*--------------------*/
.register__head {
    margin-bottom: 0;
}

.register-input__input {
    flex: 0;
}

.register-input__error-text {
    &:before {
        display: none;
    }
}
