@import 'variables';
@import 'media';

.register {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 25px;
    background-color: #525252;
}

.register__close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 19px;
    height: 19px;
    cursor: pointer;

    &:after,
    &:before {
        content: '';
        display: block;
        width: 25px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #999;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.register__title {
    font: 300 33px/43px $gerbera-font;
    color: #fff;
    height: 160px;
    padding-right: 25px;

    a {
        color: #999;
    }

    @include laptop() {
        font: 300 29px/29px $gerbera-font;
        height: auto;
    }

    @include tablets() {
        font: 300 29px/29px $gerbera-font;
        height: auto;
    }
}

.register__labels {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    @include laptop() {}

    @include tablets() {
        margin: 0 auto;
    }

    @include phones() {
        margin: 0 auto;
        padding: 0 50px;
    }

    @include phones-small() {
        padding: 0;
    }
}

.register__footer {
    height: 160px;
    display: flex;
    margin: 0 -5px;
    padding-top: 10px;

    @include tablets() {
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    @include phones-small() {
        margin: 0;
    }
}

.register__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.register__footer-coll {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding: 0 5px;

    @include tablets() {
        padding: 0 0 25px;
        width: 100%;
    }

    @include phones() {
        width: calc(100% / 3);
        padding: 0 50px 25px;
        width: 100%;
    }

    @include phones-small() {
        padding: 0 0 25px;
    }

    &:last-child {
        @include tablets() {
            justify-content: center;
            padding: 0;
        }

        @include phones() {
            padding: 0;
        }
    }
}

.register-checkbox__content {
    display: flex;
}

.register-checkbox__input {
    position: absolute;
    opacity: 0;
}

.register-checkbox__btn {
    position: relative;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid #979797;
    padding: 3px;
    fill: #fff;
    margin-right: 15px;

    .icon {
        opacity: 0;
    }
}

.register-checkbox__text {
    font: 400 15px/23px $gerbera-font;
    color: #fff;

    span {
        color: #979797;
    }
}

.register-checkbox__input:checked+.register-checkbox__content {
    .register-checkbox__btn {
        .icon {
            opacity: 1;
        }
    }
}

.register__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 14px 25px;
    background-color: $blue-2;
    border-radius: 3px;
    border: 0;
    font: 300 22px/22px $gerbera-font;
    cursor: pointer;

    &--pro {
        background-color: $pink;
    }

    &--premium {
        background-color: #dca4ff;
    }

    @include tablets() {
        width: 246px;
    }

    @include phones-small() {
        width: 100%;
        font: 300 18px/18px $gerbera-font;
    }
}

.register__text {
    font: 300 15px/23px $gerbera-font;
    color: #999;

    a,
    span {
        color: #fff;
    }
}

.navigation {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navigation__btn {
    display: flex;
    align-items: center;
    font: 300 22px/17px $gerbera-font;
    color: #fff;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    .icon {
        position: relative;
        top: 2px;
        margin-right: 5px;
        fill: #979797;
        width: 20px;
        height: 20px;
    }
}

.navigation__text {
    font: 300 22px/17px $gerbera-font;
    color: #fff;

    &--gray {
        color: #747474;

        a {
            color: #fff;
        }
    }
}

.input-text__row {
    display: flex;
    margin: 0 -15px 20px;

    @include phones-small() {
        margin: 0 -15px;
    }
}

.input-text__col {
    flex: 1;
    padding: 0 15px;
}

.register__steps {
    font: 400 15px/20px $gerbera-font;
    text-align: center;
    color: #999;
    margin-bottom: 10px;

    span {
        color: #fff;
    }
}

.date-of-birth {
    width: 100%;
}

.date-of-birth__inputs {
    display: flex;
    color: #fff;
    font: 300 25px/25px $gerbera-font;
}

.date-of-birth__input {
    display: inline-block;
    flex: 0 0 auto;
    background-color: transparent;
    font: 300 22px/17px $gerbera-font;
    color: #999;
    width: 45px;
    border: 0;
    color: #000;
    margin-left: 5px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        width: 50px;
    }
}

.date-of-birth__text {
    color: #fff;
    font: 400 15px/20px $gerbera-font;
    margin-bottom: 10px;
}

.gender__text {
    color: #fff;
    font: 400 15px/20px $gerbera-font;
    margin-bottom: 10px;
}

.gender__radio {
    display: flex;
}

.register-radio {
    margin-right: 29px;

    &:last-child {
        margin-right: 0;
    }
}

.register-radio__input {
    position: absolute;
    opacity: 0;
}

.register-radio__content {
    display: flex;
    align-items: center;
}

.register-radio__text {
    color: #fff;
    font: 300 22px/17px $gerbera-font;
}

.register-radio__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    flex: 0 0 auto;
    border-radius: 50%;
    border: 1px solid #979797;
    margin-right: 19px;

    &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #979797;
        opacity: 0;
    }
}

.register-radio__input:checked+.register-radio__content .register-radio__btn:after {
    opacity: 1;
}

.your-photo {
    display: flex;
    flex-direction: column;
    width: 147px;
    height: 193px;
    border: 1px solid #999;
    margin-top: 30px;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.your-photo__text {
    color: #fff;
    font: 300 22px/17px $gerbera-font;
    padding: 10px;
    text-align: center;
}

.your-photo__icon {
    margin-top: auto;
    width: 136px;
    height: 135px;

    .icon {
        fill: #fff;
        width: 100%;
    }
}

.confirm {
    max-width: 333px;
    margin: 0 auto;

    &--error {
        .confirm__input {
            border: 1px solid #ff7070;
        }
    }
}

.confirm__list {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}

.confirm__elem {
    margin-right: 11px;

    &:last-child {
        margin-right: 0;
    }
}

.confirm__input {
    width: 46px;
    height: 55px;
    border: 1px solid #797979;
    font: 300 33px/43px $gerbera-font;
    color: #fff;
    background-color: transparent;
    text-align: center;

    @include phones-small() {
        width: 35px;
        height: 45px;
        border: 1px solid #797979;
        font: 300 29px/43px $gerbera-font;
    }
}

.confirm__error {
    font: 300 15px/23px $gerbera-font;
    color: #ff7070;

    a {
        color: #fff;
    }
}