<div class="phones lang-{{accountService.getLanguage() | async }}">
    <div class="phones__wrap phones__wrap--lang-en">
        <div class="phone phone-1">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/phone-1.png" alt="phone">
        </div>
        <div class="phone phone-2">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/phone-2.png" alt="phone">
        </div>
        <div class="phone phone-3">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-en/phone-3.png" alt="phone">
        </div>
    </div>
    <div class="phones__wrap phones__wrap--lang-ru">
        <div class="phone phone-1">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/phone-1.svg" alt="phone">
        </div>
        <div class="phone phone-2">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/phone-2.svg" alt="phone">
        </div>
        <div class="phone phone-3">
            <img src="../../../../../assets/images/beautiful-online-chess/lang-ru/phone-3.svg" alt="phone">
        </div>
    </div>
</div>