<div class="rating">
  <div class="container">
    <h1 class="block-header">Rating</h1>
  </div>
  <div class="rating-wrapper d-flex">
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/magnus-carlsen.svg" alt="Magnus Carlsen">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/nor.svg" alt="NOR">
        <div class="country">nor</div>
        <div class="name">Magnus Carlsen</div>
        <div class="sex">GM</div>
        <div class="year">2835</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/fabiano-caruana.svg" alt="Fabiano Caruana">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/usa.svg" alt="USA">
        <div class="country">usa</div>
        <div class="name">Fabiano Caruana</div>
        <div class="sex">GM</div>
        <div class="year">2832</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/shakhriyar-mamedyarov.svg" alt="Shakhriyar Mamedyarov">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/aze.svg" alt="AZE">
        <div class="country">aze</div>
        <div class="name">Shakhriyar Mamedyarov</div>
        <div class="sex">GM</div>
        <div class="year">2817</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/liren-ding.svg" alt="Liren Ding">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/chn.svg" alt="CHN">
        <div class="country">chn</div>
        <div class="name">Liren Ding</div>
        <div class="sex">GM</div>
        <div class="year">2816</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/anish-giri.svg" alt="Anish Giri">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/ned.svg" alt="NED">
        <div class="country">ned</div>
        <div class="name">Anish Giri</div>
        <div class="sex">GM</div>
        <div class="year">2780</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/maxime-vachier-lagrave.svg" alt="Maxime Vachier-Lagrave">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/fra.svg" alt="FRA">
        <div class="country">fra</div>
        <div class="name">Maxime Vachier-Lagrave</div>
        <div class="sex">GM</div>
        <div class="year">2778</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/vladimir-kramnik.svg" alt="Vladimir Kramnik">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/rus.svg" alt="RUS">
        <div class="country">rus</div>
        <div class="name">Vladimir Kramnik</div>
        <div class="sex">GM</div>
        <div class="year">2777</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/wesley-so.svg" alt="Wesley So">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/usa.svg" alt="USA">
        <div class="country">usa</div>
        <div class="name">Wesley So</div>
        <div class="sex">GM</div>
        <div class="year">2765</div>
      </div>
    </div>
    <div class="rating-item">
      <img class="photo" src="./assets/images/rating/sergey-karjakin.svg" alt="Sergey Karjakin">
      <div class="info d-flex justify-content-between">
        <img class="flag" src="./assets/images/flags/rus.svg" alt="RUS">
        <div class="country">rus</div>
        <div class="name">Sergey Karjakin</div>
        <div class="sex">GM</div>
        <div class="year">2753</div>
      </div>
    </div>
  </div>
</div>
