<ng-container *ngIf="accountType$ | async as accountType">
  <!-- Basic -->
  <div class="membership membership-default" *ngIf="accountType === PlanType.BASIC">

    <div class="coll coll-left">
      <div class="membership__title">
          Basic account
      </div>
      <div class="membership__text">
        Your membership lets you view the text broadcast of World Chess Championship and chat with other fans

        If you want to have more interesting experience take a look in our Premium features
      </div>
      <div class="membership__buttons" *ngIf="plan$ | async as plan">
        <button class="membership__btn" (click)="changeSubscription()">change subscription</button>
      </div>
    </div>

    <div *ngIf="!(showCancelDialog$ | async)" class="coll coll-right">
      <div class="broadcast-title">
        <h1>Watch now</h1>
      </div>
      <div>
        <wc-main-broadcast-list (onBuyBroadcast)="onBuyBroadcast($event)"></wc-main-broadcast-list>
      </div>
    </div>

    <div *ngIf="showCancelDialog$ | async" class="coll coll-right">
      <div class="broadcast" *ngIf="cancelDialogStep === SubscriptionCancelDialogStep.CANCEL">
        <div class="broadcast__title">Are you sure you want to cancel Subscription? Really cool things are coming up!</div>
        <div class="broadcast__heart">
          <svg class="icon">
            <use xlink:href="#broken-heart"></use>
          </svg>
        </div>
        <a href="#" class="broadcast__link" (click)="closeCancelDialog($event)">Never mind!</a>
        <button class="broadcast__button" (click)="confirmStep()">Cancel my Premium Subscription</button>
      </div>
      <div class="broadcast" *ngIf="cancelDialogStep === SubscriptionCancelDialogStep.CONFIRM">
        <div class="broadcast__title">To be confirmed by email?</div>

        <div class="broadcast__buttons">
          <button class="broadcast__button" (click)="cancelPremiumSubscr(true)">Yes</button>
          <button class="broadcast__button broadcast__button--white" (click)="cancelPremiumSubscr(false)">No</button>
        </div>
        <div class="broadcast__text">Your premium subscription will discontinue from the next billing cycle.</div>
      </div>
    </div>

    <div class="coll coll-right" *ngIf="false">
      <div class="membership-title membership-title-premium">
        <img src="assets/icons/figure-premium.svg" alt="" class="chess">
        <p>
          Upgrade <span class="d-none d-md-inline-block">to</span> Premium account
        </p>
        <div class="arrow"></div>
      </div>
      <div class="row row-top d-none d-md-flex">
        <div class="main-board">
          <div class="slider-account-membership-board">
            <img src="assets/images/account/membership/1.jpg" alt="" class="board-image">
            <img src="assets/images/account/membership/2.jpg" alt="" class="board-image">
            <img src="assets/images/account/membership/3.jpg" alt="" class="board-image">
            <img src="assets/images/account/membership/4.jpg" alt="" class="board-image">
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="slider-multifunctional-board">
              <div class="slide">
                <div class="slide-title">Multifunctional Board</div>
                <div class="slide-content">
                  Multifunctional Board lets you
                  replay each move, try your
                  own move to see how it can
                  impact the outcome of a
                  game and share moves on
                  social networks
                </div>
              </div>
              <div class="slide">
                <div class="slide-title">Extended analytics</div>
                <div class="slide-content">
                  Extended analytics with
                  detailed game parameters
                  together with several lines of
                  move predictions calculated
                  on the fastest servers
                </div>
              </div>
              <div class="slide">
                <div class="slide-title">Live video</div>
                <div class="slide-content">
                  Live video with multi-camera
                  view. Switch between multiple
                  cameras within the playing
                  arena to get unique views of
                  the action
                </div>
              </div>
              <div class="slide">
                <div class="slide-title">Live commentary</div>
                <div class="slide-content">
                  Live commentary in several
                  languages from leading
                  grandmasters and guest
                  celebrity chess fans
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-md-none">
        <p class="text">
          If you want to have more interesting experience take a look in our <span>Premium features</span>
        </p>
      </div>
      <div class="row-bottom">
        <div class="advantages d-none d-md-block">
          <div class="advantages-title">
            Annual premium access to <br>
            {{(plan$ | async)?.name}}
          </div>
          <div class="advantages-list">
            <!--<div class="title">-->
              <!--All premium membership features;-->
            <!--</div>-->
            <div class="list">
              <div class="list-item">
                <img src="assets/images/paygate/plus.svg" alt="">
                Official broadcast with multicamera view;
              </div>
              <div class="list-item">
                <img src="assets/images/paygate/plus.svg" alt="">
                Multifunctional board that lets you make<br>
                your own movies;
              </div>
              <div class="list-item">
                <img src="assets/images/paygate/plus.svg" alt="">
                Enjoy extended analytics and several line<br>
                of predictions, and much more.
              </div>
            </div>
          </div>
        </div>
        <div class="buy" *ngIf="plan$ | async as plan">
            <!-- <span class="price price-white price-striped d-none d-md-block">$30</span> -->
            <span class="price price-blue d-none d-md-block">{{plan?.amount  / 100 | currency:'USD':'symbol-narrow'}}</span>
            <a (click)="showPaygate(null, plan?.amount, plan?.stripe_id, true, PlanType.PRO)" class="btn">subscribe</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Pro -->
  <div class="membership membership--pro" *ngIf="accountType === PlanType.PRO">

    <div class="coll coll-left">
      <div class="membership__title">
          Pro account
      </div>
      <div class="membership__text">
        You are a premium user. Your account is active until {{ (currentSubscription$ | async)?.period?.upper | date:'MM.dd.yyyy' }} and will renew automatically (we will let you know before renewing the sub).
      </div>
      <div class="membership__buttons" *ngIf="plan$ | async as plan">
        <button class="membership__btn" (click)="changeSubscription()">change subscription</button>
        <button *ngIf="isCancelAvailable$ | async" class="membership__btn membership__btn--black" (click)="showCancelDialog()">cancel subscription</button>
      </div>
    </div>

    <div *ngIf="!(showCancelDialog$ | async)" class="coll coll-right">
      <div class="broadcast-title">
        <h1>Watch now</h1>
      </div>
      <div>
        <wc-main-broadcast-list (onBuyBroadcast)="onBuyBroadcast($event)"></wc-main-broadcast-list>
      </div>
    </div>

    <div *ngIf="showCancelDialog$ | async" class="coll coll-right">
      <div class="broadcast" *ngIf="cancelDialogStep === SubscriptionCancelDialogStep.CANCEL">
        <div class="broadcast__title">Are you sure you want to cancel Subscription? Really cool things are coming up!</div>
        <div class="broadcast__heart">
          <svg class="icon">
            <use xlink:href="#broken-heart"></use>
          </svg>
        </div>
        <a href="#" class="broadcast__link" (click)="closeCancelDialog($event)">Never mind!</a>
        <button class="broadcast__button" (click)="confirmStep()">Cancel my Premium Subscription</button>
      </div>
      <div class="broadcast" *ngIf="cancelDialogStep === SubscriptionCancelDialogStep.CONFIRM">
        <div class="broadcast__title">To be confirmed by email?</div>

        <div class="broadcast__buttons">
          <button class="broadcast__button" (click)="cancelPremiumSubscr(true)">Yes</button>
          <button class="broadcast__button broadcast__button--white" (click)="cancelPremiumSubscr(false)">No</button>
        </div>
        <div class="broadcast__text">Your premium subscription will discontinue from the next billing cycle.</div>
      </div>
    </div>

    <div class="coll coll-right" *ngIf="false">
      <div class="membership-title membership-title-premium">
        <img src="assets/icons/figure-premium.svg" alt="" class="chess">
        <p>
          Upgrade <span class="d-none d-md-inline-block">to</span> Premium account
        </p>
        <div class="arrow"></div>
      </div>
      <div class="row row-top d-none d-md-flex">
        <div class="main-board">
          <div class="slider-account-membership-board">
            <img src="assets/images/account/membership/1.jpg" alt="" class="board-image">
            <img src="assets/images/account/membership/2.jpg" alt="" class="board-image">
            <img src="assets/images/account/membership/3.jpg" alt="" class="board-image">
            <img src="assets/images/account/membership/4.jpg" alt="" class="board-image">
          </div>
        </div>
        <div class="slider-wrapper">
          <div class="slider">
            <div class="slider-multifunctional-board">
              <div class="slide">
                <div class="slide-title">Multifunctional Board</div>
                <div class="slide-content">
                  Multifunctional Board lets you
                  replay each move, try your
                  own move to see how it can
                  impact the outcome of a
                  game and share moves on
                  social networks
                </div>
              </div>
              <div class="slide">
                <div class="slide-title">Extended analytics</div>
                <div class="slide-content">
                  Extended analytics with
                  detailed game parameters
                  together with several lines of
                  move predictions calculated
                  on the fastest servers
                </div>
              </div>
              <div class="slide">
                <div class="slide-title">Live video</div>
                <div class="slide-content">
                  Live video with multi-camera
                  view. Switch between multiple
                  cameras within the playing
                  arena to get unique views of
                  the action
                </div>
              </div>
              <div class="slide">
                <div class="slide-title">Live commentary</div>
                <div class="slide-content">
                  Live commentary in several
                  languages from leading
                  grandmasters and guest
                  celebrity chess fans
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-md-none">
        <p class="text">
          If you want to have more interesting experience take a look in our <span>Premium features</span>
        </p>
      </div>
      <div class="row-bottom">
        <div class="advantages d-none d-md-block">
          <div class="advantages-title">
            Annual premium access to <br>
            {{(plan$ | async)?.name}}
          </div>
          <div class="advantages-list">
            <!--<div class="title">-->
              <!--All premium membership features;-->
            <!--</div>-->
            <div class="list">
              <div class="list-item">
                <img src="assets/images/paygate/plus.svg" alt="">
                Official broadcast with multicamera view;
              </div>
              <div class="list-item">
                <img src="assets/images/paygate/plus.svg" alt="">
                Multifunctional board that lets you make<br>
                your own movies;
              </div>
              <div class="list-item">
                <img src="assets/images/paygate/plus.svg" alt="">
                Enjoy extended analytics and several line<br>
                of predictions, and much more.
              </div>
            </div>
          </div>
        </div>
        <div class="buy" *ngIf="plan$ | async as plan">
            <!-- <span class="price price-white price-striped d-none d-md-block">$30</span> -->
            <span class="price price-blue d-none d-md-block">{{plan?.amount  / 100 | currency:'USD':'symbol-narrow'}}</span>
            <a (click)="showPaygate(null, plan?.amount, plan?.stripe_id, true, PlanType.PRO)" class="btn">subscribe</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Premium -->
  <div class="membership membership--premium" *ngIf="accountType === PlanType.PREMIUM">
    <div class="coll coll-left">
      <div class="membership__title">
          Premium account
      </div>
      <div class="membership__text">
          You are a premium user. Your account is active until {{ (subscriptionEnd$ | async).period.upper | date:'MM.dd.yyyy' }} <span *ngIf="isCancelAvailable$ | async">and will renew automatically (we will let you know before renewing the sub)</span>.
      </div>
      <div class="membership__buttons">
        <button class="membership__btn" routerLink="/paygate">change subscription</button>
        <button *ngIf="isCancelAvailable$ | async" class="membership__btn membership__btn--black" (click)="showCancelDialog()">cancel subscription</button>
      </div>
    </div>

    <div *ngIf="!(showCancelDialog$ | async)" class="coll coll-right">
      <div class="broadcast-title">
        <h1>Watch now</h1>
      </div>
      <div>
        <wc-main-broadcast-list (onBuyBroadcast)="onBuyBroadcast($event)"></wc-main-broadcast-list>
      </div>
    </div>

    <div *ngIf="showCancelDialog$ | async" class="coll coll-right">
      <div class="broadcast" *ngIf="cancelDialogStep === SubscriptionCancelDialogStep.CANCEL">
        <div class="broadcast__title">Are you sure you want to cancel Subscription? Really cool things are coming up!</div>
        <div class="broadcast__heart">
            <svg class="icon">
                <use xlink:href="#broken-heart"></use>
              </svg>
        </div>
        <a href="#" class="broadcast__link" (click)="closeCancelDialog($event)">Never mind!</a>
        <button class="broadcast__button" (click)="confirmStep()">Cancel my Premium Subscription</button>
      </div>
      <div class="broadcast" *ngIf="cancelDialogStep === SubscriptionCancelDialogStep.CONFIRM">
        <div class="broadcast__title">To be confirmed by email?</div>

        <div class="broadcast__buttons">
          <button class="broadcast__button" (click)="cancelPremiumSubscr(true)">Yes</button>
          <button class="broadcast__button broadcast__button--white" (click)="cancelPremiumSubscr(false)">No</button>
        </div>
        <div class="broadcast__text">Your premium subscription will discontinue from the next billing cycle.</div>
      </div>
    </div>
  </div>
  <wc-paygate-embedded></wc-paygate-embedded>
</ng-container>
