/*
 * Board
 */
.blue .cg-board-wrap {
  background-image: url("images/board/blue.svg");
}

.brown .cg-board-wrap {
  background-image: url("images/board/brown.svg");
}

.dark-brown .cg-board-wrap {
  background-image: url("images/board/dark-brown.svg");
}

.light-brown .cg-board-wrap {
  background-image: url("images/board/light-brown.svg");
}

.zeit .cg-board-wrap {
  background-image: url("images/board/zeit.svg");
}

.chesscom .cg-board-wrap {
  background-image: url("images/board/chesscom.svg");
}

.informator .cg-board-wrap {
  background-image: url("images/board/informator.svg");
}

.sportverlag .cg-board-wrap {
  background-image: url("images/board/sportverlag.svg");
}

.beyer .cg-board-wrap {
  background-image: url("images/board/beyer.svg");
}

.falken .cg-board-wrap {
  background-image: url("images/board/falken.svg");
}

.green .cg-board-wrap {
  background-image: url("images/board/green.svg");
}

.gray .cg-board-wrap {
  background-image: url("images/board/gray.svg");
}

.birman-gray .cg-board-wrap {
  background-image: url("images/board/birman-gray.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.birman-gray.editable .cg-board-wrap {
  background-image: url("images/board/birman-in-dashes.svg");
}

.birman-gray.textbook .cg-board-wrap {
  background-image: url("images/board/birman-in-dashes.svg");
}

.birman-gray.world-chess-board .cg-board-wrap {
  background-image: url("images/board/board-wood.jpg");
}

/*
 * Board
 */
.merida .cg-board piece.pawn.white {
  background-image: url('/assets/images/chess/v4/wP.svg');
}

.merida .cg-board piece.bishop.white {
  background-image: url('/assets/images/chess/v4/wB.svg');
}

.merida .cg-board piece.knight.white {
  background-image: url('/assets/images/chess/v4/wN.svg');
}

.merida .cg-board piece.rook.white {
  background-image: url('/assets/images/chess/v4/wR.svg');
}

.merida .cg-board piece.queen.white {
  background-image: url('/assets/images/chess/v4/wQ.svg');
}

.merida .cg-board piece.king.white {
  background-image: url('/assets/images/chess/v4/wK.svg');
}

.merida .cg-board piece.pawn.black {
  background-image: url('/assets/images/chess/v4/bP.svg');
}

.merida .cg-board piece.bishop.black {
  background-image: url('/assets/images/chess/v4/bB.svg');
}

.merida .cg-board piece.knight.black {
  background-image: url('/assets/images/chess/v4/bN.svg');
}

.merida .cg-board piece.rook.black {
  background-image: url('/assets/images/chess/v4/bR.svg');
}

.merida .cg-board piece.queen.black {
  background-image: url('/assets/images/chess/v4/bQ.svg');
}

.merida .cg-board piece.king.black {
  background-image: url('/assets/images/chess/v4/bK.svg');
}

chess-board .merida .cg-board piece.pawn.white {
  background-image: url('/assets/images/chess/v4/wP.svg');
}

chess-board .merida .cg-board piece.bishop.white {
  background-image: url('/assets/images/chess/v4/wB.svg');
}

chess-board .merida .cg-board piece.knight.white {
  background-image: url('/assets/images/chess/v4/wN.svg');
}

chess-board .merida .cg-board piece.rook.white {
  background-image: url('/assets/images/chess/v4/wR.svg');
}

chess-board .merida .cg-board piece.queen.white {
  background-image: url('/assets/images/chess/v4/wQ.svg');
}

chess-board .merida .cg-board piece.king.white {
  background-image: url('/assets/images/chess/v4/wK.svg');
}

chess-board .merida .cg-board piece.pawn.black {
  background-image: url('/assets/images/chess/v4/bP.svg');
}

chess-board .merida .cg-board piece.bishop.black {
  background-image: url('/assets/images/chess/v4/bB.svg');
}

chess-board .merida .cg-board piece.knight.black {
  background-image: url('/assets/images/chess/v4/bN.svg');
}

chess-board .merida .cg-board piece.rook.black {
  background-image: url('/assets/images/chess/v4/bR.svg');
}

chess-board .merida .cg-board piece.queen.black {
  background-image: url('/assets/images/chess/v4/bQ.svg');
}

chess-board .merida .cg-board piece.king.black {
  background-image: url('/assets/images/chess/v4/bK.svg');
}

/* Wikipedia */
.wikipedia .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/wikipedia/wP.png');
}

.wikipedia .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/wikipedia/wB.png');
}

.wikipedia .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/wikipedia/wN.png');
}

.wikipedia .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/wikipedia/wR.png');
}

.wikipedia .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/wikipedia/wQ.png');
}

.wikipedia .cg-board piece.king.white {
  background-image: url('../img/chesspieces/wikipedia/wK.png');
}

.wikipedia .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/wikipedia/bP.png');
}

.wikipedia .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/wikipedia/bB.png');
}

.wikipedia .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/wikipedia/bN.png');
}

.wikipedia .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/wikipedia/bR.png');
}

.wikipedia .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/wikipedia/bQ.png');
}

.wikipedia .cg-board piece.king.black {
  background-image: url('../img/chesspieces/wikipedia/bK.png');
}
/* Alpha */
.alpha .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/alpha/wP.png');
}

.alpha .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/alpha/wB.png');
}

.alpha .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/alpha/wN.png');
}

.alpha .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/alpha/wR.png');
}

.alpha .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/alpha/wQ.png');
}

.alpha .cg-board piece.king.white {
  background-image: url('../img/chesspieces/alpha/wK.png');
}

.alpha .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/alpha/bP.png');
}

.alpha .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/alpha/bB.png');
}

.alpha .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/alpha/bN.png');
}

.alpha .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/alpha/bR.png');
}

.alpha .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/alpha/bQ.png');
}

.alpha .cg-board piece.king.black {
  background-image: url('../img/chesspieces/alpha/bK.png');
}
/* Beyer */
.beyer .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/beyer/wP.png');
}

.beyer .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/beyer/wB.png');
}

.beyer .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/beyer/wN.png');
}

.beyer .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/beyer/wR.png');
}

.beyer .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/beyer/wQ.png');
}

.beyer .cg-board piece.king.white {
  background-image: url('../img/chesspieces/beyer/wK.png');
}

.beyer .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/beyer/bP.png');
}

.beyer .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/beyer/bB.png');
}

.beyer .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/beyer/bN.png');
}

.beyer .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/beyer/bR.png');
}

.beyer .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/beyer/bQ.png');
}

.beyer .cg-board piece.king.black {
  background-image: url('../img/chesspieces/beyer/bK.png');
}
/* Case */
.case .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/case/wP.png');
}

.case .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/case/wB.png');
}

.case .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/case/wN.png');
}

.case .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/case/wR.png');
}

.case .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/case/wQ.png');
}

.case .cg-board piece.king.white {
  background-image: url('../img/chesspieces/case/wK.png');
}

.case .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/case/bP.png');
}

.case .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/case/bB.png');
}

.case .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/case/bN.png');
}

.case .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/case/bR.png');
}

.case .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/case/bQ.png');
}

.case .cg-board piece.king.black {
  background-image: url('../img/chesspieces/case/bK.png');
}
/* Chesscom */
.chesscom .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/chesscom/wp.png');
}

.chesscom .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/chesscom/wb.png');
}

.chesscom .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/chesscom/wn.png');
}

.chesscom .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/chesscom/wr.png');
}

.chesscom .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/chesscom/wq.png');
}

.chesscom .cg-board piece.king.white {
  background-image: url('../img/chesspieces/chesscom/wk.png');
}

.chesscom .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/chesscom/bp.png');
}

.chesscom .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/chesscom/bb.png');
}

.chesscom .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/chesscom/bn.png');
}

.chesscom .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/chesscom/br.png');
}

.chesscom .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/chesscom/bq.png');
}

.chesscom .cg-board piece.king.black {
  background-image: url('../img/chesspieces/chesscom/bk.png');
}
/* Condal */
.condal .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/condal/wP.png');
}

.condal .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/condal/wB.png');
}

.condal .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/condal/wN.png');
}

.condal .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/condal/wR.png');
}

.condal .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/condal/wQ.png');
}

.condal .cg-board piece.king.white {
  background-image: url('../img/chesspieces/condal/wK.png');
}

.condal .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/condal/bP.png');
}

.condal .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/condal/bB.png');
}

.condal .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/condal/bN.png');
}

.condal .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/condal/bR.png');
}

.condal .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/condal/bQ.png');
}

.condal .cg-board piece.king.black {
  background-image: url('../img/chesspieces/condal/bK.png');
}
/* Leipzig */
.leipzig .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/leipzig/wP.png');
}

.leipzig .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/leipzig/wB.png');
}

.leipzig .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/leipzig/wN.png');
}

.leipzig .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/leipzig/wR.png');
}

.leipzig .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/leipzig/wQ.png');
}

.leipzig .cg-board piece.king.white {
  background-image: url('../img/chesspieces/leipzig/wK.png');
}

.leipzig .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/leipzig/bP.png');
}

.leipzig .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/leipzig/bB.png');
}

.leipzig .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/leipzig/bN.png');
}

.leipzig .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/leipzig/bR.png');
}

.leipzig .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/leipzig/bQ.png');
}

.leipzig .cg-board piece.king.black {
  background-image: url('../img/chesspieces/leipzig/bK.png');
}
/* Maya */
.maya .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/maya/wP.png');
}

.maya .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/maya/wB.png');
}

.maya .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/maya/wN.png');
}

.maya .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/maya/wR.png');
}

.maya .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/maya/wQ.png');
}

.maya .cg-board piece.king.white {
  background-image: url('../img/chesspieces/maya/wK.png');
}

.maya .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/maya/bP.png');
}

.maya .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/maya/bB.png');
}

.maya .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/maya/bN.png');
}

.maya .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/maya/bR.png');
}

.maya .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/maya/bQ.png');
}

.maya .cg-board piece.king.black {
  background-image: url('../img/chesspieces/maya/bK.png');
}
/* USCF */
.uscf .cg-board piece.pawn.white {
  background-image: url('../img/chesspieces/uscf/wP.png');
}

.uscf .cg-board piece.bishop.white {
  background-image: url('../img/chesspieces/uscf/wB.png');
}

.uscf .cg-board piece.knight.white {
  background-image: url('../img/chesspieces/uscf/wN.png');
}

.uscf .cg-board piece.rook.white {
  background-image: url('../img/chesspieces/uscf/wR.png');
}

.uscf .cg-board piece.queen.white {
  background-image: url('../img/chesspieces/uscf/wQ.png');
}

.uscf .cg-board piece.king.white {
  background-image: url('../img/chesspieces/uscf/wK.png');
}

.uscf .cg-board piece.pawn.black {
  background-image: url('../img/chesspieces/uscf/bP.png');
}

.uscf .cg-board piece.bishop.black {
  background-image: url('../img/chesspieces/uscf/bB.png');
}

.uscf .cg-board piece.knight.black {
  background-image: url('../img/chesspieces/uscf/bN.png');
}

.uscf .cg-board piece.rook.black {
  background-image: url('../img/chesspieces/uscf/bR.png');
}

.uscf .cg-board piece.queen.black {
  background-image: url('../img/chesspieces/uscf/bQ.png');
}

.uscf .cg-board piece.king.black {
  background-image: url('../img/chesspieces/uscf/bK.png');
}





/*
 * Новые ффигуры Бирмана
 */
 .birman-chesspieces .cg-board piece.pawn.white {
  background-image: url('/assets/images/chess/birman-chesspieces/wP.svg');
}

.birman-chesspieces .cg-board piece.bishop.white {
  background-image: url('/assets/images/chess/birman-chesspieces/wB.svg');
}

.birman-chesspieces .cg-board piece.knight.white {
  background-image: url('/assets/images/chess/birman-chesspieces/wN.svg');
}

.birman-chesspieces .cg-board piece.rook.white {
  background-image: url('/assets/images/chess/birman-chesspieces/wR.svg');
}

.birman-chesspieces .cg-board piece.queen.white {
  background-image: url('/assets/images/chess/birman-chesspieces/wQ.svg');
}

.birman-chesspieces .cg-board piece.king.white {
  background-image: none;
}

.birman-chesspieces .cg-board piece.king.white:before {
  background-image: url('/assets/images/chess/birman-chesspieces/wK.svg');
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.birman-chesspieces .cg-board piece.pawn.black {
  background-image: url('/assets/images/chess/birman-chesspieces/bP.svg');
}

.birman-chesspieces .cg-board piece.bishop.black {
  background-image: url('/assets/images/chess/birman-chesspieces/bB.svg');
}

.birman-chesspieces .cg-board piece.knight.black {
  background-image: url('/assets/images/chess/birman-chesspieces/bN.svg');
}

.birman-chesspieces .cg-board piece.rook.black {
  background-image: url('/assets/images/chess/birman-chesspieces/bR.svg');
}

.birman-chesspieces .cg-board piece.queen.black {
  background-image: url('/assets/images/chess/birman-chesspieces/bQ.svg');
}

.birman-chesspieces .cg-board piece.king.black {
  background-image: none;
}

.birman-chesspieces .cg-board piece.king.black:before {
  background-image: url('/assets/images/chess/birman-chesspieces/bK.svg');
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}


/*
 * Фигуры пр просмотре истории ходов
 */

.birman-gray.editable .cg-board piece.king.white {
  background-image: none;
}

.birman-gray.textbook .cg-board piece.king.white {
  background-image: none;
}

.birman-gray.editable .cg-board piece.king.white:before {
  background-image: url('/assets/images/chess/birman-in-dashes/white-king.svg');
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.birman-gray.editable .cg-board piece.pawn.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-pawn.svg');
}

.birman-gray.editable .cg-board piece.bishop.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-bishop.svg');
}

.birman-gray.editable .cg-board piece.knight.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-knight.svg');
}

.birman-gray.editable .cg-board piece.rook.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-rook.svg');
}

.birman-gray.editable .cg-board piece.queen.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-queen.svg');
}

.birman-gray.editable .cg-board piece.king.black {
  background-image: none;
}

.birman-gray.editable .cg-board piece.king.black:before {
  background-image: url('/assets/images/chess/birman-in-dashes/black-king.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.birman-gray.editable .cg-board piece.pawn.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-pawn.svg');
}

.birman-gray.editable .cg-board piece.bishop.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-bishop.svg');
}

.birman-gray.editable .cg-board piece.knight.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-knight.svg');
}

.birman-gray.editable .cg-board piece.rook.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-rook.svg');
}

.birman-gray.editable .cg-board piece.queen.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-queen.svg');
}

.birman-gray.textbook .cg-board piece.pawn.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-pawn.svg');
}

.birman-gray.textbook .cg-board piece.bishop.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-bishop.svg');
}

.birman-gray.textbook .cg-board piece.knight.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-knight.svg');
}

.birman-gray.textbook .cg-board piece.knight.white:before {
  background-image: url('/assets/images/chess/birman-in-dashes/white-knight.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.birman-gray.textbook .cg-board piece.rook.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-rook.svg');
}

.birman-gray.textbook .cg-board piece.queen.white {
  background-image: url('/assets/images/chess/birman-in-dashes/white-queen.svg');
}

.birman-gray.textbook .cg-board piece.king.black {
  background-image: none;
}

.birman-gray.textbook .cg-board piece.king.black:before {
  background-image: url('/assets/images/chess/birman-in-dashes/black-king.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.birman-gray.textbook .cg-board piece.pawn.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-pawn.svg');
}

.birman-gray.textbook .cg-board piece.bishop.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-bishop.svg');
}

.birman-gray.textbook .cg-board piece.knight.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-knight.svg');
}

.birman-gray.textbook .cg-board piece.rook.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-rook.svg');
}

.birman-gray.textbook .cg-board piece.queen.black {
  background-image: url('/assets/images/chess/birman-in-dashes/black-queen.svg');
}



/*
 * Фигуры с деревянной доской
 */

 .birman-gray.world-chess-board .cg-board piece.king.white {
  background-image: none;
}

.birman-gray.world-chess-board .cg-board piece.king.white:before {
  background-image: url('/assets/images/chess/birman-in-wooden/white-king-wooden.svg');
  content: "";
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.birman-gray.world-chess-board .cg-board piece.pawn.white {
  background-image: url('/assets/images/chess/birman-in-wooden/white-pawn-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.bishop.white {
  background-image: url('/assets/images/chess/birman-in-wooden/white-bishop-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.knight.white {
  background-image: url('/assets/images/chess/birman-in-wooden/white-knight-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.rook.white {
  background-image: url('/assets/images/chess/birman-in-wooden/white-rook-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.queen.white {
  background-image: url('/assets/images/chess/birman-in-wooden/white-queen-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.king.black {
  background-image: none;
}

.birman-gray.world-chess-board .cg-board piece.king.black:before {
  background-image: url('/assets/images/chess/birman-in-wooden/black-king-wooden.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.birman-gray.world-chess-board .cg-board piece.pawn.black {
  background-image: url('/assets/images/chess/birman-in-wooden/black-pawn-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.bishop.black {
  background-image: url('/assets/images/chess/birman-in-wooden/black-bishop-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.knight.black {
  background-image: url('/assets/images/chess/birman-in-wooden/black-knight-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.rook.black {
  background-image: url('/assets/images/chess/birman-in-wooden/black-rook-wooden.svg');
}

.birman-gray.world-chess-board .cg-board piece.queen.black {
  background-image: url('/assets/images/chess/birman-in-wooden/black-queen-wooden.svg');
}