<div
  class="profile"
  *ngIf="account$ | async as account"
  [ngClass]="'profile-bg-' + (account?.premium ? 'pro' : 'basic')"
>
  <div class="profile__wrapper">
    <div class="profile__info">
      <div
        class="profile__form"
        *ngIf="profileForm && editMode; else profileView"
      >
        <div class="profile__form-col">
          <div class="profile__form-row">
            <app-text-input
              [control]="profileForm.controls['full_name']"
              [disabled]="isFideVerifiedUser$ | async"
              label="Fullname"
            ></app-text-input>
          </div>
          <div class="profile__form-row">
            <app-text-input
              [control]="profileForm.controls['nickname']"
              [disabled]="isFideVerifiedUser$ | async"
              label="Nickname"
            ></app-text-input>
          </div>
          <div class="profile__form-row">
            <app-text-input
              [control]="profileForm.controls['email']"
              label="Email"
            ></app-text-input>
          </div>
          <div class="profile__form-row">
            <wc-datepicker-input
              [control]="profileForm.controls['birth_date']"
              [disabled]="isFideVerifiedUser$ | async"
              label="Birth date"
            ></wc-datepicker-input>
          </div>
          <div
            class="profile__form-row"
            *ngIf="countries$ | async as countries"
          >
            <app-select-input
              [control]="profileForm.controls['country']"
              [options]="countries"
              [disabled]="isFideVerifiedUser$ | async"
              optionLabelField="name"
              optionValueField="id"
              label="Country"
            ></app-select-input>
          </div>
          <div class="profile__form-row">
            <p class="profile__form-label">Subscription</p>
            <wc-checkbox-control
              [control]="profileForm.controls['receive_newsletters']"
              label="receive our newsletters"
            ></wc-checkbox-control>
          </div>
        </div>
        <div class="profile__form-row">
          <app-text-input
            [control]="profileForm.controls['facebook']"
            label="Facebook"
          ></app-text-input>
        </div>
        <div class="profile__form-row">
          <app-text-input
            [control]="profileForm.controls['twitter']"
            label="Twitter"
          ></app-text-input>
        </div>
        <div class="profile__form-row">
          <app-text-input
            [control]="profileForm.controls['instagram']"
            label="Instagram"
          ></app-text-input>
        </div>
        <div class="profile__form-row" *ngIf="false">
          <app-select-input
            [control]="profileForm.controls['mates']"
            label="Mates"
            [options]="matesOptions"
          ></app-select-input>
        </div>
        <div class="profile__form-row">
          <wc-checkbox-control
            label="Make profile public"
            [control]="profileForm.controls['is_public']"
          ></wc-checkbox-control>
        </div>
        <div class="profile__form-col submit-col">
          <div class="profile__form-row-bottom">
            <button
              class="cancel-btn"
              (click)="cancelEdit()"
              [disabled]="loading$ | async"
            >
              cancel
            </button>
            <button
              class="submit-btn"
              (click)="updateProfile()"
              [disabled]="loading$ | async"
            >
              save changes
            </button>
          </div>
        </div>
      </div>
      <ng-template #profileView>
        <div class="profile__view">
          <div class="profile__view-body">
            <div class="profile__view-row">
              <p class="profile__view-row__label">Full name</p>
              <p class="profile__view-row__value">{{ account?.full_name }}</p>
            </div>
            <div class="profile__view-row">
              <p class="profile__view-row__label">Email</p>
              <p class="profile__view-row__value">{{ account?.email }}</p>
            </div>
            <div class="profile__view-row" *ngIf="account?.nickname">
              <p class="profile__view-row__label">Nickname</p>
              <p class="profile__view-row__value">{{ account?.nickname }}</p>
            </div>
            <div class="profile__view-row" *ngIf="account?.birth_date">
              <p class="profile__view-row__label">Birth date</p>
              <p class="profile__view-row__value">
                {{ account?.birth_date | wcProfileBirthday }}
              </p>
            </div>
            <div
              class="profile__view-row"
              *ngIf="accountCountry$ | async as country"
            >
              <p class="profile__view-row__label">Country</p>
              <p class="profile__view-row__value">{{ country.name }}</p>
            </div>
            <div *ngIf="false" class="profile__view-row">
              <p class="profile__view-row__label">Mates</p>
              <p class="profile__view-row__value">
                {{
                  !!account?.social_accounts?.mates
                    ? "Has an account"
                    : "Has no account"
                }}
              </p>
            </div>
            <div *ngIf="false" class="profile_view-row">
              <p class="profile__view-row__label">Privacy</p>
              <p class="profile__view-row__value">
                {{
                  account?.is_public
                    ? "Account is public"
                    : "Account isn`t public"
                }}
              </p>
            </div>
            <div class="profile__view-row">
              <div
                class="profile__control profile__edit-btn"
                *ngIf="!editMode"
                (click)="toggleEditMode()"
              >
                <svg-pencil class="icon"></svg-pencil>
                edit
              </div>
            </div>
            <div class="profile__view-row">
              <div
                class="profile__control profile__delete-btn"
                *ngIf="!editMode"
                (click)="openDeleteProfilePopup()"
              >
                <svg-close class="icon"></svg-close>
                delete profile
              </div>
            </div>
          </div>
          <div class="profile__view-footer" *ngIf="account?.is_public">
            <div class="profile__social">
              <a
                [href]="account?.social_accounts?.twitter"
                *ngIf="account?.social_accounts?.twitter"
                class="profile__social-elem profile__twitter"
              >
                <svg-icon-twitter2
                  class="icon icon_profile"
                ></svg-icon-twitter2>
              </a>
              <a
                [href]="account?.social_accounts?.facebook"
                *ngIf="account?.social_accounts?.facebook"
                class="profile__social-elem profile__fb"
              >
                <svg-icon-facebook2
                  class="icon icon_profile"
                ></svg-icon-facebook2>
              </a>
              <a
                [href]="account?.social_accounts?.instagram"
                *ngIf="account?.social_accounts?.instagram"
                class="profile__social-elem profile__instagram"
              >
                <svg-icon-instagram
                  class="icon icon_profile"
                ></svg-icon-instagram>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="profile__aside">
      <div
        class="profile__account-avatar"
        (click)="openAvatarEditor()"
        [ngClass]="avatarClass$ | async"
      >
        <div
          class="profile__account-avatar--img"
          [style.background-image]="'url(' + account?.avatar?.full + ')'"
          *ngIf="account?.avatar?.full; else noAvatar"
        >
        </div>
        <ng-template #noAvatar>
          <img
            src="../../../assets/images/account/avatar-placeholder.svg"
            class="placeholder"
            alt="player"
          />
        </ng-template>
        <div class="profile__account-avatar--hover">
          <svg-pencil class="icon"></svg-pencil>
          <span>edit</span>
        </div>
      </div>
      <div class="profile__account-type" [ngClass]="accountTypeClass$ | async">
        <ng-container *ngIf="accountType$ | async as accountType">
          {{ accountType === "pro" ? "trainer" : "beginner" }}
        </ng-container>
      </div>
    </div>
  </div>
</div>
