@import '../../../../../../../html/css/variables';
@import '../../../../../../../html/css/media';

:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.move-time {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font: 500 15px/22px $gerbera-font;
  color: #fff;
  background-color: $green;
  padding: 4px;
  height: 100%;
  border-radius: 2px 2px 0 0;
  min-width: 60px;
  max-width: 77px;
  margin-right: 10px;

  @include phones() {
    padding: 4px;
    font-size: 12px;
    margin-right: 6px;
    min-width: 50px;
  }

  span {
    position: absolute;
    font: 400 9px/22px $gerbera-font;
    color: $green;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.left-time {
  font: 400 15px/22px $gerbera-font;
  color: #fff;
  min-width: 41px;
  flex: 0 0 auto;
  text-align: right;

  @include phones() {
    font-size: 12px;
    min-width: 33px;
  }

  &--active {
    color: $green;
  }
}

.move-time-label {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #59F19B;
}

:host(.white-player),
:host-context(.players-switched) {
  .move-time {
    border-radius: 0 0 2px 2px;
  }

  span {
    bottom: auto;
    top: 100%;
  }
}

:host(.white-player) :host-context(.players-switched) {
  .move-time {
    border-radius: 2px 2px 0 0;
  }

  span {
    bottom: 100%;
    top: auto;
  }
}

:host-context(.view-mode--multiboard-normal) {
  .move-time,
  .left-time {
    font: 500 12px/16px $gerbera-font;
  }
}
