<div class="footer">
  <app-partners-list *ngIf="sponsorsVisible"></app-partners-list>
  <div class="footer-bottom">
    <div class="row">
      <div class="coll-50">
        <div class="row-fide">
          <span class="text-fide">
            <svg-logo-fide class="icon"></svg-logo-fide>
            FIDE</span>
          <span class="text-chess">
            <img class="logo" src="assets/images/logo.svg" alt="logo--fide">
            World Chess</span>
        </div>
        <div class="row-menu">
          <a class="item" href="http://business.worldchess.com/contacts/" target="_blank">Contacts</a>
          <a class="item" href="/assets/docs/terms-of-use.pdf" target="_blank">Terms of Use</a>
          <a class="item" href="http://sponsorship.worldchess.com/" target="_blank">Sponsorship</a>
          <a class="item" href="https://www.notion.so/worldchess/FIDE-Online-Arena-Privacy-Policy-470e3c8fdc9148f49611e66df8a25448" target="_blank">Privacy Policy</a>
          <a class="item" routerLink="/partnership">Partnership</a>
          <a class="item" href="http://business.worldchess.com" target="_blank">Business</a>
        </div>
      </div>
      <div class="coll-25">
        <div class="row-social">
          <span>Folow us</span>
          <div class="social-line">
            <a href="https://twitter.com/theworldchess" target="_blank" class="icon">
              <img src="assets/images/icon-twitter.svg" alt="twitter">
            </a>
            <a href="https://www.facebook.com/theworldchess" target="_blank" class="icon">
              <img src="assets/images/icon-facebook.svg" alt="facebook">
            </a>
            <a href="https://www.instagram.com/theworldchess" target="_blank" class="icon">
              <img src="assets/images/icon-instagram.svg" alt="instagram">
            </a>
          </div>
        </div>
        <div class="row-question">
          <span>Have questions?</span>
          <a href="mailto:support@worldchess.com">Support</a>
        </div>
      </div>
      <div class="coll-25">

        <div class="copyright">
          <div class="copyright__row">
            <div class="copyright__col copyright__col--logo">
              <img src="assets/images/chess-club.svg" alt="chess-club">
            </div>
            <div class="copyright__col">
              <div>
                <a href="https://club.worldchess.com" target="_blank">World Chess Club</a> is a club in the center of
                Moscow
                where you can drink and play chess
              </div>
            </div>
          </div>
          <div class="copyright__row">
            <div class="copyright__col copyright__col--logo">
              <img src="assets/images/usetech-copyright.svg" alt="Usetech">
            </div>
            <div class="copyright__col">
              <div>
                Developed by <a href="https://usetech.ru" target="_blank">Usetech</a>
              </div>
            </div>
          </div>
          <div class="copyright__row">
            <div class="copyright__col copyright__col--logo">
              <img src="assets/images/copyright.svg" alt="Shuka Design">
            </div>
            <div class="copyright__col">
              <div>
                Designed by <a href="https://shuka.design/" target="_blank">Shuka Design</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sent>
  <div class="text">Thank you for subscribing to World Chess news!</div>
</ng-template>
