<mat-form-field>
  <input matInput [placeholder]="label" (focus)="isFocus = true"
         [formControl]="password" [type]="hidePassword ? 'password' : 'text'">

  <span *ngIf="showError && getPasswordError()" matSuffix class="form-error-text">{{getPasswordError()}}</span>

  <mat-icon *ngIf="showError && (password.value || isFocus)" class="custom-icon" matSuffix
            [svgIcon]="getPasswordError() ? 'input_error' : 'input_success'"></mat-icon>
  <mat-icon *ngIf="!!password.value.length" matSuffix [svgIcon]="hidePassword ? 'visibility' : 'visibility_off'" class="custom-icon"
            (click)="hidePassword = !hidePassword"></mat-icon>
  <a routerLink='/restore' *ngIf="additionalText" class="additional-text" matSuffix>{{additionalText}}</a>
  <mat-icon *ngIf="original" class="custom-icon" matSuffix
            [svgIcon]="isEdit() ? 'edit' : 'non_edit'"></mat-icon>
</mat-form-field>
