<mat-form-field>
  <mat-select
    class="virtual-scroll"
    [placeholder]="label"
    [disabled]="disabled"
    [class.disabled]="disabled"
    [formControl]="control">
    <mat-option *ngFor="let option of options" [value]="option[optionValueField]">
      {{ option[optionLabelField] }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="getError()">{{ getError() }}</mat-error>
  <mat-icon
    *ngIf="disabled"
    matSuffix
    class="custom-icon"
    svgIcon="lock">
  </mat-icon>
</mat-form-field>
