<div class="partners">
  <div class="container">
    <h1 class="block-header">
      <a routerLink="/partnership">Partners</a>
    </h1>
    <div class="partners-wrapper">
      <a routerLink="/partnership" fragment="phosagro" class="partner-logo" id="phosagro">
        <img src="./assets/images/partners/partner1-68.svg">
      </a>
      <a routerLink="/partnership" fragment="kaspersky" class="partner-logo" id="kaspersky">
        <img src="./assets/images/partners/partner2-68.svg">
      </a>
      <a routerLink="/partnership" fragment="unibet" class="partner-logo" id="unibet">
        <img src="./assets/images/partners/partner6-68.svg">
      </a>
      <div class="line-break"></div>
      <a routerLink="/partnership" fragment="dupont" class="partner-logo" id="dupont">
        <img src="./assets/images/partners/partner3-68.svg">
      </a>
      <a routerLink="/partnership" fragment="prytek" class="partner-logo" id="prytek">
        <img src="./assets/images/partners/partner4-68.svg">
      </a>
      <a routerLink="/partnership" fragment="isklar" class="partner-logo" id="isklar">
        <img src="./assets/images/partners/partner5-68.svg">
      </a>
    </div>
  </div>
</div>
