<wc-layout [showSponsorsAtFooter]="false">
  <div #selectPlan class="sign-up__page-wrapper block block-100w">
    <div class="sign-up__header">
      <img src="assets/images/passport-logo.svg">
      <span>Passport</span>
    </div>
    <wc-choose-plan (selectedPlan)="onPlanSelected($event)" [choosePlan]="choosePlanScroll"></wc-choose-plan>
    <div #anchor></div>
    <div class="account-info-form" (keyup.enter)="signUp()">
      <h4 class="account-info-form__title">Enter your information</h4>
      <div class="account-info-form__container">
        <div class="account-info-form__body" *ngIf="!(isAuthorized$ | async); else isRegistered">
          <div class="account-info-form__row">
            <wc-full-name-input class="account-info-form__input" [fullName]="signUpForm.controls['full_name']" [responseError]="(formErrors$ | async).full_name" label="Full Name"></wc-full-name-input>
          </div>
          <div class="account-info-form__row">
            <app-email-input class="account-info-form__input" [email]="signUpForm.controls['email']" [responseError]="(formErrors$ | async).email" label="E-mail address"></app-email-input>
          </div>
          <div class="account-info-form__row">
            <div class="account-info-form__col">
              <app-password-input class="account-info-form__input" label="Password" [password]="signUpForm.controls['password']"
              [responseError]="(formErrors$ | async).password"></app-password-input>
            </div>
            <div class="account-info-form__col">
              <app-password-input class="account-info-form__input" label="Repeat password" [password]="signUpForm.controls['repeat_password']"
              [responseError]="(formErrors$ | async).repeat_password"></app-password-input>
            </div>
          </div>
          <div class="account-info-form__row">
            <p *ngIf="(formErrors$ | async)?.non_field_errors as errorMessage" class="account-info-form__error">
              {{ errorMessage }}
            </p>
            <p *ngIf="passwordMatchError" class="account-info-form__error">Passwords do not match!</p>
          </div>
        </div>
        <ng-template #isRegistered>
          <div class="account-info-form__body">

          </div>
        </ng-template>
        <wc-selected-plan (changePlan)="choosePlanScroll.next(null)" [price]="selectedPlan?.amount || null" [planType]="selectedPlanType"></wc-selected-plan>
      </div>
    </div>
    <wc-payment-info-form #paymentForm *ngIf="selectedPlanType !== PlanType.BASIC" [error]="paymentError" (onEnter)="signUp()"></wc-payment-info-form>
    <div class="account-info-form__subscribe-wrapper">
        <button class="account-info-form__subscribe" (click)="signUp()">
            <svg class="account-info-form__subscribe-icon">
              <use xlink:href="#heart"></use>
            </svg>
            register
        </button>
    </div>
  </div>
</wc-layout>
