<div class="player-queue lang-{{accountService.getLanguage() | async }}" *ngIf="initialLoading">
  <div class="player-queue__header-container">
    <div class="player-queue__title">
      {{ 'TEXT.OR_SELECT_FROM' | translate }} {{playersList.length}} {{ 'TEXT.PLAYESR_ONLINE' | translate }}
    </div>
  </div>
  <div class="player-queue__table">
    <div class="player-queue__table-header">
      <div class="player-queue__table-header-cell">{{ 'GAME.PLAYER' | translate }}</div>
      <div class="player-queue__table-header-cell">{{ 'GAME.TIME_CONTROL' | translate }}</div>
      <div class="player-queue__table-header-cell">{{ 'GAME.BULLET' | translate }}</div>
      <div class="player-queue__table-header-cell">{{ 'GAME.BLITZ' | translate }}</div>
      <div class="player-queue__table-header-cell">{{ 'GAME.RAPID' | translate }}</div>
      <div class="player-queue__table-header-cell">{{ 'PROFILE.FROM' | translate }}</div>
      <div class="player-queue__table-header-cell">{{ 'PROFILE.AGE' | translate }}</div>
    </div>
    <div class="player-queue__table-body-row"
         *ngFor="let player of playersList"
         [class.selected]="player === selectedPlayer"
         (click)="selectPlayer(player)"
         (dblclick)="joinToGame(player)"
    >
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          <div class="player-queue__title-img"
             [style.background-image]="'url(' + player?.profile?.avatar?.full + ')'"
             *ngIf=" player?.profile?.avatar?.full"></div>
          {{player?.profile?.full_name ? player?.profile?.full_name : 'Anonymous'}}
        </div>
      </div>
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          <ng-container *ngIf="player.rating[0] === GameRatingMode.RATED">
            <svg-hexagon-empty class="player-queue__rated-logo"></svg-hexagon-empty>
          </ng-container>
          <ng-container *ngIf="player.rating[0] === GameRatingMode.FIDERATED">
            <svg-logo-fide class="player-queue__rated-logo player-queue__rated-logo--fide-rated-logo"></svg-logo-fide>
          </ng-container>
          <ng-container *ngIf="player.time_control">
            {{ boardTypeTitle(player.time_control[0].board_type) }}
            <ng-container *ngIf="!moment.duration(player.time_control[0].increment).asMilliseconds()">
              {{moment.duration(player.time_control[0].start_time).asMilliseconds() | wcDuration:'m': durationFormat}}<span style="font-size:0.5em">&nbsp;</span>{{'TIME.MIN' | translate}}
            </ng-container>
            <ng-container *ngIf="moment.duration(player.time_control[0].increment).asMilliseconds()">
              {{moment.duration(player.time_control[0].start_time).asMilliseconds() | wcDuration:'h m s': durationFormat}}<span style="font-size:0.5em">&nbsp;</span>
              +<span style="font-size:0.5em">&nbsp;</span>{{moment.duration(player.time_control[0].increment).asMilliseconds() | wcDuration:'h m s': durationFormat}}
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          {{player.player_rating ? player.player_rating : '—'}}
        </div>
      </div>
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          {{player.fide_blitz
            ? player.fide_blitz
            : player.worldchess_blitz ? player.worldchess_blitz : '—'}}
        </div>
      </div>
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          {{player.fide_rapid
            ? player.fide_rapid
            : player.worldchess_rapid ? player.worldchess_rapid : '—'}}
        </div>
      </div>
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          {{getCountryCode(player?.profile?.country) | async}}
        </div>
      </div>
      <div class="player-queue__table-body-cell">
        <div class="player-queue-table__content">
          {{player?.profile?.birth_date
            ? moment().diff(player?.profile?.birth_date, 'years')
            : '—'
          }}
        </div>
      </div>
    </div>
  </div>
</div>
