<div class="online-chess">
    <div class="online-chess__title">
        {{'TEXT.THE_MOST_BEAUTIFUL_ONLINE_CHESS_GAMING' | translate }}
    </div>
    <div class="online-chess__grid">
        <div class="online-chess__row">
            <div class="online-chess__col">
                <wc-game-main-board-main></wc-game-main-board-main>
            </div>
        </div>
        <div class="online-chess__row">
            <div class="online-chess__col" style="flex: 7;">
                <wc-game-main-phones></wc-game-main-phones>
            </div>
            <div class="online-chess__col desktop" style="flex: 4;">
                <wc-game-main-board-small></wc-game-main-board-small>
            </div>
        </div>
        <div class="online-chess__row desktop">
            <div class="online-chess__col" style="flex: 4;">
                <wc-game-main-chat></wc-game-main-chat>
            </div>
            <div class="online-chess__col" style="flex: 7;">
                <wc-game-main-lobby></wc-game-main-lobby>
            </div>
        </div>
        <div class="online-chess__row desktop">
            <div class="online-chess__col">
                <wc-game-main-board-dashed></wc-game-main-board-dashed>
            </div>
        </div>
        <div class="online-chess__row desktop">
            <div class="online-chess__col">
                <wc-game-main-board-styles></wc-game-main-board-styles>
            </div>
            <div class="online-chess__col">
                <wc-game-main-cards></wc-game-main-cards>
            </div>
        </div>
    </div>
    <div class="slider mobile">
        <div class="slider__wrapper">
            <div class="slider__elem">
                <wc-game-main-board-small></wc-game-main-board-small>
            </div>
            <div class="slider__elem">
                <wc-game-main-chat></wc-game-main-chat>
            </div>
            <div class="slider__elem">
                <wc-game-main-lobby></wc-game-main-lobby>
            </div>
            <div class="slider__elem">
                <wc-game-main-board-dashed></wc-game-main-board-dashed>
            </div>
            <div class="slider__elem">
                <wc-game-main-board-styles></wc-game-main-board-styles>
            </div>
            <div class="slider__elem">
                <wc-game-main-cards></wc-game-main-cards>
            </div>
        </div>
        <div class="slider__dotted">
            <a class="slider__dot slider__dot--active" href="#"></a>
            <a class="slider__dot" href="#"></a>
            <a class="slider__dot" href="#"></a>
            <a class="slider__dot" href="#"></a>
            <a class="slider__dot" href="#"></a>
            <a class="slider__dot" href="#"></a>
        </div>
    </div>
</div>
