<div
  class="profile"
  *ngIf="account$ | async as account"
  [ngClass]="'profile-bg-' + (account?.premium ? 'pro' : 'basic')"
>
  <div class="profile__wrapper" *ngIf="rating$ | async as rating">
    <div class="profile__info">
      <div class="profile__view">
        <div class="profile__view-body">
          <div class="profile__view-row">
            <p class="profile__view-row__label">Member since</p>
            <p class="profile__view-row__value">{{ rating.since | date: 'dd.MM.yyyy' }}</p>
          </div>
          <div class="profile__view-row">
            <p class="profile__view-row__label">BETA FIDE&nbsp;ID</p>
            <p class="profile__view-row__value">
              <ng-container *ngIf="rating.fide_id">
                {{ rating.fide_id }}
              </ng-container>
              <ng-container *ngIf="!(isFide$ | async)">
                - <a class="profile__view-btn" href="javascript:void(0)" (click)="upgrade()">upgrade now</a>
              </ng-container>
              <ng-container *ngIf="needToSubmitFideForm$ | async">
                <a class="profile__view-btn" (click)="requestFideId()">Get FIDE ID</a>
              </ng-container>
            </p>
          </div>
          <div class="profile__view-row" *ngIf="rating.fide_id">
            <p class="profile__view-row__label">Fidelity points</p>
            <p class="profile__view-row__value">
              {{ fidelityPoints$ | async }}
            </p>
          </div>
          <div class="profile__view-row">
            <p class="profile__view-row__label">Verification</p>
            <p class="profile__view-row__value" [ngSwitch]="rating.verification">
              <ng-container *ngSwitchCase="AccountVerification.ON_CHECK">On Check</ng-container>
              <ng-container *ngSwitchCase="AccountVerification.VERIFIED">Verified</ng-container>
              <ng-container *ngSwitchDefault>-</ng-container>
            </p>
          </div>
          <div class="profile__view-row" *ngIf="friendsList$ | async as lists;">
            <p class="profile__view-row__label">Friends list</p>
            <p class="profile__view-row__value">
              <mat-nav-list>
                <mat-list-item *ngFor="let item of lists">
                  <div class="mat-list-item-content-text">{{ item.name }}</div>
                  <button mat-icon-button class="mat-list-item-button" (click)="deleteFriend(item.friend_id)">
                    <svg-close class="icon"></svg-close>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__aside">
      <div class="profile__rating">
        <ng-container [ngSwitch]="hasFideRating$ | async">
          <div class="profile__block">
            <svg-logo class="icon rating"></svg-logo>
            <ng-container *ngSwitchCase="true">
              <div class="profile__rating-info">
                {{ rating.fide_rating }}
              </div>
              <div class="profile__rating-desc">
                The official rating.
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="false">
              <div class="profile__rating-info">
                {{ rating.worldchess_rating }}
              </div>
              <div class="profile__rating-desc">
                Worldchess Rating.
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="profile__all-ratings-list">
        <div class="profile__all-rating">
          <div class="profile__rating-block">
            <div class="profile__rating-block-label">
              WC highest rating
            </div>
            <div class="profile__rating-block-info">
              {{ rating.worldchess_rating }}
            </div>
          </div>
          <div *ngIf="hasFideRating$ | async" class="profile__rating-block">
            <div class="profile__rating-block-label">
              FIDE highest rating
            </div>
            <div class="profile__rating-block-info">
              {{ rating.fide_rating }}
            </div>
          </div>
        </div>

        <button
          class="profile__all-rating-btn"
          [class.profile__all-rating-btn--revert]="showMoreRating"
          (click)="onShowMoreRating()"
        ></button>

        <div *ngIf="showMoreRating" class="profile__all-rating-block">
          <div class="profile__all-rating">
            <div class="profile__rating-block">
              <div class="profile__rating-block-label">
                WC bullet
              </div>
              <div class="profile__rating-block-info">
                {{ rating.worldchess_bullet }}
              </div>
            </div>
            <div *ngIf="hasFideRating$ | async" class="profile__rating-block">
              <div class="profile__rating-block-label">
                FIDE bullet
              </div>
              <div class="profile__rating-block-info">
                {{ rating.fide_bullet }}
              </div>
            </div>
          </div>
          <div class="profile__all-rating">
            <div class="profile__rating-block">
              <div class="profile__rating-block-label">
                WC blitz
              </div>
              <div class="profile__rating-block-info">
                {{ rating.worldchess_blitz }}
              </div>
            </div>
            <div *ngIf="hasFideRating$ | async" class="profile__rating-block">
              <div class="profile__rating-block-label">
                FIDE blitz
              </div>
              <div class="profile__rating-block-info">
                {{ rating.fide_blitz }}
              </div>
            </div>
          </div>
          <div class="profile__all-rating">
            <div class="profile__rating-block">
              <div class="profile__rating-block-label">
                WC rapid
              </div>
              <div class="profile__rating-block-info">
                {{ rating.worldchess_rapid }}
              </div>
            </div>
            <div *ngIf="hasFideRating$ | async" class="profile__rating-block">
              <div class="profile__rating-block-label">
                FIDE rapid
              </div>
              <div class="profile__rating-block-info">
                {{ rating.fide_rapid }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="rating-player__wrapper">
    <div *ngIf="classicPieFideOnline">
        <h2 class="rating-player__title">FIDE Online game statistics</h2>
        <div class="rating-player__blocks-wrap">
          <div class="rating-player__blocks">
            <div class="block-statistics" *ngIf="classicPieFideOnline['bullet']">
              <wc-game-statistic-pie-chart
                [title]="'Bullet'"
                [data]="classicPieFideOnline['bullet']"
              ></wc-game-statistic-pie-chart>
            </div>
            <div class="block-statistics" *ngIf="classicPieFideOnline['blitz']">
              <wc-game-statistic-pie-chart
                [title]="'Blitz'"
                [data]="classicPieFideOnline['blitz']"
              ></wc-game-statistic-pie-chart>
            </div>
            <div class="block-statistics" *ngIf="classicPieFideOnline['rapid']">
              <wc-game-statistic-pie-chart
                [title]="'Rapid'"
                [data]="classicPieFideOnline['rapid']"
              ></wc-game-statistic-pie-chart>
            </div>
          </div>
        </div>
    </div>

    <div *ngIf="classicPieWorldChess">
      <h2 class="rating-player__title">World Chess game statistics</h2>
      <div class="rating-player__blocks-wrap">
        <div class="rating-player__blocks">
          <div class="block-statistics" *ngIf="classicPieWorldChess['bullet']">
            <wc-game-statistic-pie-chart
              [title]="'Bullet'"
              [data]="classicPieWorldChess['bullet']"
            ></wc-game-statistic-pie-chart>
          </div>
          <div class="block-statistics" *ngIf="classicPieWorldChess['blitz']">
            <wc-game-statistic-pie-chart
              [title]="'Blitz'"
              [data]="classicPieWorldChess['blitz']"
            ></wc-game-statistic-pie-chart>
          </div>
          <div class="block-statistics" *ngIf="classicPieWorldChess['rapid']">
            <wc-game-statistic-pie-chart
              [title]="'Rapid'"
              [data]="classicPieWorldChess['rapid']"
            ></wc-game-statistic-pie-chart>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="lineFIDE || lineWS">
      <h2 class="rating-player__title">Rating chart</h2>
      <div class="rating-player__blocks-wrap">
        <div class="rating-player__blocks rating-player__blocks--width">
          <div class="block-statistics block-statistics--graph">
            <wc-rating-line-chart
              [data]="null"
              [dataFide]="lineFIDE"
              [dataWS]="lineWS"
            ></wc-rating-line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
