<div class="legalize-skils" (click)="register($event)">
  <div class="legalize-skils__img">
    <img class="desctop" src="../../assets/images/legalize-skils/legalize-skils-black.svg" alt="legalize-skils">
    <img class="mobile" src="../../assets/images/legalize-skils/legalize-skils-black-mobile.svg" alt="legalize-skils">
    <img class="desctop legalize-skils__price" src="../../assets/images/legalize-skils/legalize-skils-price-blue-mobile.svg"
         alt="legalize-skils-price">
  </div>
  <div class="legalize-skils__row">
    <div class="legalize-skils__col">
      <div class="legalize-skils__text">Sign up with World Chess Pro account. Automatically get FIDE ID with initial
        official rating of 1200. Start playing FIDE Rated games and tournaments. When your FIDE rating hits 1800, get
        the FIDE Online Master title with certificate.
        <img class="mobile legalize-skils__price"
             src="../../assets/images/legalize-skils/legalize-skils-price-blue-mobile.svg"
             alt="legalize-skils-price-mobile">
      </div>
      <a href="#" class="legalize-skils__button">Become a Pro player</a>
      <div class="legalize-skils__links">
        <a href="#" class="legalize-skils__link">Play a game
          <svg-arrow-right class="icon"></svg-arrow-right>
        </a>
        <a href="https://worldchess.com/tournament/candidates2020/14/Wang-Caruana" target="_blank"
           class="legalize-skils__link">View tournaments
          <svg-arrow-right class="icon"></svg-arrow-right>
        </a>
      </div>
    </div>
  </div>
</div>
