<div class="menu-new">
  <div class="logo">
    <a class="logo__link" routerLink="/" routerLinkActive="active"
    (click)="window['dataLayerPush']('wchCross', 'Header', 'Logo', 'pic_click', '', '');"
    >
      <svg-logo class="logo__svg"></svg-logo>
    </a>
  </div>
  <div class="menu-new-list-wrapper">
    <ul class="menu-new-list" wcHideScrollbar>
      <li class="menu-new-list__elem" *ngFor="let item of menu">
        <ng-container *ngIf="!item.mainApp">
          <a class="menu-new-list__link"
             routerLinkActive="menu-new-list__link--active"
             [routerLinkActiveOptions]="{ exact: true }"
             *ngIf="!item.blank"
             [routerLink]="item.link"
             (click)="sendStatistics(item.gtagParams)"
          >{{getItem(item.title) | async }}
          <svg-external-link class="link-external" *ngIf="item.external"></svg-external-link>
          </a>
          <a class="menu-new-list__link"
             routerLinkActive="menu-new-list__link--active"
             [routerLinkActiveOptions]="{ exact: true }"
             *ngIf="item.blank"
             [href]="item.link"
             target="_blank"
             (click)="sendStatistics(item.gtagParams)"
          >{{getItem(item.title) | async }}
          <svg-external-link class="link-external" *ngIf="item.external"></svg-external-link>
          </a>
        </ng-container>
        <ng-container *ngIf="item.mainApp">
          <a class="menu-new-list__link"
             routerLinkActive="menu-new-list__link--active"
             [routerLinkActiveOptions]="{ exact: true }"
             *ngIf="!item.blank"
             [href]="paygateService.crossAppLink(false, item.link) | async"
             (click)="sendStatistics(item.gtagParams)"
          >{{getItem(item.title) | async }}
          <svg-external-link class="link-external" *ngIf="item.external"></svg-external-link>
          </a>
          <a class="menu-new-list__link"
             routerLinkActive="menu-new-list__link--active"
             [routerLinkActiveOptions]="{ exact: true }"
             *ngIf="item.blank"
             [href]="paygateService.crossAppLink(false, item.link) | async"
             target="_blank"
             (click)="sendStatistics(item.gtagParams)"
          >
          {{getItem(item.title) | async }}
          <svg-external-link class="link-external" *ngIf="item.external"></svg-external-link>
          </a>
        </ng-container>
      </li>
    </ul>
  </div>
</div>

<div class="menu-aside">
  <ng-container *ngIf="isAuthorized$ | async; else auth">
    <ng-container *ngIf="account$ | async as account">
      <div class="menu-user">
        <div class="menu-user__name">
          {{account.email}}
        </div>
        <div class="menu-user__img" [style.background-image]="
          'url(' + (account?.avatar?.full || '/assets/images/account/avatar-placeholder.svg') + ')'">
        </div>

        <div class="menu-user__drop">
          <div class="menu-user__drop-row">
            <div class="menu-user__drop-col">
              <a class="menu-user__drop-link"
                 [href]="paygateService.crossAppLink(false, '/account/membership') | async">
                {{'PROFILE.MEMBERSHIP' | translate }}
              </a>
              <a class="menu-user__drop-link"
                 [href]="paygateService.crossAppLink(false, '/account/profile') | async">
                {{'PROFILE.PROFILE' | translate }}
              </a>
              <a class="menu-user__drop-link" routerLink="/mygames">{{'GAME.MY_GAMES' | translate }}</a>
            </div>
          </div>
          <div class="menu-user__drop-row">
            <div class="menu-user__drop-col">
              <a class="menu-user__drop-link menu-user__drop-link--violet" (click)="logout()">{{'ACCOUNT.LOG_OUT' | translate }}</a>
            </div>
          </div>
        </div>

      </div>
    </ng-container>
  </ng-container>

  <ng-template #auth>

    <button class="menu-new__btn" [routerLink]="['', { outlets: { p: ['paygate', 'register' ] } }]">
      {{'ACCOUNT.BECOME_MEMBER' | translate }}
    </button>
    <div class="menu-new__login">
      <span>{{'PART_OF_SPEECH.OR' | translate }}</span>
      <a [routerLink]="['', { outlets: { p: ['paygate', 'login'] } }]"
      >
        <span>{{'ACCOUNT.SIGN_IN' | translate }}</span>
        <svg-head class="menu-new__login-icon"></svg-head>
      </a>
    </div>
  </ng-template>
</div>
