<div class="full-shop-banner" (click)="goToShop($event)">
  <div class="full-shop-banner__img" >
    <div class="full-shop-banner__img-elem full-shop-banner__img-elem--mobile">
      <img [src]="data.image.full"/>
    </div>
    <div class="full-shop-banner__img-elem" *ngIf="!!data.extra_image_1.full" >
      <img [src]="data.extra_image_1.full"/>
    </div>
    <div class="full-shop-banner__img-elem" *ngIf="!!data.extra_image_2.full">
      <img [src]="data.extra_image_2.full"/>
    </div>
    
    
  </div>
  <div class="full-shop-banner__price">{{data.price | currency:'EUR':'symbol-narrow':'1.0-0'}}</div>
  <div class="full-shop-banner__content">
    <div class="full-shop-banner__content-text">
      <div class="full-shop-banner__title">{{data.title}}</div>
      <div class="full-shop-banner__description" *ngIf="data.description">{{data.description}}</div>
    </div>
    <button class="full-shop-banner__button" (click)="goToShop($event)">Buy</button>
  </div>
    
</div>
