<div class="subscriptions">
  <div *ngFor="let item of plans" class="broadcast" [ngClass]="item.id">
    <div class="columns {{ item.bgcolor }}">
      <div class="column title-wrapper">
        <h2 class="title" [innerHtml]="item.title"></h2>
        <div class="image">
          <div *ngFor="let image of item.images" class="{{image}}"></div>
        </div>
      </div>
      <div class="column text-block">
        <p class="description">
          {{item.description}}
        </p>
        <ul class="notes">
          <li *ngFor="let feature of item.featuresList" class="note">{{feature}}</li>
        </ul>
      </div>
      <div class="column buy">
        <p class="prices">
          <span *ngIf="item.oldPrice && priceIsShow()" class="old-price">${{item.oldPrice}}</span>
          <span class="new-price" *ngIf="priceIsShow()">{{item.price / 100 | currency:'USD':'symbol-narrow' }}</span>
        </p>
        <p class="order-button">
          <button
            angulartics2On="click"
            [angularticsAction]="item.btnCaption"
            angularticsCategory="paygate"
            class="btn btn-blue"
            *ngIf="buyButtonIsShow()"
            (click)="select(item)">
            {{ item.btnCaption }}
          </button>
          <button class="btn btn-disabled" *ngIf="!buyButtonIsShow()"> Thanks for joining! We love you.</button>
        </p>
      </div>
    </div>
  </div>
  <div class="broadcast offline-ticket">
    <div class="columns bg-white">
      <div class="column title-wrapper">
        <h2 class="title">
          Tickets to the Match 2018
        </h2>
      </div>
      <div class="column buy">
        <p class="order-button">
          <a
            angulartics2On="click"
            angularticsAction="get the ticket"
            angularticsCategory="paygate"
            class="btn btn-blue"
            href="https://fide_world_chess.ontouraccess.com/"
            target="_blank">get the ticket</a>
        </p>
        <div class="image">
          <div class="london"></div>
          <div class="happy-man"></div>
        </div>
      </div>
    </div>
  </div>
</div>
