@import 'settings';
@import 'mixins';
@import "../../../html/css/variables";
$var-orange: #FF8775;
$var-blue: #4FABFF;
$var-gray-border: #D5D5D5;
$var-gray-text: #999999;
$var-shadow: rgba(105, 74, 213, 0.275362);

.subscriptions {
  .broadcast {
    overflow: hidden;

    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;

      &.bg-white {
          background-color: $white;
      }

      &.bg-gray {
          background-color: $gray-280;
      }
    }

    .column {
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 50%;
      }

      &.title-wrapper {
        @include media-breakpoint-up(xl) {
          width: 56%;
        }

        @include media-breakpoint-up(xl) {
          width: 56.84%;
        }
      }

      &.text-block {
        @include media-breakpoint-up(lg) {
          width: 44%;
        }

        @include media-breakpoint-up(xl) {
          width: 43.16%;
        }
      }

      &.buy {
        @include media-breakpoint-up(lg) {
          margin-top: -28px;
          position: relative;
          z-index: z-index(base);
        }

        @include media-breakpoint-up(xl) {
          width: 50.2%;
        }
      }
    }

    .title {
      color: $black;
      letter-spacing: 0.3px;
      padding: 17px 18px;
      font: 300 20px/26px $gerbera-font;

      @include media-breakpoint-up(lg) {
        font-size: 33px;
        letter-spacing: 0.96px;
        line-height: 43px;
        padding: 21px 20px;
        max-width: 300px;
      }

      .gray {
        color: $black;

        @include media-breakpoint-up(lg) {
          color: $gray-550;
        }
      }

      .orange {
        color: $var-orange;
      }
    }

    .text-block {
      padding-top: 13px;
      padding-left: 20px;
      padding-right: 20px;

      @include media-breakpoint-up(lg) {
        padding-top: 24px;
      }

      .description {
        color: #9E9E9E; // $gray-550
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 18px;

        @include media-breakpoint-up(lg) {
          color: black;
          line-height: 32px;
          font-size: 22px;
          letter-spacing: 0.3px;
          margin-bottom: 31px;
        }
      }

      .notes {
        .note {
          color: $black;
          font-size: 14px;
          letter-spacing: 0.381818px;
          line-height: 21px;
          position: relative;
          padding-left: 40px;
          margin-bottom: 21px;

          &:before {
            content: '';
            width: 17px;
            height: 19px;
            background: url("../../../assets/images/paygate/plus.svg") no-repeat center;
            position: absolute;
            left: 2px;
            top: -2px;

            @include media-breakpoint-up(lg) {
              width: 20px;
              height: 20px;
              left: 0.1px;
              top: 5px;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }

          @include media-breakpoint-up(lg) {
            color: black;
            font-size: 22px;
            letter-spacing: 0.6px;
            line-height: 28px;
            margin-left: 0;
            margin-bottom: 28px;
          }
        }
      }
    }

    .prices {
      color: $color-grey;
      font-size: 30px;
      line-height: 31px;
      text-align: right;
      padding: 0 40px;
      margin-top: 18px;
      margin-bottom: 15px;

      @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 33px;
        line-height: 31px;
        padding: 0;
        align-self: flex-start;
      }

      @include media-breakpoint-up(xl) {
      }

      .old-price {
        color: $color-grey;
        position: relative;
        margin-right: 14px;
        padding: 0 10px 0 3px;

        &:after {
          content: '';
          height: 2px;
          background-color: $color-grey;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          margin-top: -1px;
        }

        @include media-breakpoint-up(lg) {
          margin-right: 9px;
        }
      }

      .new-price {
        color: black;
        padding-right: 0;
      }
    }

    .order-button {
      text-align: center;
      padding-bottom: 31px;

      @include media-breakpoint-up(lg) {
        padding-top: 19px;
        padding-bottom: 50px;
        padding-right: 2px;
        text-align: right;
        z-index: z-index(base);
        position: relative;
      }

      .btn {
        background-color: $var-blue;
        box-shadow: 0 2px 44px $var-shadow;
        border-radius: 2px;
        display: inline-block;
        height: 45px;
        line-height: 43px;
        min-width: 236px;

        @include media-breakpoint-up(lg) {
          min-width: 269px;
        }

        &.btn-blue {
          color: #000;

          &:link, &:focus, &:hover, &:visited, &:active {
            color: #000;
          }
        }

        &.btn-disabled {
          background-color: transparent;
          border: 1px solid $var-gray-border;
          box-sizing: border-box;
          box-shadow: none;
          border-radius: 2px;
          color: $var-gray-text;
          transform: rotate(-5deg);
          pointer-events: none;
        }
      }

      &.disabled {
        padding-top: 95px;
        padding-bottom: 0;

        @include media-breakpoint-up(lg) {
          padding-top: 25px;
          padding-bottom: 0;
        }
      }
    }

    .image {
      position: relative;

      .supermen {
        width: 237px;
        height: 119px;
        background: url("../../../assets/images/paygate/paygate-subs/supermen.svg") no-repeat -18px 0;
        background-size: 260px auto;

        @include media-breakpoint-up(lg) {
          background-size: 416px auto;
          background-position-y: center;
          height: 277px;
          background-position-x: -33px;
          width: 375px;
        }

        @include media-breakpoint-up(xl) {
          background-size: 553px auto;
          height: 320px;
          background-position-x: -36px;
          width: 505px;
        }
      }

      .faces {
        width: 209px;
        height: 102px;
        background: url("../../../assets/images/paygate/paygate-subs/faces.svg") no-repeat 0 0;
        background-size: contain;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
          display: none;
        }
      }

      .london {
        width: 99px;
        height: 110px;
        background: url("../../../assets/images/paygate/paygate-subs/london.svg") no-repeat 0 0;
        background-size: contain;

        @include media-breakpoint-up(lg) {
          width: 147px;
          height: 163px;
        }

        @include media-breakpoint-up(xl) {
          width: 201px;
          height: 219px;
        }
      }

      .happy-man {
        width: 88px;
        height: 101px;
        background: url("../../../assets/images/paygate/paygate-subs/happy-man.svg") no-repeat 0 0;
        background-size: contain;

        @include media-breakpoint-up(lg) {
          width: 166px;
          height: 151px;
        }

        @include media-breakpoint-up(lg) {
          width: 225px;
          height: 198px;
        }
      }

      .off-28 {
        background: url("../../../assets/images/paygate/paygate-subs/off28.svg") no-repeat 0 0;
        background-size: contain;
        position: relative;
        margin-left: auto;
        display: none;
        transform: rotate(22deg);
        width: 270px;
        height: 175px;
        margin-top: -42px;
        left: 9px;

        @include media-breakpoint-up(lg) {
          display: block;
        }

        @include media-breakpoint-up(xl) {
          width: 355px;
          height: 337px;
          margin-top: -95px;
          left: -110px;
        }
      }
    }

    &.london20 {
      .title {
        padding-bottom: 0;
      }
    }

    &.club-25 {
      .columns {
        @include media-breakpoint-up(lg) {
          background-image: url("../../../assets/images/paygate/paygate-subs/faces.svg");
          background-repeat: no-repeat;
          background-position-x: 4px;
          background-position-y: bottom;
          background-size: 304px auto;
        }

        @include media-breakpoint-up(xl) {
          background-size: 401px auto;
          background-position-x: 2px;
        }
      }

      .title {
        padding-top: 23px;
        padding-bottom: 2px;

        @include media-breakpoint-up(lg) {
          padding: 28px 20px 8px;
          max-width: 300px;
        }

        @include media-breakpoint-up(xl) {
          padding: 36px 19px 0;
        }
      }

      .text-block {
        padding-top: 20px;
      }

      .order-button {
        padding-bottom: 41px;

        @include media-breakpoint-up(lg) {
          padding-bottom: 50px;
        }
      }
    }

    &.offline-ticket {
      .title {
        padding-top: 28px;
        padding-bottom: 10px;

        @include media-breakpoint-up(lg) {
          padding-top: 30px;
        }

        @include media-breakpoint-up(xl) {
          padding-top: 23px;
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        max-width: 100%;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
          margin-top: -50px;
          margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
          margin-top: -103px;
          margin-bottom: 0;
        }
      }

      .buy {
        display: flex;
        flex-direction: column-reverse;

        @include media-breakpoint-up(lg) {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin-top: 12px;
        }

        .image {
          padding-right: 22.5px;
          margin-bottom: 38px;

          @include media-breakpoint-up(lg) {
            margin-bottom: 0;
          }

          .london {
            margin-right: 5px;
          }
        }

        .order-button {
          padding-bottom: 29px;

          @include media-breakpoint-up(lg) {
            width: 50.1%;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
