<wc-layout [showSponsorsAtFooter]="false">
  <div class="sign-in__page-wrapper block block-100w">
    <div class="sign-in__figures-background"></div>
    <div class="sign-in__form-wrapper">
      <div class="sign-in__logo">
        <svg class="icon">
          <use xlink:href="#logo"></use>
        </svg>
      </div>
      <div class="sign-in__form" (keyup.enter)="signIn()">
          <div class="sign-in__form-row">
            <p *ngIf="isPasswordBeenReset$ | async" class="sign-in__form-error-text">
              For security reasons, the password was reset. <br>
              Password recovery email has been sent to your email.
            </p>
            <p *ngIf="(formErrors$ | async)?.non_field_errors as errorMessage" class="sign-in__form-error-text">
              {{ errorMessage }}
            </p>
          </div>
          <div class="sign-in__form-row">
            <app-email-input [email]="email" [responseError]="(formErrors$ | async)?.email"></app-email-input>
          </div>
          <div class="sign-in__form-row">
            <app-password-input [password]="password" [responseError]="(formErrors$ | async)?.password"></app-password-input>
          </div>
        <div class="sign-in__login-block">
          <div class="sign-in__login-block-col">
            New? 
            <a class="sign-in__link" routerLink="/sign-up">start here</a>. 
            Or login with 
          </div>
          <div class="sign-in__login-block-col">
            <div class="sign-in__link-social-wrapper">
                <a wcTwitterAuth class="sign-in__link-social">
                    <svg class="sign-in__social-icon">
                      <use xlink:href="#twitter"></use>
                    </svg>
                </a>
                <a wcFacebookAuth class="sign-in__link-social">
                    <svg class="sign-in__social-icon">
                      <use xlink:href="#fb"></use>
                    </svg>
                  </a>
                <!-- <a class="sign-in__link-social">
                    <svg class="sign-in__social-icon">
                      <use xlink:href="#instagram"></use>
                    </svg>
                </a> -->
            </div>
              
          </div>
          

        </div>
      </div>
      <div class="sign-in__form-submit">
        <button (click)="signIn()" [disabled]="loading$ | async" class="sign-in__submit">log in</button>
      </div>
    </div>
  </div>
</wc-layout>