@import "../../../html/css/variables";
@import "../../../html/css/media";

.paygate-embedded {
  padding: 80px 116px; 
  background: radial-gradient(1407.70px at 149.68% 100%, rgba(255, 105, 105, 0.466853) 0%, rgba(255, 105, 105, 0.0001) 100%), radial-gradient(1124.93px at -22.78% 42.73%, rgba(140, 83, 255, 0.42) 0%, rgba(140, 83, 255, 0.0001) 100%), radial-gradient(1397.54px at 121.19% -3.49%, rgba(72, 146, 255, 0.5) 0%, rgba(72, 146, 255, 0.0340768) 91.1%, rgba(72, 146, 255, 0.00938977) 100%, rgba(72, 146, 255, 0.0001) 100%), #000000;

  @include ipad() {
    padding: 20px; 
  }

  &__title {
    text-align: center;
    font: 300 34px/34px $gerbera-font;
    margin-bottom: 49px;
    color: #fff;

    @include phones() {
      font: 300 22px/30px $gerbera-font;
      margin-bottom: 21px;
    }
}

  &__container {
    display: flex;
    flex-direction: row;

    @include ipad() {
      flex-direction: column;
    }
  }

  &__submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 55px;
    background-color: #5184FF;
    border: 0;
    font: 400 22px/29px $gerbera-font;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;

    @include phones() {
      margin-right: auto;
      font: 400 15px/20px $gerbera-font;
      width: 129px;
      height: 35px;
    }
}

  &__submit--icon {
    position: relative;
    top: 3px;
    width: 21px;
    height: 20px;
    fill: #FF8585;
    margin-right: 15px;

    @include phones() {
      width: 18px;
      height: 17px;
      margin-right: 5px;
    }
  }
}

.paygate-embedded__wrapper {
  overflow: hidden;
  max-height: 9999px;
  height: auto;
  transition: all .5s linear;

  &.closed {
    max-height: 0;
  }
}