<div #paygateWrapper class="paygate-embedded__wrapper closed" [class.closed]="!(paygateEmbeddedService.isShowPaygate$ | async)">
  <div class="paygate-embedded" *ngIf="paygateEmbeddedService.paygateData$ | async as paygateData">
    <h2 class="paygate-embedded__title">Enter yout payment information</h2>
    <div class="paygate-embedded__container">
      <div class="paygate-embedded__form">
        <wc-payment-info-form #paymentForm [showEmbedded]="true" [error]="paymentFormError"></wc-payment-info-form>
      </div>
      <div class="paygate-embedded__aside">
        <wc-selected-plan [title]="paygateData.title" [price]="paygateData.price" [planType]="paygateData.planType" [showChange]="false" [isPlan]="paygateData.isPlan"></wc-selected-plan>
      </div>
    </div>
    <div class="paygate-embedded__submit-wrapper">
      <button class="paygate-embedded__submit" (click)="submit(paygateData.stripeId, paygateData.isPlan)">
          <svg class="paygate-embedded__submit--icon">
            <use xlink:href="#heart"></use>
          </svg>
          buy
      </button>
    </div>
  </div>
</div>