@import '../html/css/variables';
@import '../html/css/media';

.players {

    &__header {
      border-bottom: solid 1px #d2d2d2;
      width: 100%;
      margin-top: -6.5px;
      padding-bottom: 1px;
    }

    &__dropdown {
        display: inline-flex;
        position: relative;
    }

    &__dropdown-btn {
        display: -ms-inline-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer;
    }

    &__dropdown-link {
        width: 10px;
        height: 10px;
        fill: $blue;
        transform: rotate(0deg);

        &--opened {
          transform: rotate(180deg);
        }
    }

    &__dropdown-flag {
        margin-right: 15px;
        min-width: 30px;
        height: 22px;
        img {
            display: block;
        }
    }

    &__dropdown-country {
        margin-right: 20px;
        white-space: nowrap;
        font: 400 22px/32px $gerbera-font;
    }

    &__dropdown-country-reduction {
        margin-right: 70px;
        width: 25px;
        font: 700 11px/16px $gerbera-font;
    }

    &__dropdown-list {
        position: absolute;
        opacity: 1;
        background-color: #efefef;
        z-index: z-index(base-dropdown);
        max-height: 340px;
        overflow-y: auto;
        border: solid 1px #d2d2d2;
        top: -1.5px;
    }

    &__dropdown-elem {
        display: flex;
        align-items: center;
        flex: 1;
        height: 51px;
        padding: 10px 16px;
        border-bottom: solid 1px #d2d2d2;
        cursor: pointer;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 13px 10px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 190px;

        @include phones() {
          height: auto;
          flex-direction: row;
        }
    }

    &__elem {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 15px 5px;

        @include phones() {
          flex: 1 0 auto;
          min-width: 260px;
          padding: 15px 10px;
        }
    }

    &__number {
        margin-right: 20px;
        font: 400 15px/22px $gerbera-font;

        @include phones() {
          flex: 0 0 auto;
        }
    }

    &__photo {
        overflow: hidden;
        border-radius: 50%;
        width: 32.7px;
        height: 32.7px;
        background-color: #d8d8d8;
        margin-right: 25px;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        margin-right: 15px;
        font: 300 22px/32px $gerbera-font;

        @include phones() {
          flex: 0 1 auto;
        }
    }

    &__rank {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        height: 17.2px;
        background-color: #333333;
        color: #fff;
        margin-right: 7px;
        font: 700 11px/16px $gerbera-font;

        @include phones() {
          flex: 0 0 auto;
        }
    }

    &__year {
        font: 700 11px/16px $gerbera-font;

        @include phones() {
          flex: 0 0 auto;
        }
    }
}


.btn {
    background-color: $blue;
    height: 34px;
    padding: 5px 20px;
    color: #000;
    border: 1px solid transparent;
    cursor: pointer;
    align-self: flex-end;
    z-index: z-index(base, 1);
    font: 400 15px/20px $gerbera-font;

    &--right {
        margin-left: auto;
    }

    &--desck {
        @include phones() {
           display: none;
        }
    }

    &:hover {
      transition: all .4s ease;
      border: 1px solid black;
    }
}