<div class="fide-text  lang-{{accountService.getLanguage() | async }}">
  <div class="fide-text__row">
    <div class="fide-text__col">
      <div class="fide-text__title">
        {{ 'TEXT.WHAT_IS_FIDE_ONLINE_RATING' | translate}}?
      </div>
      <div class="fide-text__text fide-text__text--width">
        {{ 'TEXT.THE_FIDE_ONLINE_RATING_IS_JUST_LIKE_REGULAR_FIDE' | translate}}.</div>
    </div>
  </div>
  <div class="fide-text__row">
    <div class="fide-text__col">
      <div class="fide-text__title-small">
        {{ 'OTHER.BEFORE' | translate}}
      </div>
      <div class="fide-text__text">{{ 'TEXT.BECOMING_FIDE_GRAND_MASTER' | translate}}</div>
      <div class="play-chess"></div>
      <div class="fide-text__text-small">{{ 'TEXT.BEFORE_TO_PLAY_FOR_FIDE_RATING' | translate}}.</div>
    </div>
    <div class="fide-text__col">
      <div class="fide-text__title-small">{{ 'OTHER.NOW' | translate}}</div>
      <div class="fide-text__text">{{ 'TEXT.BECOMING_FIDE_ONLINE_MASTER' | translate}}</div>
      <div class="hexagon-chess">
        <div class="hexagon-chess__text">
          {{ 'TEXT.JUST_PLAY_CHESS_BRILLIANTLY' | translate}}
          <span>{{ 'TEXT.WHENEVER_AND_WHEREVER_YOU_WANT' | translate}}</span>
        </div>
      </div>
      <div class="fide-text__text-small">
        {{ 'TEXT.NOW_TO_GET_AN_OFFICIAL_TITLE_ONLINE' | translate}}.
      </div>
    </div>
  </div>
</div>