<div class="main-news__block-list">
  <div class="main-news-block__item">
    <div class="main-news-block__grid-row">
      <div class="main-news-block__grid-col main-news-block__grid-col--main">
        <main-page-news-item [newsItem]="data[0]"></main-page-news-item>
      </div>
    </div>
  </div>
  <div class="main-news-block__item main-news-block__item--column">
    <div class="main-news-block__grid-row">
      <div class="main-news-block__grid-col">
        <main-page-news-item [newsItem]="data[1]"></main-page-news-item>
      </div>
      <div class="main-news-block__grid-col">
        <main-page-news-item [newsItem]="data[2]"></main-page-news-item>
      </div>
    </div>
    <div class="main-news-block__grid-row">
      <div class="main-news-block__grid-col">
        <main-page-news-item [newsItem]="data[3]"></main-page-news-item>
      </div>
      <div class="main-news-block__grid-col">
        <main-page-news-item [newsItem]="data[4]"></main-page-news-item>
      </div>
    </div>
  </div>
</div>
