@import "variables-new";
@import "media-new";


:host {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.partners {
  padding: 20px 0;
}


.partners__row {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 259px;
  min-height: 259px;
}

.partners__title {
  font: 300 30px/32px $gerbera-font;
  margin-bottom: 15px;
  text-align: center;
  @include birman-media {
    padding: 0 10px;
  }
}

