@import '../html/css/variables.scss';
@import '../html/css/media.scss';
// todo: create common variables & media files

.footer-info {
  width: 100%;

  &__text {
    font: 400 16px/23px $gerbera-font;

    &--small {
      font: 400 11px/16px $gerbera-font;
      color: $black-light;
    }
  }

  &__title {
    font: 300 38px/48px $gerbera-font;
    @include tablets-big() {
      font: 300 33px/43px $gerbera-font;
    }

    &--white {
      color: #fff;
    }

    &--gray {
      color: #9e9e9e;
    }

    &--small {
      font-size: 22px;
    }
  }

  &__elem {
    margin-bottom: 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid $black-light;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__img {
    width: 100%;
    height: 300px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.related-media {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  cursor: pointer;
}

.related-media__btn {
  display: flex;
  align-items: center;
  color: $var-blue;
  padding: 11px;
  font: normal 18px/23px $gerbera-font;
}

.related-media__btn-icon {
  transform: rotate(-90deg);
  width: 15px;
  fill: $var-blue;
  margin-left: 12px;
}
