<div class="root lang-{{accountService.getLanguage() | async }}">
  <div class="root-en">
    <div class="logo">
      <div class="icon-wrapper"><svg-logo-fide class="logo__hourse icon"></svg-logo-fide></div>
      <div class="icon-wrapper"><svg-logo class="logo__svg logo__svg--chess icon"></svg-logo></div>
    </div>
    <div class="title">
      <div>{{ 'MESSAGES.FIDE_RATED' | translate}}</div>
      <div>{{ 'MESSAGES.OFFICIAL' | translate}}</div>
      <div>{{ 'MESSAGES.ONLINE_GAMING' | translate}}</div>
      <a href="https://www.notion.so/worldchess/FIDE-Online-Arena-Beta-baa5a906c48f4c229e49101091c63617" target="_blank">(Beta)</a>
    </div>
  </div>
  <div class="root-ru">
    <img class="logo-mts" src="../../../../../assets/images/sponsor/logo-mts.svg" alt="mts">
  </div>
</div>
