
<div class="main-page-footer">
    <ul class="main-page-footer__list">
        <li class="main-page-footer__elem">
            <a href="https://worldchess.com/tournament/jerusalem2019/4.2/Nepomniachtchi-Wei" target="_blank" class="main-page-footer__link">
                Watch
                <svg-arrow-left class="icon"></svg-arrow-left>
            </a>
            <span class="main-page-footer__sub-link">
                <svg-arrow-from-right-to-left class="icon icon--desctop"></svg-arrow-from-right-to-left>
                <div class="main-page-footer__sub-link-text">
                  <div class="main-page-footer__arrow-mobile">
                    <svg-arrow-right class="icon  icon--mobile"></svg-arrow-right>
                  </div>
                  Replay: Sunway Chess Festival 2019
                </div>
            </span>
        </li>
        <li class="main-page-footer__elem">
            <span routerLink="/arena" class="main-page-footer__link">
                Play
                <svg-arrow-left class="icon"></svg-arrow-left>
            </span>
        </li>
        <li class="main-page-footer__elem">
            <a href="https://shop.worldchess.com/" target="_blank" class="main-page-footer__link">
                Shop
                <svg-arrow-left class="icon"></svg-arrow-left>
            </a>
            <span class="main-page-footer__sub-link main-page-footer__sub-link--brown">
                <svg-arrow-from-right-to-left class="icon icon--desctop"></svg-arrow-from-right-to-left>
                <div class="main-page-footer__sub-link-text">
                  <div class="main-page-footer__arrow-mobile">
                    <svg-arrow-right class="icon icon--mobile"></svg-arrow-right>
                  </div>
                  New official 2020 Sweatshirt
                </div>
            </span>
        </li>
    </ul>
</div>
<div class="footer">
    <div class="footer__row">
      <div class="footer__col footer__col--left">
        <div class="footer__link-block">
          <a target="blank" href="https://bureau.rocks/" class="footer__link">
            <svg-bureau class="footer__logo"></svg-bureau>
          </a>
          <div class="footer__text">
            Designed in 2020 in Bureau Gorbunov
          </div>
        </div>
        <div class="footer__link-block">
          <a target="blank" href="https://usetech.ru/" class="footer__link">
            <svg-usetech class="footer__logo footer__logo--usetech"></svg-usetech>
          </a>
          <div class="footer__text">
            Developed by Usetech
          </div>
        </div>
      </div>
      <div class="footer__col footer__col--center">
        <div class="links">
          <div class="links__block-wrapp">
            <div class="links__block">
                <div class="links__elem">
                  <a href="http://business.worldchess.com/contacts/" target="_blank"
                    class="links__link">
                    Contacts
                  </a>
                </div>
                <div class="links__elem">
                  <a href="https://www.notion.so/worldchess/FIDE-Online-Arena-Privacy-Policy-470e3c8fdc9148f49611e66df8a25448"
                    target="_blank"
                    class="links__link">
                    Privacy Policy
                  </a>
                </div>
              </div>
            <div class="links__block">
              <div class="links__elem">
                <a href="https://worldchess.com/assets/docs/terms-of-use.pdf" target="_blank"
                  class="links__link">
                    Terms of Use
                </a>
              </div>
              <div class="links__elem">
                <a href="https://worldchess.com/partnership"
                  target="_blank"
                  class="links__link">
                    Partnership
                </a>
              </div>
            </div>
          </div>
          <div class="links__block-wrapp">
            <div class="links__block">
              <div class="links__elem">
                <a href="http://sponsorship.worldchess.com/"
                  target="_blank"
                  class="links__link">
                    Sponsorship
                </a>
              </div>
              <div class="links__elem">
                <a href="http://business.worldchess.com/"
                  target="_blank"
                  class="links__link">
                    Business
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="footer__col footer__col--right">
        <div class="footer__social">
          <a target="blank" href="https://twitter.com/theworldchess" class="footer__social-icon footer__social-icon--twitter">
            <svg-twet class="icon"></svg-twet>
          </a>
          <a target="blank" href="https://www.facebook.com/theworldchess" class="footer__social-icon footer__social-icon--facebook">
            <svg-facebook class="icon"></svg-facebook>
          </a>
          <a target="blank" href="https://www.instagram.com/theworldchess" class="footer__social-icon footer__social-icon--instagram">
            <svg-instagram class="icon"></svg-instagram>
          </a>
        </div>
      </div>
    </div>
  </div>