@import "settings";
@import "mixins";
@import "../../../../html/css/variables";


.title-block {
  color: #fff;
  margin-bottom: 35px;
  letter-spacing: -0.2px;
  font: 300 40px/52px $gerbera-font;

  span {
    letter-spacing: 1.9px;
  }

  @include media-breakpoint-down(lg) {
    font: 300 30px/43px $gerbera-font;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    font: 300 22px/28px $gerbera-font;
  }
}

.title-block__play {
  display: inline-flex;
  align-items: center;
  padding: 7px 9px;
  border: 1px solid #8E8E8E;
  letter-spacing: 1.55px;
  vertical-align: middle;
  font: 400 17px/25px $gerbera-font;

  @include media-breakpoint-down(sm) {
    padding: 4px 7px;
    font-size: 15px;
    vertical-align: baseline;
  }

  &:before {
    content: '';
    display: inline-block;
    background-color: #59F19B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
    opacity: 1;
    animation: flash 2s infinite;

    @include media-breakpoint-down(sm) {
      width: 18px;
      height: 18px;
    }
  }
}

.title-block__buttons {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;

  @include media-breakpoint-down(sm) {
    padding-right: 20px;
  }
}

.title-block__btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  text-align: center;
  padding: 5px 13px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0px 0px 10px $var-blue;

  &:hover {
    background-color: $var-blue;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.85;
  }
}
