@import '../html/css/variables.scss';
@import '../html/css/media.scss';

.news-container {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 617px;

  &--flex {
    display: flex;
  }
  @include phones() {
    flex-direction: column;
    min-height: auto;
  }
}

.information-aside {
  position: relative;
  flex: 0 0 auto;
  width: 425px;
  background-color: $black;
  padding: 20px;
  overflow: hidden;

  &--media {
    padding-bottom: 16px;
  }

  &--portable {
    display: flex;
    @include phones() {
      display: none;
    }
  }

  &--mobile {
    display: none;
    @include phones() {
      display: flex;
    }
  }
  @include phones() {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
