<div class="features">
  <div class="features--title">
    <span>Chess is spectacular.</span>
    See for yourself!
  </div>
  <div class="features--sub-title">
    <span>Premium</span> membership <br>features
  </div>
  <div class="features--sliders">
    <div class="features--images">
      <div class="slider-paygate-features-images">
        <img class="item" src="./assets/images/paygate/features/01.jpg" alt="">
        <img class="item" src="./assets/images/paygate/features/02.jpg" alt="">
        <img class="item" src="./assets/images/paygate/features/03.jpg" alt="">
        <img class="item" src="./assets/images/paygate/features/04.jpg" alt="">
      </div>
    </div>
    <div class="features--descriptions">
      <div class="slider-paygate-features-descriptions">
        <div class="item">
          <span class="title">Multifunctional Board</span>
          <span class="text">
            lets you replay each move, try your own move to see how it can
            impact the outcome of a game and share moves on social networks
          </span>
        </div>
        <div class="item">
          <span class="title">Extended analytics</span>
          <span class="text">
            with detailed game parameters together with several lines
            of move predictions calculated on the fastest servers
          </span>
        </div>
        <div class="item">
          <span class="title">Live video</span>
          <span class="text">
            with multi-camera view. Switch between multiple cameras
            within the playing arena to get unique views of the action
          </span>
        </div>
        <div class="item">
          <span class="title">Live commentary</span>
          <span class="text">
            in several languages from leading grandmasters and guest celebrity chess fans
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="features--container">
    <div class="row">
      <div class="coll coll-top-left">
        <span>Multifunctional Board</span> lets you replay each move,
        try your own move to see how it can impact
        the&nbsp;outcome of a game and share moves on
        social&nbsp;networks
      </div>
      <div class="coll coll-top-right">
        <span>Live video</span> with multi-camera view. Switch
        between multiple cameras within
        the&nbsp;playing arena to get unique views of the action
      </div>
    </div>
    <img class="img" src="./assets/images/paygate/paygate-scene-desktop.jpg">
    <div class="row">
      <div class="coll coll-bottom-left">
        <span>Chat with Experts</span>
        who comment of the games live
      </div>
      <div class="coll coll-bottom-right">
        <span>Live commentary</span> in several languages
        from leading grandmasters and guest
        celebrity chess fans
      </div>
    </div>
  </div>
  <div class="features--footer">
    <div class="wrapper">
      <img src="./assets/images/paygate/plus.svg" alt="">
      <p>
        Part of the subscription goes towards <br><span>increasing</span> the prize fund for the cycle
      </p>
    </div>
  </div>
</div>
