@import '../../../../../html/css/variables';
@import '../../../../../html/css/media';

:host {
  z-index: z-index(modal);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;

  @include phones() {
    overflow: auto;
  }
}

.go-premium {
  background-color: rgba(95, 65, 255, 1);
  margin: 50px auto 0;
  width: 640px;
  height: 480px;
  position: relative;
  font-family: $gerbera-font;
  color: white;
  @include phones() {
    overflow-y: auto;
    max-height: calc(100vh - 50px);
  }

  @include phones() {
    width: auto;
    height: auto;
  }

  &__title {
    font-size: 26px;
    padding: 25px;
    @include phones() {
      padding: 20px 25px;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 31px;
    height: 31px;

    &:before, &:after {
      content: '';
      width: 33px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -2px;
      margin-left: -16.5px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    padding: 0 25px;
  }

  &__buy-section {
    display: flex;
    margin-bottom: 10px;
  }

  &__buy-half {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;

    @include phones() {
      flex-direction: column;
      padding: 40px 0;
    }

    &:last-of-type {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      padding-left: 25px;
    }

    &:first-child {
      padding-right: 25px;
    }

  }

  &__buy-text {
    &--black {
      color: black;
    }

    &--crossed {
      text-decoration: line-through;
    }
  }

  &__buy-button {
    flex: 0 0 auto;
    background-color: #000000;
    color: #FFF;
    border: 1px solid transparent;
    padding: 5px 30px;
    cursor: pointer;
    font: 400 15px/22px $gerbera-font;

    @include phones() {
      margin-top: 10px;
    }

    &:hover {
      transition: all 0.2s ease;
      border: 1px solid white;
    }
  }

  &__image {
    background: url("/assets/images/board-example.png") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 640px;
    height: 350px;

    @include phones() {
      height: 54vw;
      width: 100%;
    }
  }


}
