@import "../../../html/css/variables";
@import "../../../html/css/media";


div.mat-dialog-wrapper {
  max-height: calc(100vh - 48px);
}

p.mat-dialog-title {
  text-align: center;
  font: 400 24px/34px $gerbera-font;
  margin-bottom: 10px;
}

div.mat-dialog-content {
  text-align: center;
  margin: 20px -24px;
  padding: 0px 30px;
  font-size: 24px;
  max-width: 800px;
  max-height: calc(100vh - 350px);

  h3 {
    color: $gray-bg-new;
    font: 400 26px/36px $cofo-sans-font;
  }

  select,
  textarea,
  input {
    width: 100%;
    border: none;
    box-shadow: 0px 0px 8px $gray-bg-new;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    background: none;
    color: $gray-bg-new;
    font: 400 16px $cofo-sans-font;
    appearance: none;
    padding-right: 40px;
    overflow: hidden;
  }

  textarea {
    resize: none;
    height: 150px;
  }
  ::ng-deep {
    .mat-form-field-underline,
    .mat-form-field-subscript-wrapper {
      display: none;
    }
    .mat-form-field-label {
      transform: translateY(0) scale(1) !important;
      color: #000;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  

  .select-wrapper {
    width: 100%;
    position: relative;

    svg.icon {
      position: absolute;
      width: 20px;
      right: 10px;
      top: 15px;
      pointer-events: none;
      fill: $gray-bg-new;
    }
  }
  .select-textarea {
    box-shadow: 0px 0px 8px $gray-bg-new;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    textarea {
      width: 100%;
      border: none;
      padding: 10px;
      border-radius: 10px;
      resize: none;
    }
  }

  .invalid {
    box-shadow: 0px 0px 8px $red;
  }

}

div.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;

  button {
    background-color: white;
    border-radius: 20px;
    //width: 30%;

    &.btn-white {
      box-shadow: 0px 0px 8px $gray-bg-new;
      color: $gray-bg-new;
    }

    &.btn-blue {
      background-color: $gray-bg-new;
      color: white;
    }
  }
}
.example-full-width {
  width: 100%;
}
