@import "../../../html/css/variables";
@import "../../../html/css/media";

p.mat-dialog-title {
  text-align: center;
  font: 400 24px/34px $gerbera-font;
}

div.mat-dialog-content {
  text-align: center;
  margin: 60px 0;
  font-size: 24px;
  max-width: 800px;

  h3 {
    color: $var-blue;
    font: 400 26px/36px $cofo-sans-font;
  }

  textarea {
    width: 100%;
    border: none;
    box-shadow: 0px 0px 8px $var-blue;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
  }
}

div.mat-dialog-actions {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;

  button {
    background-color: white;
    border-radius: 20px;
    width: 30%;
    
    &.btn-white {
      box-shadow: 0px 0px 8px $var-blue;
      color: $var-blue;
    }

    &.btn-blue {
      background-color: $var-blue;
      color: white;
    }
  }
}