<form [formGroup]="form" (ngSubmit)="submit()" class="register">
  <a class="register__close" (click)="closePopup()"></a>
  <div class="register__title">
    Enter and confirm your password
    <div class="register__text">
      You can <!--a href="#">change email</a> or--> <a [routerLink]="['', { outlets: { p: ['paygate', 'login'] } }]">log in</a> if you already have an account.
    </div>
  </div>
  <div class="register__labels">
    <div class="input-text">
      <label class="input-text__input">
        <div class="input-text__wparrer">
          <input
            class="input-text__elem"
            [class.input-text__elem--active]="!!form.controls['new_password'].value"
            type="password"
            formControlName="new_password"
          />
          <div class="input-text__placeholder">password</div>
        </div>
        <div *ngIf="formErrors$ | async as errors" class="input-text__error">
          <div [hidden]="!errors?.new_password?.required">Invalid password</div>
          <div [hidden]="!errors?.new_password?.response">{{ errors?.new_password?.response }}</div>
        </div>
      </label>
    </div>
    <div class="input-text">
      <label class="input-text__input">
        <div class="input-text__wparrer">
          <input
            class="input-text__elem"
            [class.input-text__elem--active]="!!form.controls['repeat'].value"
            type="password"
            formControlName="repeat"
          />
          <div class="input-text__placeholder">confirmation password</div>
        </div>
        <div *ngIf="formErrors$ | async as errors" class="input-text__error">
          <div [hidden]="!errors?.repeat?.required">Passwords do not match</div>
          <div [hidden]="!errors?.repeat?.match">Passwords does not match</div>
          <div [hidden]="!errors?.repeat?.response">{{ errors?.repeat?.response }}</div>
        </div>
      </label>
    </div>
  </div>
  <div class="register__footer">
    <div class="register__footer-coll">
      <div class="navigation">
        <!--button class="navigation__btn">
          <svg class="icon">
            <use xlink:href="#arrow-left"></use>
          </svg>
          back
        </button>
        <button class="navigation__btn">
          resend
        </button-->
      </div>
    </div>

    <div class="register__footer-coll">
      <button class="register__btn" type="submit">confirm</button>
    </div>
  </div>
</form>
