<wc-base-popup>
  <form [formGroup]="form" (ngSubmit)="form.submit()" class="register">
      <div class="register__head">
          <div class="register__title">
              <span class="register__title-text">Enter and confirm your password</span>
          </div>
          <div class="register__step" *ngIf="maxSteps$ | async as maxSteps">
            <svg-arrow-left class="icon" (click)="history.back()"></svg-arrow-left>
            <svg-arrow-left-bold class="icon icon--mobile" (click)="history.back()"></svg-arrow-left-bold>3<span style="font-size:0.5em">&nbsp;</span>/<span style="font-size:0.5em">&nbsp;</span>{{ maxSteps }}</div>
      </div>

    <div class="register__labels">
      <div class="register-input register-input--width">
        <label class="register-input__input" [shake]="form.controls['password'].shake$">
          <div class="register-input__wrapper">
            <input
              class="register-input__elem"
              [class.register-input__elem--active]="!(form.controls['password'].empty$ | async)"
              type="password"
              paygateFormControl
              formControlName="password"
            />
            <div class="register-input__placeholder register-input__placeholder--white">Password</div>
          </div>
        </label>
      </div>
      <div class="register-input register-input--width">
        <label class="register-input__input" [shake]="form.controls['repeat'].shake$">
          <div class="register-input__wrapper">
            <input
              class="register-input__elem"
              [class.register-input__elem--active]="!(form.controls['repeat'].empty$ | async)"
              type="password"
              paygateFormControl
              formControlName="repeat"
            />
            <div class="register-input__placeholder">
              Once again
              <div *ngIf="equalityError$ | async" class="register-input__error">
                <div class="register-input__error-text">
                  Passwords do not match
                </div>
              </div>
            </div>
          </div>
        </label>
      </div>
      <div class="register__error">
        <div *ngIf="(form.controls['password'].error$ | async) === 'strong'">
          <div>
            Password should be stronger.
            This will help protect your payment data and FIDE profile.
            Make sure your password is longer than 8 characters,
            contains at least one number and letter, is not widely shared (12345, qwerty, password, etc.),
            does not match the email address you entered earlier.
           </div>
        </div>
      </div>
    </div>
    <div class="register__footer">
      <div class="register__footer-coll">
        <wc-btn-with-loading
          [loading]="loading$ | async"
          [disabled]="form.invalid$ | async"
        >
          Confirm
        </wc-btn-with-loading>
      </div>
    </div>
  </form>
</wc-base-popup>
