<div *ngIf="this.buyProcessStart && this.selectedPlan">
  <div class="d-flex columns">
    <app-auth
      *ngIf="!isAuthorized && !successful"
      [isSingIn]="authBlockIsSingInMode"
      (isSingInChange)="switchSingInForm($event)"
      (signInCredentialChange)="onSignInCredentialChange($event)"
      (signUpCredentialChange)="onSignUpCredentialChange($event)"
      class="flex-fill auth">
    </app-auth>
    <app-buy class="flex-fill buy"
             *ngIf="!successful"
             (buyEnd)="buyEnd($event)"
             (couponStart)="couponStart()"
             (couponEnd)="couponEnd()"
             (buyStart)="buyStart()"
             [isAuthorized]="this.isAuthorized"
             [productId]="this.selectedPlan.id"
             [productPrice]="this.selectedPlan.price"
             [buyStatus]="this.buyStatus"
             [loading]="loading"
             [type]="this.selectedPlan.type">
    </app-buy>
    <div *ngIf="successful" class="success">
      <div class="success-title">Thanks for joining!</div>
      <div class="success-description">We love you. {{ !isAuthorized ? 'Please sign in.' : '' }}</div>
    </div>
  </div>
</div>
