@import "settings";
@import "mixins";
@import "../../../../html/css/variables";
.columns {
  flex-wrap: wrap;
}

.flex-fill {
  width: 100%;

  &.auth {
    border-bottom: 1px solid $gray-250;
  }

  &.buy {
    width: 100%;
  }
}

.success {
  padding: 12px 25px 12px 19px;
  width: 100%;
  max-height: calc(100vh - 20px);
  overflow: hidden;
  font: 300 29px/35px $gerbera-font;

  &:after {
    content: '';
    background-image: url("../../../../assets/images/paygate/success-mobile.png");
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 311px;
    margin: 68px auto 0;

    @include media-breakpoint-up(lg) {
      background-image: url("../../../../assets/images/paygate/success-desktop.png");
      height: 497px;
      margin-top: 18px;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 55px;
    line-height: 64px;
    padding: 32px 49px 44px 41px;
  }

  .success-title {
    color: $gray-550;
    padding-right: 41px;
  }

  .success-description {
    color: $black;
  }
}

