@font-face {
    font-family: 'Gerbera';
    src: url('assets/fonts/Gerbera.woff2') format('woff2'),
        url('assets/fonts/Gerbera.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('assets/fonts/Gerbera-Bold.woff2') format('woff2'),
        url('assets/fonts/Gerbera-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('assets/fonts/Gerbera-Light.woff2') format('woff2'),
        url('assets/fonts/Gerbera-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'cofo_sans_beta_italic';
    src: url('assets/fonts/CoFoSansBeta-Italic.woff2') format('woff2'),
         url('assets/fonts/CoFoSansBeta-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Cofo_sans';
    src: url('assets/fonts/CoFoSans-Black.woff2') format('woff2'),
         url('assets/fonts/CoFoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Cofo_sans';
    src: url('assets/fonts/CoFoSans-Bold.woff2') format('woff2'),
         url('assets/fonts/CoFoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Cofo_sans';
    src: url('assets/fonts/CoFoSans-Regular.woff2') format('woff2'),
         url('assets/fonts/CoFoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'CliftonTrial_Italic';
    src: url('assets/fonts/CliftonTrial-Italic.woff2') format('woff2'),
         url('assets/fonts/CliftonTrial-Italic.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Herr-Von-Muellerhoff';
    src: url('assets/fonts/HerrVonMuellerhoff-Regular.woff2') format('woff2'),
        url('assets/fonts/HerrVonMuellerhoff-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeue_Regular';
    src: url('assets/fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('assets/fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chess_Type';
    src: url('assets/fonts/Chess_Type.otf') format('woff2');
}
