@font-face {
    font-family: 'Gerbera';
    src: url('assets/fonts/Gerbera.woff2') format('woff2'),
        url('assets/fonts/Gerbera.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('assets/fonts/Gerbera-Bold.woff2') format('woff2'),
        url('assets/fonts/Gerbera-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('assets/fonts/Gerbera-Light.woff2') format('woff2'),
        url('assets/fonts/Gerbera-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'cofo_sans_beta_italic';
    src: url('assets/fonts/CoFoSansBeta-Italic.woff2') format('woff2'),
         url('assets/fonts/CoFoSansBeta-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Cofo_sans';
    src: url('assets/fonts/CoFoSans-Black.woff2') format('woff2'),
         url('assets/fonts/CoFoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Cofo_sans';
    src: url('assets/fonts/CoFoSans-Bold.woff2') format('woff2'),
         url('assets/fonts/CoFoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Cofo_sans';
    src: url('assets/fonts/CoFoSans-Regular.woff2') format('woff2'),
         url('assets/fonts/CoFoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}