@import "variables-new";
@import "media-new";

:host {
  padding-bottom: 2px;

  @include birman-media {
    padding-bottom: 0;
    margin-bottom: -2px;
  }
  .root {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    line-height: 28px;
    width: 100%;

    @include birman-media {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .left-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .tournaments-row {
    color: #FFFFFF;

    @include birman-media {
      text-align: left;
      font: 300 22px/30px $gerbera-font;
      margin-bottom: 0px;
    }
  }

  .chess-rated-row {
    color: #525252;
  }

  .join-button {
    width: 230px;  
    display: block;

    ::ng-deep {
      .btn-new {
        width: 100%;
      }
    }
  }
}

.desctop {
  display: block;
  @include birman-media {
    display: none;
  }
}

.mobile {
  display: none;
  @include birman-media {
    display: block;
  }
}
